.right-menus-summary-root {
  height: 100%;

  .header {
    height: 54px;
    width: calc(100% - 24px * 2);
    margin: 0 24px;
    border-bottom: 1px solid var(--ad-line-color);

    .click-mask {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;

      &:hover {
        .close-icon {
          font-size: 16px;
          color: var(--ad-text-color);
        }
      }

      .close-icon {
        font-size: 16px;
        color: var(--ad-text-color-secondary);
      }
    }
  }

  .tabs-box {
    height: calc(100% - 54px);
    padding-bottom: 52px;

    .ant-tabs,
    .ant-tabs-content-holder,
    .ant-tabs-content,
    .ant-tabs-tabpane {
      height: 100%;
    }

    .ant-tabs-nav {
      width: calc(100% - 24px * 2);
      margin: 0 24px;
    }

    .ant-tabs-nav-list {
      width: 100%;

      .ant-tabs-tab {
        width: 50%;
      }

      .ant-tabs-tab + .ant-tabs-tab {
        margin: 0;
      }

      .ant-tabs-tab-btn {
        width: 100%;
        text-align: center;
        padding: 0 12px;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &.hide {
      display: none;
    }
  }
}
