.tagPopover {
  padding: 0px;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 0px;
    .tagPopoverContent {
      display: flex;
      overflow: auto;
      flex-wrap: wrap;
      max-width: 480px;
      max-height: 184px;
      padding: 4px 4px 12px 12px;
      .tags {
        height: 34px;
        padding: 6px 8px;
        margin-top: 8px;
        margin-right: 8px;
        border-radius: 3px;
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
}

// antd 样式覆盖
.ant-table-tbody > tr.ant-table-row-selected > td {
  background: transparent;
}
.ant-table-tbody > tr.ant-table-row-selected:hover > td {
  background: transparent;
}
.ant-table-tbody > tr.ant-table-row-selected > .ant-table-cell-fix-right {
  background: #fff !important;
}
.ant-table-tbody > tr.ant-table-row-selected:hover > .ant-table-cell-fix-right {
  background: #fff !important;
}

.ant-table-wrapper {
  height: calc(100% - 38px);
  .ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
      height: 100%;
      .ant-table {
        height: 100%;
        .ant-table-container {
          height: 100%;
          .ant-table-body {
            min-height: 86px;
          }
        }
      }
    }
  }
}

.model-desc {
  font-size: 12px;
}

.modelTable {
}
