.thesaurus-management {
  width: 100%;
  height: calc(100vh - 64px);

  .thesaurus-list-box {
    position: fixed;
    width: 296px;
    height: 100%;
    background: #fff;
    border-right: 1px solid var(--ad-line-color);
    z-index: 10;
  }

  .thesaurus-content-box {
    position: relative;
    min-width: 980px;
    margin: 0 auto;
    // z-index: 1;
    width: 100%;
    height: 100%;
    padding-left: 297px;

    .thesaurus-empty {
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
      height: calc(100vh - 64px);
      background-color: #f8f8f8;

      .empty-content {

        .text-des {
          margin-top: 8px;
          text-align: center;
          cursor: default;
        }
      }
    }
  }

}