.storage-graph-modal {
  .ant-modal-content {
    width: 640px;
    height: 600px;

    .ant-modal-body {
      padding: 0;
      .modal-body {
        padding: 24px 24px 0;
        display: inline-block;
        height: 477px;
        color: var(--ad-text-color-secondary);
        .noData-box {
          margin: 80px auto;
          .noData-text {
            margin-top: 8px;
            font-size: 14px;
            color: var(--ad-text-color);
          }
        }
      }

      .modal-footer {
        height: 64px;
        padding: 16px 24px 0;
        text-align: right;
        border-top: 1px solid var(--ad-line-color);
      }

      .ant-table-row .ant-table-cell {
        padding: 21px 16px 20px;
      }
    }
  }
}
