.mf-prompt-config-root {
  .main-left {
    flex-shrink: 0;
    width: 568px;
    border-right: 1px solid var(--kw-line-color);
  }

  .main-right {
    background: #fafafa;
  }

  .prompt-config-main {
    height: calc(100% - 44px);
  }
}
