.data-base {
  margin: 25px 0 0 0;

  .ant-empty-image {
    height: 50px;
    margin: 20px 0 8px 0;
  }

  .basic-info {
    width: 689px;
    height: 110px;
    border-radius: 3px;
    border: 1px solid rgba(230, 230, 230, 1);

    .head {
      width: 686px;
      height: 36px;
      background: rgba(250, 250, 250, 1);
      border-radius: 3px 3px 0px 0px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--ad-heading-color);
      padding: 6px 20px;
    }

    .info {
      width: 686px;
      height: 74px;
      border-radius: 3px 3px 0px 0px;

      .line {
        float: left;
        width: 330px;
        padding: 10px 0 0 20px;

        .start {
          color: var(--ad-heading-color);

          .line-right {
            margin: 0 0 0 28px;
          }
        }
      }
    }
  }

  .tip {
    width: 690px;
    height: 36px;
    margin: 20px 0 0 0;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 36px;

    .icon {
      margin: 0 8px 0 0;
      color: var(--ad-warning-color);
    }
  }

  .select-area {
    width: 690px;
    height: 216px;
    border-radius: 3px;
    border-left: 1px solid rgba(230, 230, 230, 1);
    border-right: 1px solid rgba(230, 230, 230, 1);
    border-bottom: 1px solid rgba(230, 230, 230, 1);

    .tree-select-name {
      width: 688px;
      height: 36px;
      padding: 0 20px;
      background: rgba(250, 250, 250, 1);
      line-height: 34px;

      .title-name {
        float: left;
        color: var(--ad-heading-color);
      }

      .icon-box {
        float: left;
        margin: 2px 0 0 8px;

        .icon {
          cursor: pointer;
          font-size: 18px;
        }
      }
    }

    .tree-select-area {
      width: 680px;
      height: 176px;
      overflow: auto;

      .loading {
        width: 28px;
        height: 28px;
        margin: 70px auto;

        .icon {
          font-size: 28px;
          color: var(--ad-primary-color);
        }
      }

      .ant-empty-image {
        height: 96px;
      }

    }
  }

  .icon-file {
    width: 13px;
    height: 15px;
    margin: 0 6px 0 0;
  }

  .preview {
    margin: 24px 0 0 0;
    position: relative;

    .title-pre {
      margin: 12px 0 0 20px;

      .big {
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: var(--ad-heading-color);
      }

      .little {
        font-size: 12px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: var(--ad-text-color-secondary);
      }
    }

    .content-pre {
      width: 692px;
      min-height: 250px;
      margin: 14px 0 0 0;
      background: rgba(249, 249, 249, 1);
      border-radius: 3px;
      border: 1px solid rgba(230, 230, 230, 1);
      position: relative;

      .loading {
        width: 692px;
        height: 100%;
        z-index: 10000;
        background-color: rgba(240, 244, 250, 0.6);
        position: absolute;

        .icon {
          font-size: 40px;
          color: var(--ad-primary-color);
          position: absolute;
          left: 48%;
          top: 50%;
        }
      }

      .select {
        margin: 20px;

        .select-box {
          width: 652px;
          height: 34px;
        }
      }

      .table {
        width: 652px;
        margin: 20px;
        overflow-x: auto;
        overflow-y: hidden;

        .row {
          display: flex;
          width: max-content;
          height: 50px;

          .title {
            background-color: rgba(233, 233, 233, 1) !important;
          }

          .column {
            width: 163px;
            height: 50px;
            border-bottom: 1px solid rgba(229, 229, 229, 1);
            line-height: 50px;
            padding: 0 12px;
            background-color: white;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .ant-select-item-empty {
      margin: 0 0 20px 0;
    }
  }

  .ant-tree .ant-tree-node-content-wrapper {
    width: 620px;
    min-height: 24px;
    margin: 0;
    padding: 4px 4px;
    color: inherit;
    line-height: 24px;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
  }

  .ant-tree .ant-tree-checkbox {
    margin: 9px 8px 0 0;
  }

  .ant-tree .ant-tree-treenode {
    width: 670px;
    border-top: 0.5px solid rgba(244, 244, 244, 1);
    border-bottom: 0.5px solid rgba(244, 244, 244, 1);
    padding: 0 0 2px 0;
  }

  .ant-tree .ant-tree-treenode:hover {
    background: rgba(220, 234, 249, 0.65);
  }

  .ant-tree .ant-tree-node-content-wrapper:hover {
    background: transparent;
  }

  .ant-tree-treenode-checkbox-checked {
    background: rgba(240, 242, 247, 1) !important;
  }
}