.search-create-edit-modal {
  // position: relative;
  .rc-virtual-list-holder-inner {
    max-height: 132px;
    overflow-y: auto;
  }
  .create-graph-select {
    .modal-graph-select {
      width: calc(100% - 90px);
      height: 448px !important;
      max-height: 526px;
      .ant-form-item {
        margin-right: 8px;
        height: 56px;
        margin-bottom: 0px;
      }
      .graph-textarea {
        width: 438px;
        max-width: 438px;
      }
    }
    .form-label {
      width: 87px !important;
      height: 100%;
      padding-top: 5px;
      text-align: left !important;
      &::before {
        content: '*';
        color: red;
        margin-right: 4px;
        font-family: SimSun, sans-serif;
        font-size: 14px;
      }
    }
  }

  .source-type {
    padding-top: 5px;
    &::before {
      content: '*';
      color: red;
      margin-right: 4px;
      font-family: SimSun, sans-serif;
      font-size: 14px;
    }
  }

  .ant-modal-footer {
    padding: 14px 24px;
  }

  .graph-select {
    width: 190px;
  }

  .graph-type {
    .ant-select-selector {
      background-color: rgba(0, 0, 0, 0.04);
    }
    .ant-select-selection-item {
      color: rgba(0, 0, 0, 0.25);
    }
  }

  .delete-icon {
    border: none;
    background-color: #fff;
    display: inline-block;
    padding: 0px;
    min-width: 14px;
  }
  .delete-icon:hover {
    background-color: #fff;
  }

  .ant-modal-close-x {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    font-style: normal;
    line-height: 48px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
  }

  .ant-modal-header {
    height: 48px;
    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .ant-modal-body {
    padding: 0px !important;
  }

  .add-btn {
    border: none;
    background-color: #fff;
    padding: 0px;
    height: 20px;
    margin-left: 5px;
  }
  .add-btn:hover {
    border: none;
    background-color: #fff;
  }
}
