.indexesListRoot {
  padding-top: 24px;
  .indexes {
    border-bottom: 1px solid #f4f4f4;
  }
  .imitationInput {
    width: 100%;
    padding: 14px 10px;
    border-radius: var(--kw-border-radius-base);
    border: 1px solid var(--kw-border-color-base);
    background-color: var(--kw-imitation-input-color);
  }
  .properties {
    flex: 1;
    min-width: 0;
    max-height: 220px;
    overflow-y: auto;
    overflow-y: overlay;
  }
}
