.displayShapeRoot {
  .exampleItem {
    height: 80px;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.04);
  }
  .selectedExampleItem {
    background-color: rgba(18, 110, 227, 0.06);
  }
}
