#search-graph-zoom {
  .search-count-config {
    width: 28px;
    height: 28px;
    line-height: 24px;
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 3px 0 0 0;
    text-align: center;

    .icon {
      font-size: 18px;
    }
  }

  .toolButton {
    width: 28px;
    height: 28px;
    display: flex;
    cursor: pointer;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid var(--ad-disabled-color);
  }
  .add {
    font-size: 14px;
    margin-top: 15px;
    border-radius: 2px 2px 0px 0px;
  }
  .reduce {
    font-size: 14px;
    border-top: 0px;
    border-radius: 0px 0px 2px 2px;
  }

  .line-image {
    text-align: center;
    width: 0;
    height: 0;
    margin: 7px 0 0 11px;
    border-top: 155px solid var(--ad-disabled-color);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }

  .set-popover {
    top: 0px !important;

    .ant-popover-arrow {
      display: none !important;
    }
  }

  /*添加css样式*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .set-count-box {
    width: 218px;
    height: 134px;
    background: #ffffff;
    // box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.0400);
    // border-radius: 3px;
    // border: 1px solid rgba(0, 0, 0, 0.0400);
    // position: absolute;
    // top: 0px;
    // left: 40px;

    .set-count-title {
      height: 36px;
      line-height: 36px;
      padding: 0 20px;
      color: var(--ad-heading-color);
      font-size: 14px;
      font-weight: 500;
      border-bottom: 1px solid var(--ad-line-color);
    }

    .label {
      margin: 8px 0;
      padding: 0 20px;
      font-size: 12px;

      .entity-count {
        display: inline-block;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 500;
        color: var(--ad-text-color);
        margin-right: 6px;
      }
    }

    .search-count-input {
      width: 178px;
      margin: 0 20px;
    }
  }

  .hidden {
    display: none;
  }

  .error-text {
    color: var(--ad-error-color);
    font-size: 12px;
    margin-left: 20px;
  }

  .ant-popover {
    top: 0 !important;
  }

  .ant-popover-arrow-content {
    display: none;
  }

  .ant-popover-inner-content {
    padding: 0;
  }
}
