.thesaurus-content {
  padding: 24px;
  position: relative;
  width: 100%;

  .wordsList-op {
    margin-top: 24px;

    .box-height {
      height: 32px !important;
    }

    .btn-height {
      height: 32px;
      width: 32px;
      padding: 8px !important;
      border-radius: 3px;
      border: 1px solid #D9D9D9;
      cursor: pointer;

      &:hover {
        background: var(--ad-hover-bg-color);
      }
    }

    .selected {
      background: var(--ad-hover-bg-color);
    }

    .delete-btn {
      width: 76px;
      height: 32px;
      padding: 5px 12px !important;
    }
  }

  .wordsList-table {
    margin-top: 20px;
    // max-width: 1495px;

    .delete-words-text {
      display: inline-block;
      margin-left: 32px;
      color: var(--ad-primary-color);
      cursor: pointer;
    }

    .edit-words-text {
      display: inline-block;
      color: var(--ad-primary-color);
      cursor: pointer;
    }

    .noWords-box {
      width: 235px;
      margin: auto;
      margin-top: 116px;
      text-align: center;

      .cursorStyle {
        cursor: pointer;
      }
    }

    .ant-table-empty .ant-table-tbody>tr>td {
      border-bottom: none;
    }
  }

  .thesaurus-info-box {
    width: 320px;
    margin-top: 20px;
  }

  .small-table {
    flex: 1;
    margin-right: 20px;
    // max-width: 1155px;
    width: calc(100% - 320px - 20px);
  }

  .ant-table-pagination.ant-pagination {
    margin: 32px 0 0;
  }

  .ant-table-tbody>tr.ant-table-row-selected>td {
    background: rgba(var(--ad-primary-color-rgb), 0.06);
  }
}