@import './theme/them_default.less';
@import './theme/them_dark.less';

/* 颜色 */
.ad-c-white       { color: #fff }
.ad-c-primary     { color: var(--ad-primary-color); }
.ad-c-link        { color: var(--ad-link-color); }
.ad-c-success     { color: var(--ad-success-color); }
.ad-c-warning     { color: var(--ad-warning-color); }
.ad-c-error       { color: var(--ad-error-color); }
.ad-c-header      { color: var(--ad-heading-color); }
.ad-c-text        { color: var(--ad-text-color); }
.ad-c-subtext     { color: var(--ad-text-color-secondary); }
.ad-c-watermark   { color: var(--ad-disabled-color); }
.ad-c-border      { color: var(--ad-border-color-base); }
.ad-c-shadow      { box-shadow: var(--ad-box-shadow-base); }
.ad-bg-white      { background: #fff }
.ad-bg-primary    { background: var(--ad-primary-color); }
.ad-bg-link       { background: var(--ad-link-color); }
.ad-bg-success    { background: var(--ad-success-color); }
.ad-bg-warning    { background: var(--ad-warning-color); }
.ad-bg-error      { background: var(--ad-error-color); }
.ad-bg-header     { background: var(--ad-heading-color); }
.ad-bg-text       { background: var(--ad-text-color); }
.ad-bg-subtext    { background: var(--ad-text-color-secondary); }
.ad-bg-watermark  { background: var(--ad-disabled-color); }
.ad-bg-border     { background: var(--ad-border-color-base); }
.ad-border        { border: var(--ad-border); }
.ad-border-t      { border-top: var(--ad-border); }
.ad-border-r      { border-right: var(--ad-border); }
.ad-border-b      { border-bottom: var(--ad-border); }
.ad-border-l      { border-left: var(--ad-border); }

/* 透明度 */
.ad-opacity-06 { opacity: .06; }
.ad-opacity-10 { opacity: 0.1; }
.ad-opacity-15 { opacity: .15; }
.ad-opacity-20 { opacity: 0.2; }
.ad-opacity-25 { opacity: .25; }
.ad-opacity-30 { opacity: 0.3; }
.ad-opacity-40 { opacity: 0.4; }
.ad-opacity-45 { opacity: .45; }
.ad-opacity-50 { opacity: 0.5; }
.ad-opacity-60 { opacity: 0.6; }
.ad-opacity-65 { opacity: .65; }
.ad-opacity-70 { opacity: 0.7; }
.ad-opacity-80 { opacity: 0.8; }
.ad-opacity-85 { opacity: .85; }
.ad-opacity-90 { opacity: 0.9; }

/* 超长展示... */
.ad-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.ad-ellipsis-2{
  -webkit-box-orient: vertical; -webkit-line-clamp: 2; 
  white-space: normal; text-overflow: ellipsis; word-wrap: break-word; 
  height: auto !important; overflow: hidden; display: -webkit-box !important;  
}
.ad-ellipsis-3{
  -webkit-box-orient: vertical; -webkit-line-clamp: 3; 
  white-space: normal; text-overflow: ellipsis; word-wrap: break-word; 
  height: auto !important; overflow: hidden; display: -webkit-box !important; 
}
.ad-ellipsis-4{
  -webkit-box-orient: vertical; -webkit-line-clamp: 4; 
  white-space: normal; text-overflow: ellipsis; word-wrap: break-word; 
  height: auto !important; overflow: hidden; display: -webkit-box !important; 
}
.ad-ellipsis-5{
  -webkit-box-orient: vertical; -webkit-line-clamp: 5; 
  white-space: normal; text-overflow: ellipsis; word-wrap: break-word; 
  height: auto !important; overflow: hidden; display: -webkit-box !important; 
}


/* display */
.ad-flex          { display: flex; }
.ad-flex-column   { display: flex; flex-direction: column; }
.ad-center        { display: flex; align-items: center; justify-content: center; }
.ad-column-center { .ad-flex-column(); .ad-center(); }
.ad-align-center  { display: flex; align-items: center; }
.ad-content-center{ display: flex; justify-content: center;}
.ad-space-between { display: flex; align-items: center; justify-content: space-between; }

/* 宽度 */
.ad-w-10 { width: 10%; }
.ad-w-25 { width: 25%; }
.ad-w-30 { width: 30%; }
.ad-w-35 { width: 35%; }
.ad-w-40 { width: 40%; }
.ad-w-45 { width: 45%; }
.ad-w-50 { width: 50%; }
.ad-w-55 { width: 55%; }
.ad-w-60 { width: 60%; }
.ad-w-65 { width: 65%; }
.ad-w-70 { width: 70%; }
.ad-w-75 { width: 75%; }
.ad-w-80 { width: 80%; }
.ad-w-85 { width: 85%; }
.ad-w-90 { width: 90%; }
.ad-w-95 { width: 89%; }
.ad-w-100{ width: 100%; }

/* 高度 */
.ad-h-10 { height: 10%; }
.ad-h-25 { height: 25%; }
.ad-h-30 { height: 30%; }
.ad-h-35 { height: 35%; }
.ad-h-40 { height: 40%; }
.ad-h-45 { height: 45%; }
.ad-h-50 { height: 50%; }
.ad-h-55 { height: 55%; }
.ad-h-60 { height: 60%; }
.ad-h-65 { height: 65%; }
.ad-h-70 { height: 70%; }
.ad-h-75 { height: 75%; }
.ad-h-80 { height: 80%; }
.ad-h-85 { height: 85%; }
.ad-h-90 { height: 90%; }
.ad-h-95 { height: 89%; }
.ad-h-100{ height: 100%; }

/* padding和margin */
.ad-p-0  { padding: 0px }
.ad-p-1  { padding: 4px }
.ad-p-2  { padding: 8px }
.ad-p-3  { padding: 12px }
.ad-p-4  { padding: 16px }
.ad-p-5  { padding: 20px }
.ad-p-6  { padding: 24px }
.ad-p-7  { padding: 28px }
.ad-p-8  { padding: 32px }
.ad-p-9  { padding: 36px }
.ad-pt-0 { padding-top: 0px }
.ad-pt-1 { padding-top: 4px }
.ad-pt-2 { padding-top: 8px }
.ad-pt-3 { padding-top: 12px }
.ad-pt-4 { padding-top: 16px }
.ad-pt-5 { padding-top: 20px }
.ad-pt-6 { padding-top: 24px }
.ad-pt-7 { padding-top: 28px }
.ad-pt-8 { padding-top: 32px }
.ad-pt-9 { padding-top: 36px }
.ad-pb-0 { padding-bottom: 0px }
.ad-pb-1 { padding-bottom: 4px }
.ad-pb-2 { padding-bottom: 8px }
.ad-pb-3 { padding-bottom: 12px }
.ad-pb-4 { padding-bottom: 16px }
.ad-pb-5 { padding-bottom: 20px }
.ad-pb-6 { padding-bottom: 24px }
.ad-pb-7 { padding-bottom: 28px }
.ad-pb-8 { padding-bottom: 32px }
.ad-pb-9 { padding-bottom: 36px }
.ad-pl-0 { padding-left: 0px }
.ad-pl-1 { padding-left: 4px }
.ad-pl-2 { padding-left: 8px }
.ad-pl-3 { padding-left: 12px }
.ad-pl-4 { padding-left: 16px }
.ad-pl-5 { padding-left: 20px }
.ad-pl-6 { padding-left: 24px }
.ad-pl-7 { padding-left: 28px }
.ad-pl-8 { padding-left: 32px }
.ad-pl-9 { padding-left: 36px }
.ad-pr-0 { padding-right: 0px; }
.ad-pr-1 { padding-right: 4px }
.ad-pr-2 { padding-right: 8px }
.ad-pr-3 { padding-right: 12px }
.ad-pr-4 { padding-right: 16px }
.ad-pr-5 { padding-right: 20px }
.ad-pr-6 { padding-right: 24px }
.ad-pr-7 { padding-right: 28px }
.ad-pr-8 { padding-right: 32px }
.ad-pr-9 { padding-right: 36px }

.ad-m-0  { margin: 0px }
.ad-m-1  { margin: 4px }
.ad-m-2  { margin: 8px }
.ad-m-3  { margin: 12px }
.ad-m-4  { margin: 16px }
.ad-m-5  { margin: 20px }
.ad-m-6  { margin: 24px }
.ad-m-7  { margin: 28px }
.ad-m-8  { margin: 32px }
.ad-m-9  { margin: 36px }
.ad-mt-0 { margin-top: 0px; }
.ad-mt-1 { margin-top: 4px }
.ad-mt-2 { margin-top: 8px }
.ad-mt-3 { margin-top: 12px }
.ad-mt-4 { margin-top: 16px }
.ad-mt-5 { margin-top: 20px }
.ad-mt-6 { margin-top: 24px }
.ad-mt-7 { margin-top: 28px }
.ad-mt-8 { margin-top: 32px }
.ad-mt-9 { margin-top: 28px }
.ad-mb-0 { margin-bottom: 0px }
.ad-mb-1 { margin-bottom: 4px }
.ad-mb-2 { margin-bottom: 8px }
.ad-mb-3 { margin-bottom: 12px }
.ad-mb-4 { margin-bottom: 16px }
.ad-mb-5 { margin-bottom: 20px }
.ad-mb-6 { margin-bottom: 24px }
.ad-mb-7 { margin-bottom: 28px }
.ad-mb-8 { margin-bottom: 32px }
.ad-mb-9 { margin-bottom: 36px }
.ad-ml-0 { margin-left: 0px }
.ad-ml-1 { margin-left: 4px }
.ad-ml-2 { margin-left: 8px }
.ad-ml-3 { margin-left: 12px }
.ad-ml-4 { margin-left: 16px }
.ad-ml-5 { margin-left: 20px }
.ad-ml-6 { margin-left: 24px }
.ad-ml-7 { margin-left: 28px }
.ad-ml-8 { margin-left: 32px }
.ad-ml-9 { margin-left: 36px }
.ad-mr-0 { margin-right: 0px }
.ad-mr-1 { margin-right: 4px }
.ad-mr-2 { margin-right: 8px }
.ad-mr-3 { margin-right: 12px }
.ad-mr-4 { margin-right: 16px }
.ad-mr-5 { margin-right: 20px }
.ad-mr-6 { margin-right: 24px }
.ad-mr-7 { margin-right: 28px }
.ad-mr-8 { margin-right: 32px }
.ad-mr-9 { margin-right: 36px }
