.anyshare {
  margin: 25px 0 0 0;

  .ant-empty-image {
    height: 50px;
    margin: 20px 0 8px 0;
  }

  .basic-info {
    width: 689px;
    height: 110px;
    border-radius: 3px;
    border: 1px solid rgba(230, 230, 230, 1);

    .head {
      width: 686px;
      height: 36px;
      background: rgba(250, 250, 250, 1);
      border-radius: 3px 3px 0px 0px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--ad-heading-color);
      padding: 6px 20px;
    }

    .info {
      width: 686px;
      height: 74px;
      border-radius: 3px 3px 0px 0px;

      .line {
        float: left;
        width: 330px;
        padding: 10px 0 0 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .start {
          color: var(--ad-heading-color);

          .line-right {
            margin: 0 0 0 28px;
          }
        }
      }
    }
  }

  .tip {
    width: 690px;
    height: 36px;
    margin: 20px 0 0 0;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 36px;

    .icon {
      margin: 0 8px 0 0;
      color: var(--ad-warning-color);
    }
  }

  .un {
    margin: 0 0 0 12px;
  }

  .select-tree-box {
    height: 182px;

    .ant-select-selector {
      visibility: hidden;
    }

    .ant-select-dropdown {
      top: -21px !important;
      width: 688px !important;
      min-height: 177px !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  .z-top {
    .ant-select-dropdown {
      z-index: 10000;
    }
  }

  .tree-loading-data {
    width: 28px;
    height: 28px;
    margin: 70px auto;

    .icon {
      font-size: 28px;
      color: var(--ad-primary-color);
    }
  }

  .errors {
    color: var(--ad-error-color);
    font-size: 14px;
    margin: 0 0 0 16px;
  }

  .not-change {
    color: var(--ad-text-color-secondary) !important;
  }

  .ant-select-selection-item {
    .file-name {
      // max-width: 120px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .flex-type {
    width: 690px;
    height: 216px;
    border-radius: 3px;
    border-left: 1px solid rgba(230, 230, 230, 1);
    border-right: 1px solid rgba(230, 230, 230, 1);
    border-bottom: 1px solid rgba(230, 230, 230, 1);

    .ant-select-tree-list-holder-inner {
      width: max-content;
      min-width: 680px;
      min-height: 175px;
    }
  }

  .data-type {
    width: 336px;

    .name {
      width: 160px;
      line-height: 34px;
    }

    .content {
      width: 336px;
      padding: 0;
    }

    .data-input {
      width: 336px;
      height: 34px;
      border-radius: 3px;
      line-height: 20px;
    }

    .data-table {
      background: rgba(255, 255, 255, 1);
      border-radius: 3px;

      .ant-tree-select-dropdown {
        padding: 8px 0 0 0;
      }

      .ant-select-tree-list {
        max-height: 176px !important;
        margin: -8px 0px 0 -4px;

        .ant-select-tree-list-holder {
          max-height: 178px !important;
        }
      }
    }

    .ant-select-selector {
      border: 1px solid rgba(230, 230, 230, 1);
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: 0;
    }

    .data-table-disabled {
      margin: 0 0 0 12px;
      width: 662px;
      height: 34px;
      background: rgba(249, 249, 250, 1);
      border-radius: 3px;
    }

    .file-type {
      width: 80px;
      height: 26px;
      margin: 0 0 0 12px;
    }

    .file {
      width: 440px;
      height: 34px;
      margin: 20px 0 0 0;
    }

    .file-un {
      width: 662px;
      height: 34px;
    }
  }

  .data-space {
    margin: 20px 0 0 0;
  }

  .data-right {
    margin: -70px 0 0 356px;
  }

  .data-type-has-error {
    display: flex;
    margin: 20px 0 0 0;

    .name {
      width: 76px;
      line-height: 34px;
    }

    .data-input {
      width: 662px;
      height: 34px;
      margin: 0 0 0 12px;
      background: rgba(249, 249, 250, 1);
      border-radius: 3px;
      border: 1px solid rgba(230, 230, 230, 1);
      line-height: 20px;
    }

    .data-table {
      background: rgba(255, 255, 255, 1);
      border-radius: 3px;
    }

    .ant-select-selector {
      border: 1px solid var(--ad-error-color) !important;
    }

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-color: var(--ad-error-color) !important;
    }

    .data-table-disabled {
      margin: 0 0 0 12px;
      width: 662px;
      height: 34px;
      background: rgba(249, 249, 250, 1);
      border-radius: 3px;
    }

    .file-type {
      width: 80px;
      height: 26px;
      margin: 0 0 0 12px;
      border: 1px solid rgba(217, 217, 217, 1);
    }

    .file-type:hover {
      border: 1px solid var(--ad-primary-color) !important;
      -webkit-box-shadow: 0 0 0 0 var(--ad-primary-color) !important;
      box-shadow: 0 0 0 0 var(--ad-primary-color) !important;
    }

    .file {
      width: 440px;
      height: 34px;
      margin: 0 0 0 -40px;
    }

    .file-un {
      width: 662px;
      height: 34px;
    }

    .tree-select-open {
      .ant-select-selector {
        border: 1px solid var(--ad-error-color) !important;
      }
    }

    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      border: 1px solid var(--ad-error-color) !important;
    }

    .ant-select:not(.ant-select-disabled) .ant-select-selector {
      border: 1px solid var(--ad-error-color) !important;
    }
  }

  .file-type-name {
    width: 100%;
    height: 36px;
    background: rgba(250, 250, 250, 1);
    padding: 4px 20px 0 20px;

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      height: 26px !important;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      line-height: 26px !important;
    }

    .name {
      line-height: 34px;
      float: left;
    }

    .icon-box {
      float: left;
      margin: 8px 0 0 8px;

      .icon {
        cursor: pointer;
        font-size: 18px;
      }
    }

    .content {
      width: auto;
      padding: 0;
      float: right;
    }

    .data-input {
      width: 662px;
      height: 34px;
      margin: 0 0 0 12px;
      background: rgba(249, 249, 250, 1);
      border-radius: 3px;
      border: 1px solid rgba(230, 230, 230, 1);
      line-height: 20px;
    }

    .data-table {
      background: rgba(255, 255, 255, 1);
      border-radius: 3px;
    }

    .has-error {
      border: 1px solid var(--ad-error-color) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    .data-table-disabled {
      margin: 0 0 0 12px;
      width: 662px;
      height: 34px;
      background: rgba(249, 249, 250, 1);
      border-radius: 3px;
      // border: 1px solid rgba(230, 230, 230, 1);
    }

    .file-type {
      width: 80px;
      height: 26px;
      margin: 0 0 0 12px;
    }

    .file {
      width: 440px;
      height: 34px;
      margin: 0 0 0 -40px;
    }

    .file-un {
      width: 662px;
      height: 34px;
    }

    .tree-select-open {
      .ant-select-selector {
        border: 1px solid var(--ad-primary-color) !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    }
  }

  .preview {
    margin: 0 0 0 0;

    .title-pre {
      margin: 12px 0 0 20px;

      .big {
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: var(--ad-heading-color);
      }

      .little {
        font-size: 12px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: var(--ad-text-color-secondary);
      }
    }

    .content-pre {
      width: 692px;
      min-height: 250px;
      margin: 14px 0 0 0;
      background: rgba(249, 249, 249, 1);
      border-radius: 3px;
      border: 1px solid rgba(230, 230, 230, 1);
      position: relative;

      .loading {
        width: 692px;
        height: 100%;
        z-index: 10000;
        background-color: rgba(240, 244, 250, 0.6);
        position: absolute;

        .icon {
          font-size: 40px;
          color: var(--ad-text-color-secondary);
          position: absolute;
          left: 48%;
          top: 50%;
        }
      }

      .select-file {
        width: 652px;
        height: 34px;
        margin: 20px 0 0 20px;
        background: rgba(255, 255, 255, 1);
        border-radius: 3px;
      }

      .ant-select-empty {
        margin: 0 0 20px 0;
      }
    }

    .ant-select-tree-treenode {
      padding: 4px 0 4px 6px !important;
    }
  }

  .text-area {
    width: 652px;
    margin: 20px;
    overflow: hidden;
    color: var(--ad-text-color);
    -webkit-text-fill-color: var(--ad-text-color) !important;
    cursor: auto;
  }

  .table {
    width: 692px;
    margin: 20px;
    overflow-x: auto;
    overflow-y: hidden;

    .row {
      display: flex;
      width: max-content;
      height: 50px;

      .title {
        background-color: rgba(233, 233, 233, 1) !important;
      }

      .column {
        width: 173px;
        height: 50px;
        border-bottom: 1px solid rgba(229, 229, 229, 1);
        line-height: 50px;
        padding: 0 12px;
        background-color: white;
      }

      .column-un {
        width: 230px;
        height: 50px;
        border-bottom: 1px solid rgba(229, 229, 229, 1);
        line-height: 50px;
        padding: 0 12px;
        background-color: white;
      }
    }
  }

  .ant-select-tree-checkbox-disabled {
    cursor: not-allowed;
    display: none;
  }

  .ant-tree-select-dropdown {
    padding: 0;
  }

  .ant-tree-select-dropdown .ant-select-tree-list-holder-inner .ant-select-tree-treenode {
    border-top: 0.5px solid rgba(244, 244, 244, 1);
    border-bottom: 0.5px solid rgba(244, 244, 244, 1);
    padding: 4px 0 4px 12px;
  }

  .ant-tree-select-dropdown .ant-select-tree-list-holder-inner .ant-select-tree-treenode:hover {
    background: rgba(220, 234, 249, 0.65);
  }

  .ant-select-tree-treenode-checkbox-checked {
    background: rgba(240, 242, 247, 1) !important;
  }

  .ant-select-tree .ant-select-tree-node-content-wrapper {
    background: transparent !important;
  }

  .ant-select-tree-treenode-selected {
    background: rgba(240, 242, 247, 1) !important;
  }

  .no-checkBox {
    .ant-select-tree-checkbox-inner {
      border-radius: 50%;
    }
  }
}

.anyshare-filetree-row {
  display: flex;

  .anyshare-filetree-type {
    width: 14px;
    height: 14px;
    margin: -2px 0 0 0;

    .file-image {
      width: 15px;
      height: 15px;
      margin: 0 6px 0 0;
    }
  }

  .file-name {
    // width: 200px;
    margin: 0 0 0 4px;
    white-space: nowrap;
  }
}

.mode-icon-16 {
  width: 16px;
  height: 16px;
  margin: -2px 6px 0 0;
}
