.uploadRecordRoot {

  .ant-tabs-top>.ant-tabs-nav,
  .ant-tabs-top>div>.ant-tabs-nav {
    margin: 0 0 20px;
  }

  .sortDataBtn {
    min-width: 32px;
    padding: 0;

    .sort-icon {
      font-size: 19px;
      transform: translateY(1px);
    }
  }

  .refreshBtn {
    padding: 4px 8px;
  }
}