.sqlQueryRoot {
  position: relative;
  height: 100%;
  max-height: 1040px;
  padding: 0 24px;
  background: #fff;
  user-select: text !important;

  .sql-query-drag-line {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 10px;
    background: transparent;
    cursor: col-resize;
  }

  .header {
    height: 56px;
    border-bottom: 1px solid var(--kw-line-color);
  }

  .sqlOperation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .history-icon {
    font-size: 16px;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      color: var(--kw-primary-color);
    }
  }
}

.sqlResultDrawer {
  width: 100%;
  left: 0px;
  height: auto;
  z-index: 1053;

  &.force-hide {
    display: none;
  }

  .ant-drawer-body {
    padding: 0;
  }
}

.leftResizeDrawer {
  transition: none !important;
  border-right: 1px solid var(--kw-line-color);
  .ant-drawer-content-wrapper {
    transition: none !important;
    .ant-drawer-body {
      padding-top: 0px;
    }
  }
}
