.mf-prompt-textarea {
  border: 1px solid var(--kw-primary-color-hover);
  border-radius: 4px;

  &.disabled {
    border-color: var(--kw-line-color);
  }

  .height-drag-line {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    height: 10px;
    background: transparent;
    cursor: row-resize;
  }

  .textarea-title {
    height: 40px;
    border-radius: 4px 4px 0 0;
    background: #f8fafe;
  }

  .CodeMirror {
    border-radius: 0 0 4px 4px;
    color: var(--kw-heading-color);

    pre.CodeMirror-line,
    .CodeMirror-placeholder {
      padding: 0 8px;
    }

    .kw-prompt-highlight {
      padding: 0 4px;
      color: var(--kw-primary-color);
      background: rgba(var(--kw-primary-color-rgb), 0.06);
    }
  }
}

.editor-variable-tip {
  .var-label {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 100%;
    padding: 0 4px;
    background: rgba(var(--kw-primary-color-rgb), 0.06);
  }
}
