.search-config-publish {
  height: calc(100% - 60px);

  .scroll-wrap {
    height: 100%;
    // height: calc(100% - 7px);
    overflow: auto;
    overflow: overlay;
  }

  .form-box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px;

    .align-item {
      min-width: 120px;
    }

    .ant-checkbox-wrapper {
      margin-left: 0;
    }

    .ant-form-item-control-input {
      min-height: 22px !important;
    }
  }

  .footer-box {
    border-top: 1px solid var(--kw-line-color);
    text-align: center;
    align-items: center;
    padding: 14px 0px;
    background-color: #fff;

    button {
      height: 48px;
      margin: 0 6px;
    }

    .foot-btn {
      width: 80px;
      height: 32px;
    }

    .btn-middle {
      min-width: 80px;
      height: 32px;
    }
  }
}
