.blockSourceRoot {
  flex-shrink: 0;
  position: relative;
  width: 360px;
  border-right: 1px solid var(--kw-line-color);
  .height-drag-line {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    height: 10px;
    background: transparent;
    cursor: row-resize;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 8px;
      left: 48%;
      height: 5px;
      width: 12px;
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
  .block2 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
