@border:1px solid var(--kw-line-color);
.file-right-source-tree-wrap {
  border-right: 1px solid var(--kw-line-color);
  .file-tree {
    width: 400px;
    padding: 20px 0px;
    height: 100%;
    .icon-why {
      opacity: 0.45;
    }
    .source-left {
      height: 100%;
      overflow: hidden;
      .source-height {
        max-height: 695px;
        overflow-y: auto;
        .title-tree {
          padding: 13px 26px;
          width: 100%;
        }
        .color-title {
          background: rgba(18, 110, 227, 0.06);
        }

        // 左侧
        .source-file {
          align-items: center;
          padding: 15px 24px;
        }

        .source-file:hover {
          background-color: #f5f5f5;
        }
      }
    }
    .add-classification {
      border: @border;
      padding: 5px 0px;
      color: rgba(0, 0, 0, 0.65);
      border-radius: 3px;
    }
  }
}
