.class-muster-content {
  .title {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--ad-heading-color);
    margin: 20px 20px 13px 20px;
    padding: 0 0 13px 0;
    border-bottom: 1px solid var(--ad-line-color);
  }

  .change-tab {
    display: flex;
    padding: 0 0 20px 0;
    margin: 0 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid var(--ad-line-color);

    .entity {
      width: 50%;
      height: 36px;
      background: #ffffff;
      color: var(--ad-heading-color);
      border-radius: 4px 0px 0px 4px;
      border: 1px solid #d9d9d9;
      cursor: pointer;
    }

    .relation {
      // width: 50%;
      width: 185px;
      text-align: center;
      height: 36px;
      background: #ffffff;
      color: var(--ad-heading-color);
      border-radius: 0px 4px 4px 0px;
      border: 1px solid #d9d9d9;
      cursor: pointer;
    }

    .count {
      margin: 0 0 0 6px;
    }

    .tab-selected {
      color: var(--ad-primary-color);
      background-color: #f1f7fe;
      border: 1px solid rgba(18, 110, 227, 0.45);
    }
  }

  .display-none {
    display: none;
  }
}
