.graphG6Root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .graphContainer {
    width: 100%;
    height: calc(100% - 37px);
    position: relative;
  }

  // 注册的图例样式
  .graphLegend {
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    pointer-events: none;
    justify-content: center;
    .legend {
      width: 100px;
      display: flex;
      cursor: pointer;
      font-size: 12px;
      overflow: hidden;
      padding: 5px 10px;
      white-space: nowrap;
      align-items: center;
      text-overflow: ellipsis;
      .legendItem {
        pointer-events: auto;
      }
      .selected {
        color: rgb(221, 221, 221);
        .legendItemIcon {
          border-color: rgb(221, 221, 221) !important;
          background-color: rgb(221, 221, 221) !important;
        }
      }
      .legendItemIcon {
        width: 11px;
        height: 11px;
        margin-right: 4px;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: #126ee3;
      }
    }
  }
}
