.alertRoot{
  border: none;
  padding: 12px;
  font-size: 12px;
  background-color: #fdf7e9;

  // antd 样式
  .ant-alert-icon{
    font-size: 16px;
  }
  .ant-alert-message{
    color: rgba(0,0,0, .65);
  }
}