.raltion-info {
  .scrollbar-box {
    margin-right: 40px;

  }

  .title {
    display: flex;
    padding: 0 0 12px 0;
    font-size: 16px;
    margin-right: 40px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--ad-heading-color);
    border-bottom: 1px solid var(--ad-line-color);
  }

  .top {
    border-bottom: 1px solid var(--ad-line-color);

    .diagram {
      width: calc(50% - 20px);
      width: 476px;
      height: 148px;
      border-radius: 6px;
      border: 1px solid rgba(230, 230, 230, 1);
    }
  }

  .entity-select {
    display: flex;
    width: calc(100% - 0px);
    margin: 24px 0 0 0px;

    .entity-name {
      width: calc(50% - 0px);
      font-size: 14px;
      margin: 0 0 0 30px;
      font-weight: 400;
      color: var(--ad-text-color);
    }

    .unique {
      width: calc(50% - 20px);
      font-size: 14px;
      font-weight: 400;
      color: var(--ad-text-color);

      .icon {
        margin: 0 0 0 10px;
        font-size: 14px;
        color: var(--ad-text-color);
      }

      .icon:hover {
        color: rgba(84, 99, 156, 1);
      }
    }

    .select {
      width: 100%;
      margin: 8px 0 0 0;
    }
  }

  .attribute-title {
    width: 100%;
    height: 62px;
    padding: 32px 0 18px 0;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--ad-heading-color);
    border-bottom: 1px solid var(--ad-line-color);

    .icon {
      margin: 0 0 0 10px;
      font-size: 14px;
      color: var(--ad-text-color);
    }

    .icon:hover {
      color: rgba(84, 99, 156, 1);
    }

    .clear {
      float: right;
      font-size: 14px;
      font-weight: 400;
      margin-right: 5px;
      color: var(--ad-text-color);
      cursor: pointer;
    }

    .disable-click {
      float: right;
      font-size: 14px;
      font-weight: 400;
      margin-right: 5px;
      color: #999999;
      cursor: pointer;

    }
  }

  // .title-relation {
  //   width: 100%;
  //   height: 34px;
  //   font-size: 16px;
  //   font-family: PingFangSC-Medium, PingFang SC;
  //   font-weight: 500;
  //   color: var(--ad-text-color);
  //   border-bottom: 1px solid rgba(244, 244, 244, 1);

  //   .clear {
  //     float: right;
  //     font-size: 14px;
  //     font-weight: 400;
  //     margin-right: 5px;
  //     cursor: pointer;
  //   }
  // }
  .node-content {
    padding: 20px 0 0 0;

    .select-title {
      display: flex;
      margin: 0 0 8px 0;

      .line-left {
        width: calc(50% - 10px);
        margin: 0 20px 0 0;
        font-size: 14px;
        font-weight: 400;
        color: var(--ad-text-color);
      }

      .line {
        width: calc(50% - 10px);
        font-size: 14px;
        font-weight: 400;
        color: var(--ad-text-color);
      }
    }

    .value {
      display: flex;
      margin: 0 0 20px 0;

      .box {
        width: calc(50% - 30px);

        .select {
          width: 100%;
        }
      }

      .other {
        width: calc(50% - 0px);
        margin: 0 0 0 30px;

        .select {
          width: 100%;
        }
      }
    }
  }

  .has-errors {
    .ant-select-selector {
      border: 1px solid var(--ad-error-color) !important;
      outline: 0;
    }
  }

  .error-text {
    margin-top: 5px;
    font-size: 12px;
    color: var(--ad-error-color);
    display: inline-block;
  }

  .hidden-error-text {
    display: none;
  }

  .ant-select-selector {
    font-family: PingFangSC-Regular, PingFang SC;
  }

  // .ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  //   border-color: #54639c;
  //   -webkit-box-shadow: 0 0 0 0 rgba(84, 99, 156, 0.2);
  //   box-shadow: 0 0 0 0 rgba(84, 99, 156, 0.2);
  // }

  // .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  //   border-color: #54639c;
  //   -webkit-box-shadow: 0 0 0 0 rgba(84, 99, 156, 0.2);
  //   box-shadow: 0 0 0 0 rgba(84, 99, 156, 0.2);

  // }

  // .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  //   width: 100%;
  //   height: 34px;
  //   padding: 0 11px;
  // }

  /*箭头*/
  .test-line {
    position: relative;
    height: 10px;
  }

}