.leftSpaceRoot {
  top: 40px;
  left: 0px;
  position: absolute;
  height: calc(100% - 40px);
  .iconBox {
    width: 56px;
    height: 100%;
    padding-top: 24px;
    background-color: #f0f0f3;
    border-right: 1px solid var(--kw-line-color);
    .item {
      width: 50px;
      height: 40px;
      cursor: pointer;
      line-height: 40px;
      text-align: center;
      margin-bottom: 4px;
      span {
        font-size: 18px;
      }
    }
    .itemHover {
      span {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
      }
      &:hover {
        border-radius: 0px 4px 4px 0px;
        background-color: rgba(145, 151, 169, 0.2);
      }
    }
    .selected {
      position: relative;
      border-radius: 0px 4px 4px 0px;
      background-color: rgba(145, 151, 169, 0.2);
      span {
        color: var(--kw-primary-color) !important;
      }
      &::after {
        top: 0px;
        left: 0px;
        width: 3px;
        content: '';
        height: 40px;
        position: absolute;
        background-color: var(--kw-primary-color);
      }
    }
  }

  .leftSpaceDrawer {
    top: 0;
    left: 0;
    z-index: 1052;
    width: 440px;
    height: 100%;
    display: none;
    position: absolute;
    background: #fff;
  }

  .displayBlock {
    display: block;
  }

  // antd 样式
  .ant-tabs-nav-wrap {
    background-color: #fff !important;
  }

  .custom-search-tool-res {
    top: 0 !important;
    height: 100% !important;
  }
}
