.modal-check-graph {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0;
  padding: 0;
  max-width: none;

  .ant-modal-content {
    width: 100%;
    height: 100%;
  }

  .ant-modal-header {
    height: 52px;
  }

  .ant-modal-body {
    padding: 0;
    // height: calc(100% - 52px);
    .kw-universal-modal-content {
      // padding: 0;
      max-height: none;
      height: calc(100vh - 48px);
    }
  }

  .modal-content {
    height: 100%;
    .childGraphRoot {
      padding: 0;
    }
  }
}
