.customColumnsRoot {
  width: 240px;
  max-height: 400px;
  .columnsClassify {
    padding: 8px 16px;
    // antd 样式覆盖
    .ant-checkbox-wrapper {
      width: 100%;
    }
  }
  // antd 样式覆盖
  .ant-select {
    width: 100%;
  }
}
