@header-height: 44px;

.canvasOntoRoot {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  height: 100%;
  position: fixed;
  background-color: #f0f0f3;

  .onto-work-flow-header {
    //position: fixed;
    //left: 0;
    //top: 0;
    width: 100%;
    height: @header-height;
    background-color: #fff;
    z-index: 222;
  }
}
