.ad-format-text     { display: inline-block; }

.ad-format-start    { text-align: start; }
.ad-format-center   { text-align: center; }
.ad-format-end      { text-align: end; }

.ad-format-strong-1 { font-weight: 100; }
.ad-format-strong-2 { font-weight: 200; }
.ad-format-strong-3 { font-weight: 300; }
.ad-format-strong-4 { font-weight: 400; }
.ad-format-strong-5 { font-weight: 500; }
.ad-format-strong-6 { font-weight: 600; }

.ad-format-text-1   { font-size: 12px; height: 24px; line-height: 24px; }
.ad-format-text-21  { font-size: 14px; height: 20px; line-height: 20px; }
.ad-format-text-22  { font-size: 14px; height: 26px; line-height: 26px; }
.ad-format-text-3   { font-size: 16px; height: 28px; line-height: 28px; }
.ad-format-text-4   { font-size: 18px; height: 30px; line-height: 30px; }
.ad-format-text-5   { font-size: 20px; height: 32px; line-height: 32px; }
.ad-format-text-6   { font-size: 22px; height: 36px; line-height: 36px; }
.ad-format-text-7   { font-size: 24px; height: 36px; line-height: 36px; }

.ad-format-text-no-height-1   { font-size: 12px; height: 12px; line-height: 12px; }
.ad-format-text-no-height-2   { font-size: 14px; height: 14px; line-height: 14px; }
.ad-format-text-no-height-3   { font-size: 16px; height: 16px; line-height: 16px; }
.ad-format-text-no-height-4   { font-size: 18px; height: 18px; line-height: 18px; }
.ad-format-text-no-height-5   { font-size: 20px; height: 20px; line-height: 20px; }
.ad-format-text-no-height-6   { font-size: 22px; height: 22px; line-height: 22px; }
.ad-format-text-no-height-7   { font-size: 24px; height: 24px; line-height: 24px; }

.ad-format-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.ad-format-text-line-clamp-1{
  height: auto; overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 1;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}
.ad-format-text-line-clamp-2{
  height: auto;overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 2;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}
.ad-format-text-line-clamp-3{
  height: auto;overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 3;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}
.ad-format-text-line-clamp-4{
  height: auto;overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 4;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}
.ad-format-text-line-clamp-5{
  height: auto;overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 5;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}


