.service-config-neighbors-root {
  position: relative;

  // 左侧面板
  .config-box {
    position: relative;
    border-right: 1px solid var(--kw-line-color);

    &::after {
      content: '';
      position: absolute;
      z-index: 20;
      display: inline-block;
      top: 0;
      bottom: 0;
      right: -5px;
      width: 5px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01));
    }

    .editDiv {
      width: 100%;
    }

    .open-icon-mask {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }

    &.open {
      .sub-title {
        width: calc(100% - 24px * 2);
        height: 40px;
        line-height: 40px;
        margin: 0 24px;
        border-bottom: 1px solid var(--kw-line-color);
      }

      .open-icon-mask {
        margin-right: -14px;
      }
    }

    &.close {
      .open-icon-mask {
        width: 100%;
      }

      .sub-title {
        width: 100%;
      }

      .t-word,
      .scroll-wrap {
        display: none;
      }

      & + .width-drag-line {
        cursor: default;
      }

      .apply-button {
        display: none;
      }
    }

    .dire-btn {
      width: 33.3%;
      text-align: center;
      margin-top: 8px;
    }

    .ant-radio-button-wrapper {
      transition: none !important;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
      box-shadow: none;
    }

    .scroll-wrap {
      height: calc(100% - 40px - 64px);
      // padding: 0 24px 24px;
      padding-bottom: 24px;
      overflow-y: auto;
      overflow-y: overlay;
    }

    .apply-button {
      width: 100%;
      position: absolute;
      height: 64px;
      text-align: right;
      padding: 14px 24px;
      border-top: 1px solid var(--kw-line-color);
    }
  }

  // 画布
  .canvas-box {
    position: relative;
    flex: 1;
    min-width: 0;
    overflow: hidden;
  }

  .width-drag-line {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 10px;
    background: transparent;
    cursor: col-resize;
  }

  .footer-box {
    position: absolute;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);
    width: max-content;

    button {
      height: 32px;
      margin-left: 12px;
    }
  }

  .graph-analysis-basicInfo,
  .graph-analysis-summary {
    top: 40px;
    height: calc(100% - 40px);
  }

  .canvas-search-tool-multiple-root {
    width: 440px;
    top: 39px;
  }
}
