.glossaryInforTabsRoot {
  flex: 1;
  min-width: 690px;
  height: 100%;
  overflow: auto;
  padding: 15px 24px 24px 24px;

  &-title {
    font-size: 20px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
  }

  .ant-tabs-content {
    height: 100%;

    .ant-tabs-tabpane {
      height: 100%;

      .sortIcon {
        width: 32px;
        height: 32px;
        padding: 0px;
        min-width: 32px;

        span {
          font-size: 16px;
        }
      }
    }
  }
}