.kg-iq-info {
  flex-shrink: 0;
  width: 320px;
  height: 100%;
  overflow: auto;
  border-right: 1px solid var(--ad-line-color);

  .name-title {
    width: calc(100% - 24px * 2);
    padding: 0 12px;
  }

  .icon-click-mask {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
  }

  .source-icon {
    text-align: center;
    border-bottom: 1px solid var(--ad-line-color);

    .s-text {
      font-size: 40px;
      font-weight: 600;
    }

    .tip-text {
      font-size: 12px;
      color: #666;
      line-height: 24px;
    }
  }

  .info-box {
    border-bottom: 1px solid var(--ad-line-color);
  }

  .one-text {
    height: 40px;
    line-height: 40px;
  }

  .desc-text {
    height: auto;
    line-height: 24px;
  }
}
