.kg-iq-info {
  flex-shrink: 0;
  width: 320px;
  height: 100%;
  overflow: auto;
  border-right: 1px solid var(--ad-line-color);

  .name-title {
    width: calc(100% - 24px * 2);
    padding: 0 12px;
  }

  .hover-bg {
    .icon-click-mask {
      visibility: hidden;
    }

    &:hover .icon-click-mask {
      visibility: visible;
    }
  }

  .icon-click-mask {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--ad-text-color);
    cursor: pointer;
  }

  .score-icon {
    padding: 24px 18px 32px;
    text-align: center;
    border-bottom: 1px solid var(--ad-line-color);
  }

  .info-box {
    border-bottom: 1px solid var(--ad-line-color);
  }

  .one-text {
    height: 40px;
    line-height: 40px;
  }

  .desc-text {
    height: auto;
    max-height: 24px * 8;
    overflow: auto;
    line-height: 24px;
  }
}
