.modal-add-words {
  .ant-modal-header {
    height: 48px;
    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .ant-modal-footer {
    padding: 14px 16px;

    .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin-left: 10px;
    }
  }

  .ant-modal-content {
    .ant-form-item:last-child {
      margin: 0px;
    }
  }
}
