@prefixCls: kw-x6-model-dir-file-node;

.@{prefixCls} {
  height: 40px;
  position: relative;

  &-toolbar {
    display: none;
  }

  &:hover {
    .@{prefixCls}-toolbar {
      display: block;
    }
  }

  &-modal {
    .m-header {
      border: 0;
    }

    .m-content {
      height: 600px;
      overflow: auto;
    }
  }

  &-mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    position: absolute;
    left: 0;
    top: 0;
  }

  &-tooltip {
    .ant-tooltip-arrow {
      display: none;
    }

    .ant-tooltip-inner {
      max-height: 160px;
      width: 300px;
      padding: 8px;
      overflow: auto;
      background-color: #fff;
      word-break: break-all;
    }
  }
}
