.drop-intl-change {
  cursor: pointer;

  .change-language-content {
    display: flex;

    .icon {
      display: inline-block;
      margin-right: 8px;
    }

    .icon-font {
      margin-left: 10px;
      font-size: 12px;
      height: 26px;
      line-height: 28px;
    }
  }
}

.change-language-overlay {
  right: 5px;
  width: 92px;

  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    clear: both;
    margin: 0;
    height: 40px;
    padding: 9px 12px 9px 14px;
  }

  .selected {
    background: var(--kw-select-bg-color);
  }
}
