.time-task {
  .title {
    display: flex;
    font-weight: 500;

    .word {
      font-size: 16px;
      color: #333333;
    }

    .count {
      margin: 0 0 0 4px;
      font-size: 14px;
      color: var(--ant-primary-color);
    }
  }

  .ant-modal-content {
    height: 700px;
  }
}
