.FileSelResultRoot {
  width: 412px;
  min-height: 34px;
  display: flex;
  cursor: pointer;
  padding: 6px 11px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  &:hover {
    border-color: var(--kw-primary-color-hover);
  }
  .prefix {
    display: flex;
    padding-top: 4px;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.65);
  }
  .fileShowContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .placeholder {
      color: rgba(0, 0, 0, 0.25);
    }

    .tagText {
      max-width: 500px;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      text-overflow: ellipsis;
    }
  }
}

// antd 样式
.ant-form-item-has-error {
  .uploadShowLineRoot {
    border-color: #f5222d;
  }
}
