.upload-finish-table {
  // padding: 24px 20px 0 20px;

  .ant-table-row:hover {
    .ant-table-cell {
      background-color: var(--kw-hover-bg-color);
    }

    .detail-btn {
      display: inline-block;
    }
  }

  .ant-table-tbody > tr > td {
    padding-right: 0;
  }

  .detail-btn {
    display: none;
    cursor: pointer;
  }

  .img {
    width: 40px;
    height: 40px;

    .icon {
      font-size: 40px;
    }
  }

  .knwColorBox {
    width: 40px;
    height: 40px;
  }
}
