.kw-format-button {
  min-width: 72px !important;
  .anticon {
    font-size: 16px;
  
  }
  .anticon-caret-down {
    margin-left: 6px !important;
    font-size: 12px;
  }
}

.ant-btn-text[disabled], .ant-btn-text[disabled]:active, .ant-btn-text[disabled]:focus, .ant-btn-text[disabled]:hover {
  color: var(--kw-disabled-color) !important;
}

.kw-format-button-large {
  font-size: 16px;
  height: 40px;
  padding: 8px 20px !important;

  span {
    height: 14px;
    line-height: 14px;
  }
}

.kw-format-button-middle {
  font-size: 14px;
  height: 32px;
  padding: 4px 12px !important;

  span {
    height: 14px;
    line-height: 14px;
  }
}

.kw-format-button-small {
  font-size: 14px;
  height: 32px;
  padding: 4px 12px !important;

  min-width: 10px !important;
  width: 32px;
  .anticon-ellipsis {
    transform: translateX(-4px);
  }

  span {
    height: 14px;
    line-height: 14px;
  }
}

.kw-format-button-smallest {
  font-size: 12px;
  height: 24px;
  padding: 2px 8px !important;

  span {
    height: 12px;
    line-height: 12px;
  }
}

.ant-btn {
  &.kw-btn-text {
    padding: 0;
    min-width: 0;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;

    &:focus, &:hover {
      background: transparent;
      color: var(--ant-primary-color-hover);
    }

  }

  &.kw-btn-text-b {
    padding: 4px 12px;
    height: 32px;
    min-width: 0;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;

    &:focus, &:hover {
      background: transparent;
      color: var(--ant-primary-color-hover);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }

  }

  &.kw-btn-link {
    padding: 0;
    min-width: 0;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #126EE3;

    &:focus, &:hover {
      background: transparent;
      color: var(--ant-primary-color-hover);
    }

  }

  &.kw-btn-icon-text {
    padding: 0;
    min-width: 0;
    font-size: 14px;
    height: 22px;
    color:rgba(0,0,0,.85);

    .anticon {
      margin-right: 8px;
    }

    .anticon+span, .ant-btn>span+.anticon {
      margin-left: 8px;
      font-size: 14px;
    }

    &:focus, &:hover {
      background: transparent;
    }

    &:hover {
      color: var(--kw-primary-color);
    }
  }

  &.kw-btn-text-icon {
    padding: 0;
    min-width: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 22px;
    color:rgba(0,0,0,.85);

    .anticon {
      margin-left: 8px;
      font-size: 14px;
    }

    .anticon-down {
      margin-left: 4px;
      font-size: 10px;
    }

    &:focus, &:hover {
      background: transparent;
    }

    &:hover {
      color: var(--kw-primary-color);
    }
  }

  &.kw-btn-icon-text-icon {
    padding: 0;
    min-width: 0;
    display: flex;
    align-items: center;

    .anticon+span, .ant-btn>span+.anticon {
      margin-left: 8px;
      margin-right: 6px;
    }

    &:focus, &:hover {
      background: transparent;
    }

    &:hover {
      color: var(--kw-primary-color) !important;
    }
  }

  &.kw-btn-u-text {
    min-width: 72px !important;
  }
}

.kw-btn-icon {
  min-width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background: var(--kw-hover-bg-color);
  }

  .anticon {
    height: unset !important;
    line-height: 0;
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.45;

    &:hover {
      background: none;
    }
  }
}

.kw-format-icon-middle {
  min-width: fit-content;
  width: 32px;
  height: 32px;
}

.kw-format-icon-small {
  min-width: fit-content;
  width: 24px !important;
  height: 24px !important;
}

.kw-btn-u-icon {
  min-width: 10px !important;
  width: 32px;
  height: 32px;
  padding: 0px !important;
  border: 1px solid #d9d9d9 !important;
  &:hover {
    background: var(--kw-hover-bg-color) !important;
  }

  .anticon {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.kw-btn-icon-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  min-width: 32px;
  height: 32px;
  border-radius: 2px;
  color:rgba(0,0,0,.85);
  cursor: pointer;
  padding: 0 12px;
  transition: all .5s;

  .anticon {
    margin-right: 8px;
    font-size: 16px;
  }

  &:focus, &:hover {
    background: transparent;
  }

  &:hover {
    background:rgba(0,0,0,0.04);
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.45;
  }
}

.kw-btn-text-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  min-width: 32px;
  height: 32px;
  border-radius: 2px;
  color:rgba(0,0,0,.85);
  cursor: pointer;
  padding: 0 12px;
  transition: all .5s;

  .anticon {
    margin-left: 8px;
  }

  .anticon-down {
    margin-left: 4px;
    font-size: 10px;
  }

  &:focus, &:hover {
    background: transparent;
  }

  &:hover {
    background:rgba(0,0,0,0.04);
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.45;
  }
}

.kw-btn-icon-text-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  min-width: 32px;
  height: 32px;
  border-radius: 2px;
  color:rgba(0,0,0,.85);
  cursor: pointer;
  padding: 0 12px;
  transition: all .5s;

  .anticon:first-child {
    margin-right: 8px;
  }

  .anticon:last-child {
    margin-left: 8px;
  }

  .anticon-down {
    margin-left: 4px;
    font-size: 10px;
  }

  &:focus, &:hover {
    background: transparent;
  }

  &:hover {
    background:rgba(0,0,0,0.04);
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.45;
  }
}


.kw-btn-icon-text-link {
  padding: 0;
  min-width: 0;
  font-size: 14px;
  height: 22px;
  color:rgba(0,0,0,.85);
  cursor: pointer;

  .anticon {
    margin-right: 8px;
  }

  &:focus, &:hover {
    background: transparent;
  }

  &:hover {
    color: var(--kw-primary-color);
  }
}

.kw-btn-text-icon-link {
  padding: 0;
  min-width: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 22px;
  color:rgba(0,0,0,.85);
  cursor: pointer;

  .anticon {
    margin-left: 8px;
  }

  .anticon-down {
    margin-left: 4px;
    font-size: 10px;
  }

  &:focus, &:hover {
    background: transparent;
  }

  &:hover {
    color: var(--kw-primary-color);
  }
}

.kw-btn-icon-text-icon-link {
  padding: 0;
  min-width: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 22px;
  color:rgba(0,0,0,.85);
  cursor: pointer;


  .anticon:first-child {
    margin-right: 8px;
  }

  .anticon:last-child {
    margin-left: 8px;
  }

  .anticon-down {
    margin-left: 4px;
    font-size: 10px;
  }

  &:focus, &:hover {
    background: transparent;
  }

  &:hover {
    color: var(--kw-primary-color) !important;
  }
}
