.view-subgraph-modal-root {
  .ant-pagination-simple .ant-pagination-simple-pager input {
    width: 41px;
    border-radius: 6px;
  }
  .carousel-preview-item {
    padding: 0px 24px;
    .carousel-preview-info {
      background: linear-gradient(180deg, #f0f5ff 0%, #fafcff 31%, #ffffff 100%);
      box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.06);
    }
  }
}
