.modelLibraryHeaderRoot {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  .menus {
    .menusItem {
      height: 40px;
      font-size: 14px;
      padding: 5px 20px;
      .ant-dropdown-menu-title-content {
        display: flex;
        align-items: center;
      }
      &:hover {
        background-color: var(--kw-imitation-input-color);
      }
    }
    .selected {
      background-color: var(--kw-select-bg-color);
    }
    .icon {
      width: 24px;
    }
    .direction {
      transform: rotate(180deg);
    }
  }

  .delete-btn {
    padding: 0 !important;
  }

  .sortIcon {
    width: 32px;
    height: 32px;
    padding: 0px;
    display: flex;
    min-width: 32px;
    align-items: center;
    justify-content: center;
    // span {
    //   font-size: 18px;
    // }
  }
}
