@border: 1px solid var(--kw-line-color);

.match-source-modal-root {
  height: 100%;
  min-height: 470px;

  .loading-mask {
    display: none;
    // position: relative;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 56px;
    width: 100%;
    height: calc(100% - 116px);
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;

    &.spinning {
      display: block;
    }

    .kw-spin {
      position: absolute;
      top: 125px;
      left: 50%;
    }
  }

  .inception-source-title {
    margin-top: 10px;
    padding: 0px;

    .title {
      width: 280px;
      border-bottom: @border;
    }

    .title:nth-child(1) {
      margin-right: 30px;
    }
  }

  .source-match {
    padding: 0px;
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;

    .source-box {
      align-items: center;

      .source-box-left {
        width: 280px;
        padding: 7px 0px;
        border-bottom: @border;
        margin-right: 10px;

        .icon-box {
          align-items: center;

          .source-icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }

        .source-other {
          width: 226px;
          flex-flow: column;

          .other-message-dsName {
            max-width: 226px;
          }

          .other-message {
            max-width: 238px;
            font-size: 12px;
          }
        }

        .icon-why {
          display: flex;
          align-items: center;
          opacity: 0.45;
        }
      }

      .source-box-right {
        width: 280px;
        margin-left: 10px;

        .ant-select {
          width: 100%;
          height: 60px;

          .ant-select-selector {
            border: none;
            width: 100%;
            border-bottom: @border;

            .ant-select-selection-placeholder {
              line-height: 59px;
            }
          }
        }

        .ant-select-item-option-content,
        .ant-select-selection-item {
          display: flex;
          line-height: unset;
          align-items: center;

          .icon-box {
            align-items: center;
            width: 20px;
            height: 100%;
            margin-right: 10px;

            .source-icon {
              width: 100%;
              height: 20px;
            }
          }

          .source-other {
            flex-flow: column;

            .other-message-dsName {
              max-width: 218px;
            }

            .other-message {
              max-width: 218px;
              font-size: 12px;
            }
          }
        }

        .source-select {
          .select-placeholder {
            overflow: hidden;

            .placeholder-tip {
              float: left;
            }

            .hide {
              display: none;
            }

            .show {
              display: block;
              padding-top: 22px;

              .placeholder-warning {
                float: right;
                color: #f5222d;
                margin-right: 6px;
              }
            }
          }

          .ant-select-selector {
            height: 100%;
            padding: 0px;
          }
        }
      }
    }
  }

  .footer-box {
    border-top: @border;
    padding: 14px 14px 14px 0px;
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: 0px;
    right: 0px;

    Button {
      margin-right: 10px;
    }
  }
}
