.time-task-config-by-day {
  .time {
    color: var(--ad-heading-color);
    font-weight: 500;
    font-size: 16px;
    margin: 32px 0 0 0;
  }

  .by-day-tent {
    margin: 16px 0 0 0;

    .by-day-time {
      width: 280px;
      margin: 0 12px;
    }

    .by-day-des {
      font-size: 14px;
      font-weight: 400;
      color: var(--ad-text-color);
    }

    .ant-picker-panel {
      width: 170px;
    }
  }
}
