.displayMoreRoot {
  .moreLine {
    height: 48px;
    display: flex;
    cursor: pointer;
    align-items: center;
    color: var(--kw-text-color);
    border-bottom: 1px solid var(--kw-line-color);
    .btnIcon {
      padding: 2px;
      font-weight: 800;
      border-radius: 4px;
      transform: scale(0.5);
      border: 2px solid #000;
    }
  }
}
