body.white {
  background-color: #fff !important;
}

.src-nav-SideBar-styles---content-outer {
  padding: 0px !important;
}

.knowledgeNetwork {
  width: 100%;
  height: max-content;
  min-width: 1326px;
  overflow: auto;

  .knowledgeNetwork-left {
    position: fixed;
    height: 100vh;
    width: 40px;
    padding-top: 48px;
    top: 0;
    z-index: 10;
    background: #fff;
  }

  .knowledgeNetwork-header {
    height: 48px;
    width: 100%;
    z-index: 210;
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .knowledgeNetwork-content {
    width: 100%;
    padding: 48px 0 0 40px;
    background: #fff;
    min-width: 1176px;
  }
}
