@row-width: 730px; // 行宽
@label-width-CN: 70px; // 中文label宽度
@label-width-EN: 130px; // 英文label宽度
@input-width-CN: 660px; // 中文input宽
@input-width-EN: 600px; // 英文input宽

.extract-source-modal {
  .ant-modal-body {
    margin: 24px;
    padding: 0;
  }

  .model-scroll {
    height: 575px !important;
  }

  .text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .select-file-tree .ant-select-selection-item .file-name {
    .text-ellipsis();
    max-width: 120px;
    vertical-align: top;
  }

  .no-select,
  .no-select:hover {
    .ant-select-selector {
      border-color: var(--ad-error-color) !important;
    }
  }

  .preview-box .ant-select-selection-item .file-name {
    max-width: 700px;
  }

  // input组合边框覆盖问题, 设置focus的input显示在最上层
  .postfix-select.ant-select-focused .ant-select-selector {
    z-index: 1 !important;
  }

  .modal-content {
    padding-right: 20px;

    .ant-empty-image {
      height: 50px;
      margin: 20px 0 8px 0;
    }

    .ds-btn {
      margin-left: 8px;
    }

    .file-tree-row .file-name {
      white-space: nowrap;

      .word {
        display: inline-block;
        max-width: 620px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .sheet-option {
      .sheet-icon {
        display: inline-block;
        height: 20px;
        margin-right: 4px;
        transform: translateY(2px);
      }
    }

    .select-file-row {
      display: flex;
      width: @row-width;
      margin-bottom: 20px;
      align-items: center; // 防止搜索框抖动

      .modal-label {
        display: inline-block;
        width: @label-width-CN;
        height: 100%;
        color: var(--ad-heading-color);
        text-align: left;
      }

      .select-file {
        width: @input-width-CN;
        height: 100%;
        background: #fff;

        .no-sub {
          display: inline-block;
          height: 20px;
          background-color: rgba(243, 146, 36, 0.1);
          color: var(--ad-warning-color);
          line-height: 20px;
          border: 1px solid var(--ad-warning-color);
        }
      }

      .select-file-tree {
        display: inline-block;
        width: @input-width-CN;

        .structured-tree-select {
          width: 500px;
        }

        .un-structured-tree-select {
          width: @input-width-CN;
        }

        .postfix-select {
          width: 160px;
        }
      }

      .modal-input {
        width: @input-width-CN;
      }

      .ant-input-prefix {
        margin-right: 8px;
      }

      // antd 树多选样式
      .data-sheet-tree {
        width: @input-width-CN;

        .sheet-name {
          display: inline-block;
          max-width: 110px;
          text-overflow: ellipsis;
          overflow: hidden;
          vertical-align: top;
        }

        .ant-select-selector {
          flex-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .ant-select-selection-item {
          .text-ellipsis();
        }

        .ant-select-item-option {
          .sheet-option {
            .sheet-name {
              max-width: 510px !important;
            }
          }
        }

        .ant-select-tree-node-content-wrapper .ant-select-tree-title {
          .text-ellipsis();
          vertical-align: top;
        }
      }

      .data-sheet-tree.no-select {
        border-color: var(--ad-error-color) !important;
      }
    }

    // 计数
    .count-row {
      position: relative;

      .extract-count {
        display: inline-block;
        position: absolute;
        z-index: 9;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);

        .err {
          color: var(--ad-error-color);
        }
      }

      .data-sheet-tree,
      .structured-tree-select,
      .un-structured-tree-select {
        .ant-select-selector {
          padding-right: 50px;
        }
      }
    }

    // 英文样式
    .set-content-EN {
      .select-file-row {
        .modal-label {
          width: @label-width-EN;
        }

        .select-file {
          width: @input-width-EN;
        }

        .select-file-tree {
          width: @input-width-EN;

          .un-structured-tree-select {
            width: @input-width-EN;
          }
        }

        .modal-input {
          width: @input-width-EN;
        }

        // antd 树多选样式
        .data-sheet-tree {
          width: @input-width-EN;

          .sheet-name {
            max-width: 90px;
          }
        }
      }
    }

    // 预览区
    .preview-box {
      position: relative;

      .preview-h {
        height: 22px;
        margin-bottom: 14px;
        font-size: 16px;
        color: var(--ad-heading-color);
        font-family: PingFangSC-Medium;
        font-weight: 500;
        line-height: 22px;

        .preview-span {
          margin-left: 4px;
          font-size: 12px;
          color: var(--ad-text-color-secondary);
        }
      }

      .preview-content {
        width: 100%;
        min-height: 225px;
        padding: 20px;
        background: #f9f9f9;

        .select-data-box {
          width: 100%;

          .select-data {
            width: 100%;
            margin-bottom: 20px;
          }
        }

        &.pre-mq {
          min-height: 330px;
          padding: 0;
          border: 1px solid #d9d9d9;
          border-radius: 3px;
        }
      }

      .model-content {
        width: 100%;
      }

      // spin加载样式
      .ant-spin-dot-item {
        background: var(--ad-primary-color);
      }
    }

    // 弹窗loading
    .extract-modal-loading {
      position: absolute;
      z-index: 10000;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(240, 244, 250, 0.6);

      .icon {
        font-size: 40px;
        color: var(--ad-primary-color);
        position: absolute;
        left: 48%;
        top: 50%;
      }
    }

    .file-tree-row {
      .file-tree-type {
        width: 16px;
        height: 100%;
        padding-top: 1px;
        margin: 0;
      }
    }

    // 预览loading
    .extract-pre-loading {
      position: absolute;
      z-index: 10000;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(240, 244, 250, 0.6);

      .icon {
        font-size: 40px;
        color: var(--ad-primary-color);
        position: absolute;
        left: 48%;
        top: 40%;
      }
    }
  }

  .footer-btn {
    height: 54px;
    margin: 0 -24px;
    padding: 11px 24px;
    border-top: 1px solid #f0f0f0;
    text-align: right;

    button {
      margin-left: 8px;
    }
  }
}