.partition-config-root {
  .partition-wrap {
    height: 490px;
    max-height: 492px;
    overflow: auto;
    .field-and-variable-box {
      position: relative;

      .field-and-variable {
        border-bottom: 1px dashed var(--kw-border-color-base) !important;

        .radio-open {
          height: 60px;
          .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
            display: none;
          }
          .ant-form-item {
            margin: 0px;
          }
          .select-partition {
            width: 200px;
            height: 32px;
          }
          .variable-text {
            width: 57px;
          }

          .partition-input {
            width: 100%;
            align-items: center;

            .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
              border: none;
            }
            .ant-input-group-addon {
              background: #fff;
              padding: 0px;
            }
            .example {
              border-right: 1px solid var(--kw-border-color-base) !important;
              padding: 0px 12px;
              color: rgba(0, 0, 0, 0.85);
            }
            .preview-time {
              padding: 0px 12px;
            }
            .ant-dropdown-menu {
              border-radius: 8px;
              width: 144px;
              margin-top: 4px;
            }
          }
        }
      }
      .partition-example {
        position: absolute;
        border: 1px solid var(--kw-border-color-base) !important;
        background: #fff;
        z-index: 100;
        border-radius: 3px;
        padding: 0px 24px;
        .drop-header {
          border-bottom: 1px solid var(--kw-border-color-base) !important;
          .variable-example {
            width: 99%;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
          }
        }
        .regular-expression {
          width: 99%;
          .regular-time {
            display: inline-block;
          }
        }
        .regular-copy:hover {
          color: #126ee3;
        }
      }
    }
    .ant-btn-default:hover {
      background-color: #fff;
    }
  }
}
