.edgesListRoot {
  height: 100%;
  min-height: 520px;
  position: relative;
  padding-bottom: 56px;

  .empty {
    display: flex;
    padding: 88px 12px;
    align-items: center;
    flex-direction: column;
  }

  .row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    height: 48px;
    padding-left: 12px;

    .line {
      width: 14px;
      height: 2px;
      margin-top: 4px;
      min-width: 14px;
      margin-right: 10px;
    }
  }

  .pagination {
    right: 0px;
    bottom: 0px;
    position: absolute;
  }
}
