

@min-screen-width: 1326px; // 最小屏幕宽度
@max-screen-width: 1920px; // 最大宽度
@max-screen-height: 1186px; // 最大高度
@header-height: 54px; // 顶部高度

.new-work-flow {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f8f8f8;
  z-index: 211;
  overflow: auto;

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .center {
    max-width: 1920px;
    margin: 0 auto;
  }

  .workflow-spin {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    padding: 23% 0 0 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .load-icon {
    font-size: 24px;
    color: var(--ad-primary-color);
  }

  .work-flow-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: @header-height;
    background-color: #fff;
    // box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
    z-index: 222;

    .back-btn {
      position: absolute;
      left: 24px;
      top: 11px;
    }

    .network-info {
      position: absolute;
      top: 11px;
      right: 36px;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      border: 1px solid rgba(238, 238, 238, 1);
      text-align: center;
      line-height: 32px;

      .icon {
        font-size: 16px;
      }
    }

    .network-tent {
      width: 330px;
      height: 172px;
      top: 64px;
      right: 22px;
      position: absolute;
      display: none;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 5px 0px rgba(232, 232, 232, 0.53);
      border-radius: 4px;

      .title {
        margin: 24px 0 8px 24px;
        font-size: 16px;
        color: var(--ad-text-color-secondary);
      }

      .name {
        height: 60px;
        margin: 0 24px;
      }

      .type {
        margin: 14px 0 0 24px;
        font-size: 14px;
        font-weight: 400;
        color: var(--ad-primary-color);
      }
    }

    .network-info:hover ~ .network-tent {
      display: block !important;
    }
  }

  .work-flow-container {
    min-width: @min-screen-width;
    max-height: @max-screen-height;
    width: 100%;
    height: 100%;
    padding-top: @header-height;
    margin: 0 auto;

    .space {
      padding: 24px 24px 0;
    }
  }

  .work-flow-footer {
    position: fixed;
    z-index: 222;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    .ant-tooltip-inner {
      white-space: normal;
      padding: 12px 10px;
    }
  }

  .btn {
    width: 134px;
    height: 48px;
    margin-right: 10px;
  }
}

.workflow-exit-modal {
  .ant-modal-content {
    width: 432px;
    height: 192px;

    .ant-modal-header {
      display: none;
    }

    .ant-modal-body {
      padding: 24px 28px;

      .workflow-modal-title {
        margin-bottom: 12px;

        .title-icon {
          vertical-align: middle;
          display: inline-block;
          color: var(--ad-error-color);
          font-size: 20px;
          margin-right: 16px;
        }

        .title-text {
          vertical-align: middle;
          font-size: 16px;
          font-weight: 800;
          color: var(--ad-heading-color);
          line-height: 24px;
        }
      }

      .workflow-modal-body {
        display: inline-block;
        padding-left: 36px;
      }

      .workflow-modal-footer {
        margin-top: 28px;
        text-align: right;

        .btn {
          height: 32px;
          margin-left: 10px;

          &.big {
            height: 36px;
          }
        }
      }
    }
  }
}
