.edgesListRoot {
  height: 100%;
  min-height: 520px;
  position: relative;
  padding-bottom: 56px;
  .empty {
    display: flex;
    padding: 88px 12px;
    align-items: center;
    flex-direction: column;
  }
  .row {
    display: flex;
    padding: 13px 12px;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    .line {
      width: 14px;
      height: 2px;
      min-width: 14px;
      margin-right: 10px;
    }
  }
  .pagination {
    right: 0px;
    bottom: 0px;
    position: absolute;
  }
}
