// 错误报告弹框
.thesaurus-error-modal {
  .kw-universal-modal .kw-universal-modal-content {
    padding: 20px 0px 0px;
  }
  .ant-modal-content {
    width: 800px;
    height: 386px;

    .ant-modal-header {
      display: none;
    }

    .ant-modal-body {
      padding: 0;

      .error-modal-title {
        box-sizing: border-box;
        height: 56px;
        padding: 16px 24px;
        font-size: 18px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: var(--kw-heading-color);
        line-height: 26px;
        border-bottom: 1px solid var(--kw-line-color);
      }

      .thesaurus-error-info-modal-root {
        flex-flow: column;
        .error-modal-body {
          height: 262px;

          .error-pre {
            height: 100%;
          }
        }

        .error-modal-footer {
          box-sizing: border-box;
          padding: 12px 24px;
          border-top: 1px solid var(--kw-line-color);
          justify-content: right;
        }
      }
    }
  }
}
