.intention-deal-create-box {
  padding: 0px 24px;
  height: calc(100% - 77px);
  overflow: auto;
  .intention-slot-table {
    // max-height: 700px;
    max-height: calc(100% - 105px);
    overflow: auto;
    margin-bottom: 12px;
    .name-length {
      max-width: 552px;
    }
    .intention-over-length {
      max-width: 534px;
    }
    .empty-box {
      margin-top: 100px;
      .empty-content {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
}
