.modal-import-words {
  .ant-modal-body {
    min-height: 120px;
    max-height: 548px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
  }

  .importWords-extraBox {
    margin-top: 10px;

    .fileExtra {
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .down-style {
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
  }

  .ant-modal-footer {
    padding: 14px 16px;

    .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin-left: 10px;
    }
  }

  .ant-form-item:last-child {
    margin: 0px;
  }

  // .ant-modal-content {
  //   .m-footer {
  //     position: unset;
  //   }
  // }
}
