.exampleItemCircle {
  display: flex;
  font-size: 12px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .circle {
    width: 32px;
    height: 32px;
    display: flex;
    font-size: 10px;
    color: #ffffff;
    align-items: center;
    border-radius: 32px;
    flex-direction: column;
    justify-content: center;
    background-color: #118bed;
  }
  .circleLarge {
    width: 48px;
    height: 48px;
    border-radius: 48px;
  }
}

.exampleItemRect {
  width: 140px;
  height: 46px;
  display: flex;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  padding-left: 12px;
  border-radius: 4px;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #118bed;
  .sign {
    top: 0px;
    left: 0px;
    width: 6px;
    height: 100%;
    position: absolute;
    background-color: #118bed;
  }
}
