.ad-format-button { min-width: 10px !important; }

.ad-format-button-large { font-size: 14px; height: 40px; padding: 8px 20px !important;
  span { height: 14px; line-height: 14px; }
}
.ad-format-button-middle { font-size: 14px; height: 36px; padding: 7px 12px !important;
  span { height: 14px; line-height: 14px; }
}
.ad-format-button-small { font-size: 14px; height: 32px; padding: 5px 12px !important; 
  span { height: 14px; line-height: 14px; }
}
.ad-format-button-smallest { font-size: 12px; height: 24px; padding: 2px 8px !important;
  span { height: 12px; line-height: 12px; }
}
