.retrievalAndVidRoot {
  width: 100%;
  height: 100%;

  .ant-tabs>.ant-tabs-nav,
  .ant-tabs>div>.ant-tabs-nav {
    height: 56px;
    margin: 0 24px !important;
    padding: 0 !important;
  }

  .ant-tabs-nav-wrap {
    height: 50px;
  }

  .ant-tabs,
  .ant-tabs-content-holder,
  .ant-tabs-content {
    height: 100%;

    .ant-tabs-tabpane {
      height: 100%;
    }
  }

  // 规则下拉弹窗挂载容器
  .retrieval-scroll {
    height: calc(100% - 68px);
    position: relative;
    overflow: auto;
    overflow: overlay;
  }
}