.exploreGraphRoot {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-width: 800px;
  position: relative;
  background-color: #fff;
  height: 100vh;
}

.ant-tooltip,
.ant-modal-root,
.ant-menu-submenu,
.exploreGraphRoot {
  div {
    user-select: none;
  }

  span {
    user-select: none;
  }
}
