@prefixCls: data-source-list;

.@{prefixCls} {
  &-root {
    border: 1px solid var(--kw-border-color-base);
    border-radius: var(--kw-border-radius-base);

    .kw-search-input {
      margin: 0;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #d9d9d9;
    }

    .@{prefixCls}-item {
      height: 36px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: var(--kw-hover-bg-color);
      }

      &-selected {
        background: var(--kw-select-bg-color);

        &:hover {
          background: var(--kw-select-bg-color);
        }
      }
      &-disabled {
        opacity: 0.45;
      }
    }
  }

  &-disabled {
    .@{prefixCls}-item {
      cursor: not-allowed;
      background: #f5f5f5 !important;
    }
  }
}
