@prefixCls: data-file-dir-list;

.@{prefixCls} {
  min-width: 230px;

  &-disabled {
    .@{prefixCls}-item {
      cursor: not-allowed;
      background: #f5f5f5 !important;
      height: 36px;
      line-height: 36px;
    }
  }
}