.qaConfigIntentListRoot {
  height: 100%;
  width: 480px;
  padding: 24px;
  border-right: 1px solid var(--kw-line-color);

  .intentListWrapper {
    height: calc(100% - 64px);
    overflow-y: auto;

    .intentionItem {
      height: 40px;
      padding: 0 12px;
      cursor: pointer;

      &:hover {
        background: var(--kw-hover-bg-color);
      }
    }

    .selectedBg {
      background: var(--kw-select-bg-color);
    }
  }
}
