.kw-format-select { min-width: 10px !important; }

.kw-format-select-large { 
  font-size: 14px; height: 40px; padding: 0px 12px !important;
}
.kw-format-select-middle { 
  font-size: 14px; height: 34px; padding: 0px 12px !important;
}
.kw-format-select-small { 
  font-size: 12px; height: 32px; padding: 0px 12px !important; 
}