.iq-rate-plate {
  position: relative;
  height: 193px;

  .score-format {
    width: 100%;
    text-align: center;

    .s-text {
      font-size: 40px;
      font-weight: 600;
      color: var(--kw-heading-color);
      line-height: 1.14;
    }

    .tip-text {
      color: #666;
    }
  }
}
