@border: 1px solid #d9d9d9;
.custom-first-step-root {
  flex-flow: column;
  position: relative;
  .loading-mask {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;

    &.spinning {
      display: block;
    }

    .spin-content-box {
      position: absolute;
      width: 100%;
      height: 80px;
      flex-flow: column;
      justify-content: center;
      top: 260px;
      .kw-spin {
        margin-bottom: 10px;
      }
      .loading-content {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
  .custom-content {
    height: calc(100% - 60px);

    .content-left {
      position: relative;
      // border-right: @border;
      .dragLine {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0px;
        width: 3px;
        background: transparent;
        cursor: col-resize;
      }
    }

    .content-right {
      border-bottom: @border;
      .ant-tabs-top > .ant-tabs-nav {
        margin: 0px;
      }
      .right-tab {
        .ant-tabs-tab {
          width: 80px;
          justify-content: center;
          padding: 9px 0px;
        }
      }
      .right-tab-2 {
        .ant-tabs-tab {
          width: 80px;
          justify-content: center;
          padding: 9px 0px;
          &:nth-child(2) {
            width: 160px;
          }
        }
      }
      .ant-tabs-content {
        height: 100%;
      }
      .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
        padding-left: 24px;
      }
    }
  }
  .footer-box {
    // border-top: @border;
    padding: 14px 0px;
  }
}
