.blockConfigRoot {
  width: 440px;
  min-width: 440px;
  border-left: 1px solid var(--kw-line-color);
  background-color: #fff;

  .error-input,
  .error-selector .ant-select-selector {
    border-color: var(--kw-error-color) !important;
  }
}
