.dragContainerRoot {
  width: 100%;
  display: flex;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  max-height: calc(100% - 98px);
  transform: translateY(-25px);
  .dragContainer {
    width: 320px;
    display: flex;
    position: relative;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.11);
    .boxRoot {
      width: 100%;
      cursor: pointer;
      user-select: none;
      position: relative;
      .active {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        pointer-events: none;
        border: 2px dashed #1890ff;
      }
      .content {
        z-index: 2;
        position: relative;
        pointer-events: none;
      }
      .background {
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .tag {
        top: 12px;
        left: -90px;
        padding: 4px 12px;
        position: absolute;
        border-radius: 18px;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
      .deletePopconfirm {
        width: 180px;
        .ant-btn {
          width: 49px;
          height: 24px;
          min-width: 49px;
        }
      }
      .deleteButton {
        top: 12px;
        right: -65px;
        display: none;
        cursor: pointer;
        padding: 4px 18px;
        position: absolute;
        border-radius: 18px;
        background-color: #fff;
      }
      .deleteVisible {
        display: block;
      }
    }
    .boxMoving {
      width: 100%;
      z-index: 100;
      display: none;
      cursor: pointer;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .moving {
      display: block;
    }
    .line .content::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 24px;
      right: 24px;
      height: 1px;
      background: var(--kw-line-color);
    }
  }
}
