.servicePropertyFilterRoot {
  .errBor {
    .ant-select-selector {
      border-color: var(--kw-error-color);
    }
  }

  .errInput {
    .ant-input {
      border-color: var(--kw-error-color);
      border-left-color: #d9d9d9;
    }

    .ant-input-group-addon {
      border-color: var(--kw-error-color);
      border-right-color: #d9d9d9;
    }
  }

  .ant-input-group-addon {
    background-color: #fff;
  }

  .valueInputBox {
    margin-left: 14px;
  }
}

.ant-picker-dropdown {
  z-index: 1052;
}
