.extendEdgeRoot {
  min-width: 280px;
  height: 426px;

  .topSelect {
    height: 42px;
    padding: 0 16px 0 10px;
    border-bottom: 1px solid var(--kw-line-color);

    .title {
      min-width: 48px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      padding: 0px 12px;
    }

    .border-bt {
      border-bottom: 2px solid var(--kw-primary-color);
    }
  }

  .loading-box {
    width: 100%;
    height: 376px;
    background-color: #ffffff;
    text-align: center;
    padding: 130px 0 0 0;

    .icon {
      font-size: 40px;
      color: var(--kw-primary-color);
    }
  }
}
