.toolsRoot {
  position: absolute;
  right: 28px;
  bottom: 28px;
  width: 170px;
  z-index: 1;
  height: 44px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 6px;

}
