.flow3-node-info {
  display: flex;
  flex-direction: column;
  transition: width 0.3s;

  .alert {
    border: none;
    padding: 12px;
    font-size: 12px;
    background-color: #fdf7e9;

    // antd 样式
    .ant-alert-icon {
      font-size: 16px;
    }
    .ant-alert-message {
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .title {
    flex-shrink: 0;
    height: 52px;
    padding: 20px 24px 0 24px;
    border-bottom: 1px solid rgba(244, 244, 244, 1);

    .word {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
      color: var(--kw-heading-color);
      float: left;

      .dian-icon {
        margin: -2px 12px 0 0px;
      }
    }

    .delete-btn-none {
      display: none;
    }

    .click-mask {
      float: right;
      height: 32px;
      padding: 0 4px;
      line-height: 32px;
      transform: translateY(-5px);
      font-size: 16px;
      text-align: center;

      &.disabled {
        cursor: not-allowed;
      }
    }
  }

  .info-content-flow > .node-info-tab {
    .ant-tabs-tab {
      padding: 0 0 12px;
      .anticon {
        margin-right: 0;
      }
    }

    .ant-tabs-nav {
      margin-bottom: 20px;
    }
  }

  .node-info-form {
    padding: 20px 24px 0 24px;
  }

  .node-info-tab {
    padding: 0 24px 0 24px;
    .anticon.error-icon {
      color: var(--ant-error-color) !important;
      margin-right: 0px;
    }
  }

  .ant-tabs-tab {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0 12px 12px 12px !important;
    .ant-tabs-tab-btn {
      min-width: 32px;
    }
  }

  .form-row {
    .ant-row {
      flex: 1;
      min-width: 0;
    }

    .ant-form-item {
      margin: 0 0 12px;
    }

    .name-label {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
      min-width: 100px;
      line-height: 32px;
      padding: 0 12px;
      border: 1px solid #d9d9d9;
      border-right: none;
      border-radius: 3px 0 0 3px;

      &.EN {
        min-width: 135px;
      }
    }

    .ant-form-item-control-input-content {
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: 2;
        width: 1px;
        height: 14px;
        top: 9px;
        left: 0;
        background-color: #d9d9d9;
      }
    }

    .ant-form-item-has-error {
      .name-input {
        z-index: 3;
      }
    }

    .name-input {
      border-radius: 0 3px 3px 0;
      border-left-color: transparent;
    }

    .name-input:not(.ant-input-affix-wrapper-disabled) {
      &:hover,
      &:focus,
      &.ant-input-affix-wrapper-focused {
        z-index: 3;
        border-left-color: var(--ant-primary-5);
      }
    }

    .ant-input-suffix {
      visibility: hidden;
    }

    .name-input:hover .ant-input-suffix {
      visibility: visible;
    }

    .ant-form-item-has-error .name-input:not(.ant-input-affix-wrapper-disabled) {
      border-left-color: var(--ant-error-color) !important;
    }
  }

  .info-content-flow {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    .basic-info {
      .icon {
        display: inline-block;
        margin: 0 0 0 8px;
        color: var(--kw-text-color-secondary);
      }

      .icon:hover {
        color: var(--kw-primary-color);
      }

      .required::before {
        content: '*';
        display: inline-block;
        margin-right: 4px;
        color: var(--kw-error-color);
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
      }
    }

    .color-select-box {
      margin: 0 0 10px 0;

      .color-name {
        color: var(--kw-heading-color);
        height: 22px;
        line-height: 22px;
        margin-bottom: 8px;
      }

      .color-select-container {
        .color-box {
          width: 100%;
          height: 32px;
          line-height: 32px;
          display: flex;
          padding: 0 12px;
          background: rgba(255, 255, 255, 1);
          border-radius: 3px;
          border: 1px solid rgba(230, 230, 230, 1);

          &:hover,
          &.color-focused {
            border: 1px solid var(--kw-primary-color-hover);
          }

          .color-block {
            width: 18px;
            height: 18px;
            margin-top: 7px;
            border-radius: 3px;
            border: 1px solid rgba(229, 229, 229, 1);
          }

          .color {
            width: 100px;
            margin: 0 0 0 10px;
          }
        }

        .color-box-view {
          border: 1px solid #d9d9d9 !important;
          background: #f5f5f5;
          cursor: not-allowed;
        }
      }

      .color-picker {
        margin: 5px 0 0 0;
        position: absolute;
        z-index: 1;

        .cover {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        .color-plate {
          width: 220px !important;
        }
      }
    }

    .add-all-index {
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--kw-heading-color);
      line-height: 20px;

      .add {
        color: var(--kw-text-color-secondary);
        font-size: 14px;
        cursor: pointer;
        margin: 0 0 0 6px;
      }

      .add:hover {
        color: var(--kw-primary-color);
      }

      .switch {
        float: right;
      }
    }

    .add-box {
      .page {
        text-align: right;
        margin: 0 0 2px 0;

        .ant-pagination {
          margin: 22px 0 0 0;
        }
      }
    }

    .add-edges {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 80px;
      padding: 20px 0;
      margin: 31px 0 12px 0;
      background: rgba(248, 251, 255, 1);
      border-radius: 3px;
      border: 1px solid rgba(230, 230, 230, 1);
      cursor: pointer;

      .image {
        margin: 0 0 0 24px;

        .icon {
          font-size: 40px;
        }
      }

      .word {
        width: 324px;
        margin: 0 12px 0 14px;

        .top {
          font-size: 14px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
        }

        .bottom {
          margin: 4px 0 0;
          font-size: 14px;
          font-weight: 400;
          color: var(--kw-text-color-secondary);
        }
      }

      .right-image {
        margin: 0 8px 0 0;

        .icon {
          font-size: 17px;
        }
      }
    }

    .data-source {
      display: flex;
      padding: 0 0 20px 0;

      .image {
        .icon-file {
          width: 36px;
        }
      }

      .word {
        flex: 1;
        margin: -8px 0 0 14px;

        .line-1 {
          font-size: 16px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .line-2 {
          font-size: 14px;
          font-weight: 400;
          color: var(--kw-text-color-secondary);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .line-s {
          margin: 6px 0 0 0;

          .line-3 {
            font-size: 12px;
            padding: 4px 8px;
            background: rgba(245, 245, 245, 1);
          }
        }
      }

      .delete {
        line-height: 67px;
        cursor: pointer;
        margin: 0 8px 0 20px;

        .icon {
          color: var(--kw-text-color-secondary);
        }
      }
    }

    .no-data {
      font-size: 14px;
      font-weight: 400;
      color: var(--kw-text-color-secondary);
      text-align: center;
    }

    .ant-collapse {
      border: 0;
      background-color: rgba(255, 255, 255, 1);
    }

    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
      padding: 12px 0px;
      border-bottom: 1px solid rgba(244, 244, 244, 1);
      font-weight: 600;
    }

    .ant-collapse-content {
      border: 0;
    }

    .ant-collapse-content > .ant-collapse-content-box {
      padding: 20px 0 0 0;
    }

    .ant-collapse > .ant-collapse-item {
      border: 0;
    }

    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      right: 8px;
      font-size: 16px;
      float: right;
    }
  }

  .input-relation {
    input {
      font-size: 14px !important;
    }
  }

  .show-name-input {
    input {
      font-size: 14px !important;
    }
  }

  .err-border .ant-select-selector {
    border: 1px solid var(--kw-error-color) !important;
  }

  .pro-error {
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    margin: 0 -24px;
    background: #fff1f0;
  }
}

.warn-icon {
  color: var(--kw-warning-color);
}
