.displayRoot {
  .ant-tabs {
    height: 100%;
    .ant-tabs-nav {
      height: 56px;
      margin: 0px;
      padding-left: 0px !important;
    }
    .ant-tabs-nav-wrap {
      height: 50px;
    }
    .ant-tabs-content-holder {
      height: 100%;
      .ant-tabs-content {
        height: 100%;
        .ant-tabs-tabpane {
          height: 100%;
        }
      }
    }
  }
}
