.extract-sheet-list-root {
  position: relative;

  .s-input {
    flex: 1;
    min-width: 0;
    margin: 0 12px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
  }

  .icon-mask {
    padding: 12px 12px 0 0;
    color: var(--kw-text-color-secondary);

    &:hover {
      color: var(--kw-warning-color);
    }
  }

  .list-box {
    height: calc(100% - 48px);
    overflow: auto;
  }

  .sheet-item {
    height: 36px;

    &:hover {
      background: var(--kw-hover-bg-color);
    }

    &.selected {
      background: var(--kw-select-bg-color);
    }

    &.disabled {
      opacity: 0.45;
    }

    .check-mask {
      .ant-checkbox-wrapper {
        align-items: center;
      }
    }

    .click-mask {
      flex: 1;
      min-width: 0;
      color: var(--kw-heading-color);

      .s-name {
        display: inline-block;
        vertical-align: middle;
        max-width: calc(100% - 32px);
      }
      &.disabled {
        opacity: 0.45;
      }
    }
  }
}
