.canvas-res-panel-table {
  .ant-table-body {
    overflow-y: auto !important;
  }

  .optionalColumTablePopover {
    // antd 样式覆盖
    .ant-popover-arrow {
      display: none;
    }
    .ant-popover-inner-content {
      padding: 12px 0px;
    }
  }
}
