.time-task-list {
  .head-button {
    margin: 0 0 20px 0;

    .delete-button {
      margin: 0 0 0 12px;
    }
  }

  .ant-table-wrapper {
    height: 504px;
  }

  .empty-box {
    height: 337px;
    padding: 80px 0 0 0;
    font-size: 14px;
    color: var(--ad-text-color);
    cursor: default;

    .empty-des {
      margin-top: 8px;
    }
  }

  .detail-data {
    max-width: 300px;
    word-break: break-all;
  }

  .operate {
    .word {
      cursor: pointer;
      color: var(--ant-primary-color);
      font-size: 14px;
    }

    .cut {
      margin: 0 4px;
      color: #e9e9e9;
    }
  }

  .time-task-user {
    .name {
      max-width: 120px;
      color: var(--ad-text-color);
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .email {
      max-width: 150px;
      color: var(--ad-text-color);
      font-size: 13px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .ant-pagination {
    margin: 24px 0 20px 0 !important;
  }

  .bottom-button {
    border-top: 1px solid var(--ad-line-color);
    text-align: right;
    margin: 0 -24px 0 -24px;
    padding: 16px 24px 0px 0px;

    .button-style {
      width: 80px;
      height: 36px;
      border-radius: 3px;
    }

    .cancel {
      margin: 0 8px 0 0;
    }
  }

  .delete-modal {
    .ant-modal-content {
      height: 192px;
      margin: 120px 0 0 0;
    }

    .title-delete {
      .tip-icon {
        color: var(--ant-error-color);
        font-size: 22px;
      }

      .title-delete-word {
        font-weight: 500;
        font-size: 16px;
        color: var(--ad-heading-color);
        margin: 0 0 0 16px;
      }
    }

    .des {
      font-weight: 400;
      font-size: 14px;
      color: var(--ad-text-color);
      margin: 12px 0 0 38px;
    }

    .delete-modal-bottom-button {
      margin: 52px 0 0 0;
      text-align: right;

      .cancel {
        margin: 0 8px 0 0;
      }

      .button-style {
        height: 32px;
      }
    }
  }
}