.modelServiceTable {
  // .ant-table-thead tr th {
  //   height: 48px;
  //   padding: 0 16px;
  //   background: #fff;
  // }

  // .ant-table:not(.ant-table-bordered) .ant-table-thead>tr>th {
  //   border-top: none;
  // }

  // .ant-table-tbody tr td {
  //   height: 64px;
  //   padding: 0 16px;
  // }

  .mTypeBox {
    max-width: 90px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid var(--kw-line-color);
    padding: 0 8px;
    box-sizing: border-box;
  }

  .modelIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    // border: 1px solid var(--kw-line-color);
  }
}
