.flter-tag-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  padding: 6px 28px 6px 10px;
  border-radius: 3px;
  border: 1px solid rgba(var(--ad-primary-color-rgb), 0.45);
  background-color: rgba(var(--ad-primary-color-rgb), 0.06);
  color: var(--ad-primary-color);
  line-height: 0;
  cursor: default;

  .tag-name {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    max-width: 160px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .close-wrap {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 6px;
    right: 6px;
    width: 20px;
    height: 20px;
    color: rgba(var(--ad-primary-color-rgb), 0.45);
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      color: var(--ad-primary-color);
    }
  }
}