.cog-service-param-collapse {
  .ant-collapse-item {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
  }

  .ant-collapse-header {
    padding: 0 22px !important;
  }

  .ant-collapse-item-disabled > .ant-collapse-header {
    cursor: default !important;
  }

  .ant-collapse-arrow {
    margin-right: 8px !important;
  }

  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .panel-header {
    flex: 1;
    min-width: 0;
    cursor: default;

    .h-icon {
      display: none;
      opacity: 0.65;
    }

    &:hover {
      .h-icon {
        display: inline-block;
      }
    }
  }

  .p-item {
    border-left: 1px solid var(--kw-line-color);
  }

  .p-label {
    width: 70px;
    text-align: left;
  }

  .p-value {
    flex: 1;
    min-width: 0;
  }
}
