.slice-result-collapse-path {
  .circle-icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 20px;
    color: #fff;
  }

  .start {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 13px !important;
    line-height: 10px;
    border: 2px solid #4caf51;
  }

  .end {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 13px !important;
    line-height: 10px;
    border: 2px solid #f5222d;
  }

  .link-line {
    margin-left: 4px;
  }

  .ant-collapse-header,
  .ant-collapse-content {
    padding-left: 24px !important;
  }

  .ant-collapse-item {
    .ant-collapse-header {
      border-top: 1px solid var(--kw-line-color);
    }

    &.ant-collapse-item-active .ant-collapse-header {
      border-bottom: 1px solid var(--kw-line-color);
    }
  }
}

.path-preview-popover {
  .ant-popover-inner-content {
    padding: 0;
    width: 300px;
  }
}
