// 字体
@ad-font: PingFangSC-Regular, 'PingFang SC', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica,
  Arial, 'Hiragino Sans GB', 'Source Han Sans', 'Noto Sans CJK Sc', 'Microsoft YaHei', 'Microsoft Jhenghei', sans-serif;

// 清除浏览器默认样式
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

[hidefocus],
summary {
  outline: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}

sup,
sub {
  font-size: 83%;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
}

q:before,
q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
  word-break: keep-all;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 Arial, \5b8b\4f53;
  font-family: @ad-font;
  outline: 0;
}

a {
  color: var(--ad-line-color);
}

a:hover {
  color: var(--ad-link-hover-color);
}

body {
  font-family: @ad-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

// 隐藏滚动条
.hidden-scroll {
  overflow: hidden;
}

.ant-tooltip {
  max-width: 340px;
  z-index: 10000;
}

button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}

.ant-select-selector,
.ant-select-item-option,
.ant-select-selection-item {
  font-family: @ad-font;
}

::-webkit-scrollbar {
  width: 8px;
  /*对垂直流动条有效*/
  height: 8px;
  /*对水平流动条有效*/
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgb(184, 184, 184);
}

::selection {
  color: #fff;
  background-color: var(--ad-primary-color);
}

// 新建文字标签
.create-span {
  cursor: pointer;
  color: var(--ad-link-color);
  user-select: none;
}

// 虚拟滚动条颜色样式
.rc-virtual-list .rc-virtual-list-scrollbar-thumb {
  background: rgb(184, 184, 184) !important;
}

// 分析报告弹窗
.modal-multlist-anlys {
  height: calc(100% - 40px);
  margin: -80px auto 0 auto !important;

  .ant-modal-header {
    height: 56px;

    .left-title {
      width: 500px;
      float: left;
    }

    .right-title {
      float: right;
      margin: 0 346px 0 0;
    }
  }

  .ant-modal-content {
    width: calc(100% - 40px);
    max-width: 1874px;
    min-width: 1316px;
    height: 100%;
    min-height: 920px;
    margin: 10px auto;
  }

  .ant-modal-body {
    height: calc(100% - 55px);
    margin: 0;
    padding: 0;
  }

  .ant-modal-footer {
    padding: 0;
  }
}

// 大数据量的受控分页器
.controlled-pagination {
  // 搜索时隐藏最后页码
  &.infinite {
    .ant-pagination-jump-next + .ant-pagination-item {
      display: none;
    }
  }

  &.show {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

// 执行任务弹窗
.mix-modal {
  .ant-modal-body {
    margin: 0;
    padding: 0;
  }

  .mix-select-content {
    .select-box {
      padding: 0 24px;
      height: 256px;

      .box {
        .update-type {
          display: flex;
          align-items: center;
          padding: 0 40px 0 24px;
          margin: 12px 0 0 0;
          height: 100px;
          border-radius: 4px;
          border: 1px solid var(--ad-border-color-base);
          cursor: pointer;
          transition: border 0.3s;

          .image {
            margin: 0 24px 0 16px;
          }

          .word {
            .title {
              font-size: 14px;
              font-weight: 500;
              color: var(--ad-heading-color);
            }

            .des {
              font-size: 13px;
              font-weight: 400;
              color: var(--ad-text-color-secondary);
            }
          }
        }

        .update-type:hover {
          border: 1px solid var(--ad-primary-color-hover);
        }

        .update-type-seleted {
          border: 1px solid var(--ad-primary-color);
        }
      }
    }

    .bottom {
      border-top: 1px solid var(--ad-line-color);
      padding: 14px 12px 0 0;
      text-align: right;

      .save {
        height: 36px;
        margin: 0 12px 0 10px;
      }

      .cancel {
        height: 36px;
      }
    }
  }

  .mix-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;

    .check-icon {
      font-size: 64px;
      color: var(--ad-primary-color);
    }

    .title-box {
      text-align: center;

      .title {
        height: 28px;
        margin: 24px 0 16px 0;
        font-size: 28px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: var(--ad-heading-color);
        line-height: 28px;
      }
    }

    .warming {
      width: 100%;
      min-height: 22px;
      margin: 0 0 24px;
      padding: 0 86px;
      font-size: 14px;
      color: var(--ad-text-color-secondary);
      line-height: 22px;
      text-align: center;
    }

    .footer {
      .btn {
        min-width: 96px;
        height: 40px;
        margin: 0 6px;

        &.disabled {
          background: #f9f9fa;
          border: 1px solid #e6e6e6;
          color: #999;
          cursor: not-allowed;
        }
      }
    }
  }

  &.select .ant-modal-body {
    padding: 12px 0 14px 0 !important;
  }
}

// 弹窗标题
.ant-modal-title {
  color: var(--ad-heading-color);
  font-weight: 600;
}
