.snapshootsCreateRoot {
  .ant-modal-header {
    height: 48px;
    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .ant-form-item:last-child {
    margin: 0px;
  }
}
