.headerOperationRoot {
  height: 39px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  padding: 0px 8px;
  justify-content: space-between;
  border-bottom: 1px solid var(--kw-line-color);

  .selectNone {
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .colorChange:hover {
    background-color: #eae9ed;
    border-radius: 4px;
  }

  .leftSpaceSimpleRoot {
    .dropdownButton {
      padding: 0px;
      min-width: 0;
      color: #000;
      padding-top: 1px;
      position: relative;
      &:hover {
        background-color: #eae9ed;
        border-radius: 4px;
      }
      &::after {
        content: '';
        right: 3px;
        bottom: 1px;
        position: absolute;
        width: 0;
        height: 0;
        transform: rotate(45deg);
        border-left: 3px solid rgba(0, 0, 0, 0.7);
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
      }
    }
    .disabled {
      &:hover {
        background-color: transparent;
        border-radius: 4px;
      }
      &::after {
        content: '';
        right: 3px;
        bottom: 1px;
        position: absolute;
        width: 0;
        height: 0;
        transform: rotate(45deg);
        border-left: 3px solid rgba(0, 0, 0, 0.25);
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
      }
    }
  }
}

// antd Popover样式
.graphHeaderOperationItem {
  padding: 0px;
  z-index: 1053;
  .ant-popover-inner-content {
    padding: 0px;
  }
}
