@border:1px solid var(--kw-line-color);
.second-step-search-box-classify {
  position: relative;

  .top-header {
    flex-shrink: 0;
    height: 54px;
    border-bottom: @border;
    background-color: #fff;

    .t-line {
      height: 24px;
      border-left: @border;
    }

    .s-name {
      height: 32px;
    }
  }

  .cog-search-footer-box {
    position: absolute;
    left: 400px;
    right: 0;
    bottom: 28px;
    text-align: center;

    button {
      margin: 0 6px;
    }
  }
  .second-box {
    height: 100%;
    flex-flow: column;
    // loading
    .loading-mask {
      display: none;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      text-align: center;

      &.spinning {
        display: block;
      }

      .spin-content-box {
        position: absolute;
        width: 100%;
        height: 80px;
        flex-flow: column;
        justify-content: center;
        top: 200px;
        .kw-spin {
          margin-bottom: 10px;
        }
        .loading-content {
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }

    .first-step-box {
      width: 100%;
      height: 100%;
      background: #fff;
      display: flex;
    }
  }

  .second-test-step {
    margin: 24px;
    width: calc(100% - 48px);
  }

  .qa-separator {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      right: -12px;
      bottom: 2px;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .config-box {
    .config-result {
      height: 100%;
    }
    // .footer-box {
    //   width: 100%;
    //   padding: 14px auto;
    //   border-top: @border;
    //   background-color: #fff;

    //   button {
    //     width: 80px;
    //     height: 32px;
    //     margin: 0 4px;
    //   }
    // }
  }
}
