.avatarNameRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 300;
  font-family: PingFangSC-Semibold, PingFang SC;
  user-select: none;
}
