.avatarNameRoot {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  font-family: PingFangSC-Semibold, PingFang SC;
}
