.customService-modal {
  .env-des {
    text-indent: -1em;
    padding-left: 0.5em;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
  }
  .line {
    width: 592px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
  }
}
