.graph-not-exist-modal {
  .ant-modal-confirm-title {
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 600;
    color: var(--ad-heading-color);
  }

  .ant-modal-body {
    min-height: 192px;
  }

  .err-icon {
    color: var(--ad-error-color) !important;
  }

  .ant-modal-confirm-btns {
    position: absolute;
    right: 32px;
    bottom: 24px;
  }
}
