.manage-prompt-temp-modal-right-root {
  .right-header-box {
    overflow: hidden;
    .box-left {
      float: left;
      height: 30px;
      .select-group-title {
        max-width: 152px;
      }
    }
    .box-right {
      float: right;
    }
  }

  .scroll-wrap {
    padding-top: 22px;
    overflow: auto;
    overflow: overlay;

    & > div {
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}
