.manage-prompt-home-table-root {
  position: relative;

  .llm-op-bar-root {
    &.focused {
      border: 1px solid #d9d9d9;
    }
  }

  .prompt-id {
    .td-copy-icon {
      display: none;
    }
    &:hover {
      .td-copy-icon {
        display: block;
      }
    }
  }

  .ant-table-row:hover {
    .llm-op-bar-root {
      border: 1px solid #d9d9d9;
    }
  }

  .api-btn-disabled {
    color: var(--kw-disabled-color);
    cursor: not-allowed;
  }
}
