.new-create-entity {
  // max-width: 1920px;
  min-width: 1326px;
  position: relative;
  margin: 0 auto;
  background-color: #f8f8f8;

  .head-tent-c {
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid rgba(244, 244, 244, 1);
    // max-width: 1920px;
  }

  .graph-content {
    height: calc(100vh - 64px);
    min-height: 960px;
  }

  .graph-content-flow {
    height: calc(100vh - 64px);
    min-height: 896px;
  }

  .right-menu {
    width: 400px;
    height: calc(100vh - 64px);
    min-height: 896px;
    position: absolute;
    right: 0;
    top: 64px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 10px 0px rgba(15, 32, 68, 0.1);
    z-index: 1;
  }

  .right-menu-flow {
    width: 400px;
    height: calc(100vh - 120px);
    min-height: 840px;
    position: absolute;
    right: 0;
    top: 64px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 10px 0px rgba(15, 32, 68, 0.1);
    z-index: 1;
  }

  .bottom-box {
    position: fixed;
    bottom: 30px;

    .save {
      width: 134px;
      height: 48px;
      margin: 0 0 0 24px;
    }

    .check {
      width: 134px;
      height: 48px;
      margin: 0 10px;
    }

    .cancel {
      width: 134px;
      height: 48px;
    }
  }

  .bottom-create {
    left: calc(50% - 146px);
  }

  .bottom-flow {
    left: calc(50% - 211px);
  }
}

.delete-create-info-4567911-cne {
  width: 432px !important;

  .ant-modal-body {
    height: auto !important;
    padding: 24px 0px 0px 32px;
  }

  .ant-modal-footer {
    padding: 20px 2px;
    border-top: 0px solid #f0f0f0;
  }

  .title-content {
    .icon {
      font-size: 22px;
      color: var(--ad-error-color);
    }

    .title-word {
      margin: 0 0 0 16px;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 24px;
    }
  }

  .content-word {
    margin: 10px 0 0 38px;
    padding: 0 36px 0 0px;
    line-height: 22px;
  }
}
