.network-delete-modal {
  .ant-modal-content {
    width: 432px;
    height: auto;

    .ant-modal-header {
      display: none;
    }

    .ant-modal-body {
      padding: 24px 24px 0px 32px;

      .delete-modal-title {
        // height: 24px;
        line-height: 24px;
        margin-bottom: 12px;

        .title-icon {
          vertical-align: middle;
          display: inline-block;
          color: var(--kw-error-color);
          font-size: 20px;
          margin-right: 16px;
        }

        .title-text {
          vertical-align: middle;
          font-size: 16px;
          font-weight: 500;
          color: var(--kw-heading-color);
          line-height: 24px;
        }
      }

      .delete-modal-body {
        display: inline-block;
        padding-left: 36px;
        line-height: 22px;
        color: var(--kw-text-color-secondary);
      }

      .delete-modal-footer {
        margin-top: 46px;
        padding-bottom: 24px;
        text-align: right;

        .delete-cancel {
          width: 80px;
          height: 32px;
          margin: 0 12px 0 0;
        }

        .delete-ok {
          width: 80px;
          height: 32px;
        }
      }
    }
  }
}
