.prompt-home-toolbar-root {
  .filter-bar {
    height: 48px;
    background: #fafafa;
    border-radius: 2px;
  }

  .close-icon {
    width: 32px;
    height: 32px;
    margin: 0 4px;
    font-size: 16px;
    color: var(--kw-disabled-color);
    &:hover {
      color: var(--kw-text-color);
    }
  }
}
