.homeRoot {
  position: relative;
  .l-layout {
    display: flex;
    height: calc(100vh - 53px) !important;
    .l-content {
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      .l-main {
        height: 100%;
        overflow: auto;
        overflow: overlay;
        min-width: 1048px;
        position: relative;
      }
    }
  }
}

.date-modal {
  padding: 32px 32px 24px;

  .title-box {
    display: flex;

    .t-text {
      font-size: 16px;
      font-family: PingFangSC-Medium;
      font-weight: 600;
      color: var(--kw-heading-color);
      line-height: 24px;
      margin-left: 10px;
    }
    .icon {
      width: 22px;
      height: 22px;
      .warn-icon {
        color: var(--kw-warning-color);
        width: 100%;
      }
    }
  }
}
