.filterListRoot {
  .divider-line {
    height: calc(100% - 20px);
  }

  .short-line {
    height: calc(100% - 62px);
  }

  .ant-divider-inner-text {
    padding: 0;
  }

  .andText {
    height: 24px;
    width: 24px;
    background: #f5f5f5;
  }

  .verticalLine {
    width: 1px;
    height: 40%;
    background: var(--kw-line-color);
    margin-left: 10px;
  }

  .addProperty {
    max-width: 80px;
  }

  .tagSelector {
    width: 303px;
  }
}
