.iq-rate-plate {
  position: relative;

  .source-format {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;

    .s-text {
      font-size: 40px;
      font-weight: 600;
      color: var(--ad-heading-color);
    }

    .tip-text {
      color: #666;
    }
  }
}
