.ThesaurusInfo-box {

  padding-left: 20px;
  padding-top: 16px;
  height: 100%;
  border-left: 1px solid var(--ad-line-color);

  .border-style {
    border-bottom: 1px solid var(--ad-line-color);
  }

  .tag-style {
    max-width: 100px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border: none;
  }

  .tag-width {
    max-width: 100px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border: none;
  }

  .ant-popover-inner-content {
    padding: 8px 8px 16px 16px;

    .popover-content-wrap {
      height: 22px;
    }
  }

  .more-labels {
    width: 34px;
    height: 34px;
    border-radius: 3px;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .divider-style {
    margin: 0 0 16px 0;
  }

  .text-line {
    height: 20px;
    line-height: 20px;
  }
}