.extract-file-tree-wrap {
  position: relative;

  .s-input {
    flex: 1;
    min-width: 0;
    margin: 0 12px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
  }

  .icon-mask {
    color: var(--kw-text-color-secondary);

    &:hover {
      color: var(--kw-warning-color);
    }
  }

  .icon-mask-as {
    padding: 0px 0px 12px;
  }

  .icon-mask-other {
    padding: 12px 12px;
  }

  .file-type {
    position: relative;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      left: 12px;
      right: 12px;
      bottom: 0;
      height: 1px;
      background: var(--kw-line-color);
    }

    &.has-tip::after {
      right: 38px;
    }

    .icon-mask {
      position: absolute;
      right: 12px;
      top: 0;
      color: var(--kw-text-color-secondary);

      &:hover {
        color: var(--kw-warning-color);
      }
    }
  }

  .tree-scroll-wrap {
    overflow: auto;
  }

  .ant-tree {
    white-space: nowrap;

    .c-file-icon {
      vertical-align: top;
      transform: translateY(-2px);
    }

    .disabled {
      opacity: 0.45;
    }

    .file-name {
      display: inline-block;
      vertical-align: top;

      &.link:hover {
        color: var(--kw-link-color);
      }
    }

    .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: var(--kw-select-bg-color);
    }

    .ant-tree-title {
      display: inline-flex;
      width: 100%;
      align-items: center;
    }
  }
}
