.statistics-source-card {
  border-radius: 3px;

  .card-header {
    width: calc(100% - 16px * 2);
    margin: 0 16px;
    padding: 12px 0 8px;
    border-bottom: 1px solid var(--ad-line-color);

    .h-info {
      flex: 1;
    }

    .h-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      line-height: 34px;
    }
  }

  .children-wrapper {
    padding: 0 16px;
    overflow: hidden;
  }

  .expand-btn {
    height: 32px;
    cursor: pointer;
  }
}
