.info-extract-source-list {
  width: 30%;
  min-width: 444px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.06);

  .list-title {
    height: 54px;
    padding: 20px 0 13px;
    margin: 0 20px;
    border-bottom: 1px solid var(--ad-line-color);
    line-height: 20px;
    font-size: 16px;
    color: var(--ad-heading-color);
    font-weight: 500;
    font-family: PingFangSC-Medium;
  }

  .select-source-btn-box {
    width: calc(100% - 20px * 2);
    height: 88px;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid var(--ad-line-color);

    .select-source-btn {
      width: 100%;
      height: 48px;
      border: 1px dashed rgba(0, 0, 0, 0.15);
    }

    .select-source-btn {
      &:hover,
      &:focus {
        color: var(--ad-primary-color);
        border-color: var(--ad-primary-color);
      }
    }
  }

  .ds-item:hover {
    background: var(--ad-hover-bg-color);

    .trash-btn {
      display: inline-block !important;
    }
  }

  .ds-item-box {
    @besides-height: 54px+88px; // 标题高度 + 添加数据源按钮高度

    height: calc(100% - @besides-height);

    .ds-item {
      display: flex;
      position: relative;
      height: 104px;
      padding: 15px 20px;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 20px;
        bottom: 0;
        height: 1px;
        width: calc(100% - 20px * 2);
        background-color: var(--ad-line-color);
      }

      .ds-item-icon {
        margin-right: 16px;
      }

      .ds-item-info {
        width: calc(100% - 50px - 45px); // 减去左边icon宽度和右边“更多”按钮的宽度

        .ds-item-title {
          width: 100%;
          height: 22px;
          font-size: 16px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: var(--ad-heading-color);
          line-height: 22px;

          .ds-file-name {
            display: inline-block;
            max-width: calc(100% - 40px);
            vertical-align: top;
          }

          .ds-sheet-name {
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            max-width: 100%;
            vertical-align: top;
          }

          .ds-file-postfix {
            display: inline-block;
            width: 40px;
            vertical-align: top;
          }
        }

        .ds-other-info {
          display: flex;
          width: 100%;

          .source-info {
            width: 100%;
            font-size: 14px;

            .ds-item-source {
              width: 100%;
              height: 20px;
              margin-bottom: 8px;
              color: var(--ad-text-color-secondary);
              line-height: 20px;
              font-size: 14px;
            }

            .ds-item-tag {
              display: inline-block;
              height: 22px;
              max-width: 140px;
              padding: 0 8px;
              margin-right: 8px;
              line-height: 20px;
              border: 1px solid var(--ad-border-color-base);
              background-color: #f5f5f5;
              border-radius: 3px;
            }
          }
        }
      }

      .ds-right-bar {
        position: relative;
        width: 45px;

        .trash-btn {
          display: none;
          position: absolute;
          left: 40%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
          line-height: 20px;
          opacity: 0.8;
          text-align: center;
        }

        .ds-warming-icon {
          display: block;
          position: absolute;
          top: 50%;
          right: -8px;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          text-align: center;
        }

        .ds-warming-icon-none {
          display: none;
        }
      }
    }

    .ds-item-active {
      background: var(--ad-select-bg-color);
    }

    .ds-item-error {
      background: #fef7f7;
    }
  }
}
