.search-create-edit-modal {
  .ant-modal-footer {
    padding: 14px 24px;
  }

  .ant-modal-body {
    padding: 0px !important;
    min-height: 176px;
    max-height: 608px;
    .ant-form-item {
      // height: 87px;
      // margin-bottom: 0px;
      .ant-select-selection-overflow {
        min-height: 32px;
        max-height: 54px;
        overflow: auto;
      }
    }
    .ant-form-item:last-child {
      // height: 90px;
      // height: 66px;
      // margin: 0px;
    }
  }

  .kw-universal-modal-footer {
    height: 64px;
    padding: 12px 24px;
    text-align: right;
    background-color: #fff;
    border-top: 1px solid var(--kw-line-color);

    .btn {
      height: 32px;
      width: 72px;
      min-width: 72px;
      margin-left: 8px;
    }
  }
}
