.prompt-move-modal {
  .custom-tree-node {
    height: 38px;
    &:hover,
    &.hovered {
      background: var(--kw-hover-bg-color);
      .prompt-op-bar-root {
        display: flex;
      }
    }
  }
  .leaf-node.checked {
    background: var(--kw-select-bg-color);
  }
  .ant-tree-switcher {
    width: 16px;
    line-height: 38px;
    text-align: right;
  }
  .ant-tree-switcher-leaf-line {
    display: none;
  }
  .ant-tree-switcher-noop {
    width: 12px;
  }
  .ant-tree-node-content-wrapper {
    flex: 1;
    min-width: 0;
    padding: 0;

    &:hover,
    &.ant-tree-node-selected {
      background-color: #fff;
    }
  }
}
