.swagger-doc-mask {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: #fff;

  .l-icon {
    position: absolute;
    top: 45%;
    font-size: 24px;
    color: var(--ad-primary-color);
  }

  .fail-img {
    width: 144px;
    height: auto;
  }
}
