.headerRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 20px;

  .left {
    display: flex;
    align-items: center;

    .titleIcon {
      font-size: 20px;
    }

    .status-sign {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }

  .right {
    min-width: 304px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;

    .button {
      min-width: 100px;
      display: flex;
      margin-right: 12px;
      align-items: center;
      justify-content: center;
    }

    .refresh {
      right: 0;
      top: 43px;
      z-index: 99;
      position: absolute;
    }
  }
}
