.dpapi-wrapper {
  .dpapi-search-content {
    height: calc(100vh - 106px);
    .view-wrapper {
      height: 100%;
    }
    .view-hide {
      display: none;
    }
    .view-show {
      display: block;
    }
  }
}
