.flow-3-group-menu-list {
  .group-items {
    height: 32px;
    margin-bottom: 4px;
    padding: 0 4px 0 8px;

    &:hover,
    &.hover-bg {
      background: var(--kw-hover-bg-color);

      .click-mask {
        display: inline-block;
      }
    }

    &.checked {
      background: var(--kw-select-bg-color);
    }
  }

  .group-info {
    flex: 1;
    min-width: 0;
    max-width: 200px;
  }

  .group-name {
    display: inline-block;
    vertical-align: top;
    min-width: 24px;
    max-width: calc(100% - 30px);
  }

  .click-mask {
    display: none;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
}
