.serviceConfig-configureRulesModal {
  min-height: 700px;
  min-width: 1000px;

  .configureRules-content {
    height: 552px;

    .ruleNameInput {
      width: 336px;
      margin-bottom: 4px;
    }

    .err {
      border-color: var(--kw-error-color);
    }

    .err-msg {
      display: block;
      position: absolute;
      line-height: 12px;
      color: var(--kw-error-color);
      font-size: 12px;
    }
  }
}
