@font-face {
  font-family: "iconfont"; /* Project id 3915335 */
  src: url('iconfont.woff2?t=1683791808005') format('woff2'),
       url('iconfont.woff?t=1683791808005') format('woff'),
       url('iconfont.ttf?t=1683791808005') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.graph-gengduo:before {
  content: "\e62b";
}

.graph-plus-circle:before {
  content: "\e783";
}

.graph-reduce-circle:before {
  content: "\e8cb";
}

.graph-down-circle:before {
  content: "\e781";
}

.graph-up-circle:before {
  content: "\e9d7";
}

.graph-left-circle:before {
  content: "\e780";
}

.graph-right-circle:before {
  content: "\e784";
}

.graph-arrowright:before {
  content: "\e7f0";
}

.graph-arrowup:before {
  content: "\e7f3";
}

.graph-arrowleft:before {
  content: "\e7f4";
}

.graph-arrowdown:before {
  content: "\e80e";
}

.graph-arrow_up:before {
  content: "\e65e";
}

.graph-arrow_left:before {
  content: "\e661";
}

.graph-arrow_down:before {
  content: "\e664";
}

.graph-arrow_right:before {
  content: "\e665";
}

.graph-go_to_left:before {
  content: "\e666";
}

.graph-down_to_bottom:before {
  content: "\e669";
}

.graph-up_to_top:before {
  content: "\e668";
}

.graph-go_to_right:before {
  content: "\e667";
}

.graph-show_less_left:before {
  content: "\e66b";
}

.graph-show_more_right:before {
  content: "\e66c";
}

.graph-show_less:before {
  content: "\e66d";
}

.graph-show_more:before {
  content: "\e66e";
}

.graph-double-arrow-right:before {
  content: "\e773";
}

.graph-double-arrow-left:before {
  content: "\e775";
}

.graph-double-arrow-bottom:before {
  content: "\e9d8";
}

.graph-double-arrow-top:before {
  content: "\e9d9";
}

