.tag-content {
  height: 100%;

  .title {
    height: 78px;
    line-height: 78px;
    text-align: center;
    background: rgba(235, 235, 235, 0.65);

    .t-icon {
      margin: 0 8px;
    }

    .word {
      margin: 0 auto;
    }
  }

  .tag-info {
    height: calc(100% - 80px);

    .error {
      width: 600px;
      margin: 160px auto;
      text-align: center;

      .word {
        font-size: 16px;
        font-weight: 400;
        color: #999999;
        margin: 6px 0 0 -35px;
      }
    }

    .d3-tooltip-create-qsx-anlysis {
      position: fixed;
      z-index: 10000;
      padding: 5px;
      max-width: 340px;
      height: auto;
      font-size: 14px;
      color: white;
      word-wrap: break-word;
      background: rgba(0, 0, 0, 0.75);
      box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
        0px 3px 6px -4px rgba(0, 0, 0, 0.12);

      .name {
        margin: 8px 16px 0 16px;
      }

      .nick-name {
        margin: 8px 16px 0 16px;
        padding: 14px 0 0 0;
        border-top: 1px dashed rgba(255, 255, 255, 1);
      }

      .des {
        word-break: break-all;
        margin: 8px 16px 14px 16px;
        color: rgba(255, 255, 255, 0.9);
      }
    }

    .tag-word {
      font-size: 14px;
      fill: #000;
    }
  }
}
