.onto-lib-footer {
  position: fixed;
  z-index: 0;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;

  .ant-tooltip-inner {
    white-space: normal;
    padding: 12px 10px;
  }

  .btn {
    width: 134px;
    height: 48px;
    margin-right: 10px;
  }
}
