.relatedDocument2Root {
  padding: 12px 24px;
  .componentTitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.85);
  }
  .documentSpace {
    .documentItem {
      height: 80px;
      cursor: pointer;
      max-width: 100%;
      display: inline-flex;
      .documentImage {
        width: 64px;
        height: 80px;
        display: flex;
        min-width: 64px;
        margin-right: 12px;
        border-radius: 4px;
        pointer-events: all;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.11);
      }
      .documentTitle {
        padding-top: 8px;
        max-width: calc(100% - 92px);
        .title1 {
          font-size: 13px;
          max-width: 100%;
          color: rgba(0, 0, 0, 0.85);
          pointer-events: all;
          display: inline-block;
        }
        .title2 {
          font-size: 12px;
          max-width: 100%;
          margin-top: 12px;
          color: rgba(0, 0, 0, 0.45);
          pointer-events: all;
          display: inline-block;
        }
      }
    }
  }
  .moreProduce {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    .moreButton {
      margin: 0px;
      height: 20px;
      padding: 0px;
      min-width: 0px;
      font-size: 13px;
      pointer-events: all;
    }
  }
}
