.intention-service-config-root {
  padding: 0px;
  .create-head {
    padding: 17px 24px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .exist-box {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      height: 16px;
      line-height: 16px;
    }
    .intention-name {
      height: 16px;
      line-height: 16px;
    }
  }
  button.ant-btn-sm {
    min-width: 16px;
  }
  .intention-create-content {
    .content-left {
      height: 100%;
      width: 440px;
      padding: 20px 24px 80px;
      overflow: auto;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .content-right {
      width: calc(100% - 440px);
      // height: calc(100% - 16px);
      background: #f8f8f8;
      display: flex;
      flex-flow: column;
      overflow: auto;

      .img-box {
        margin-top: 260px;
        text-align: center;
      }
      .bottom-btn {
        border-top: 1px solid rgba(0, 0, 0, 0.06);
        // width: 100%;
        right: 0px;
        position: absolute;
        bottom: 0px;
        width: calc(100% - 440px);
      }
    }
  }
}
