.configurationDetailsRoot {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    padding: 10px 20px;
    height: 100%;
    overflow-y: auto;

    .header {
    }

    .configurationDetailsRoot-empty {
      display: flex;
      padding: 88px 12px;
      align-items: center;
      flex-direction: column;
    }

    .nodeInfo {
      .imitationInput {
        height: 34px;
        display: flex;
        align-items: center;
        //border-radius: var(--kw-border-radius-base);
        //border: 1px solid var(--kw-border-color-base);
        //background-color: var(--kw-imitation-input-color);

        .point {
          width: 14px;
          height: 14px;
          min-width: 14px;
          margin-right: 10px;
          border-radius: 14px;
        }

        .line {
          width: 14px;
          height: 2px;
          min-width: 14px;
          margin-right: 10px;
        }
      }
    }
  }
}
