.uploadingTableRoot {
  .empty-box {
    margin-top: 120px;
  }

  .op-column {
    button {
      padding: 0;
      min-width: 30px;
      margin-right: 20px;
    }
  }

  .statusWaiting {
    transform: translateX(-26px);
  }

  .statusDetail {
    transform: translateY(2px);
  }

  .img {
    width: 40px;
    height: 40px;

    .icon {
      font-size: 40px;
    }
  }
}