.extract-preview-json {
  .ant-input-disabled {
    border: none;
    background: none;
    color: var(--kw-text-color);
    cursor: auto;
  }

  textarea {
    overflow: hidden;
  }

  textarea:disabled {
    -webkit-text-fill-color: var(--kw-text-color) !important;
    color: var(--kw-text-color) !important;
  }
}
