// .entity-class-detail {
//   .ant-table-row .ant-table-cell {
//     padding: 12px 0px 8px 18px;
//     border: none;
//   }
// }
.add-synonyms-btn-none {
  display: none;
}

.entity-synonyms-title {
  color: rgba(0, 0, 0, 0.85);
}

.group-sel {
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 8px;
}
