.parsing-setting-modal-root {
  height: 150px;
  min-width: 176px;
  max-width: 210px;
  .rule-setting {
    float: left;
    color: rgba(0, 0, 0, 0.85);
  }
  .rule-setting:hover {
    color: #126ee3;
  }
  .ant-popover-buttons {
    margin-bottom: 0px;
  }
  .ant-popover-message-title {
    padding-left: 0px;
  }
  .ant-input {
    width: 64px;
  }
  .ant-modal-body {
    padding: 12px 16px 0px;
  }
  .ant-form-item-label > label {
    font-size: 12px;
  }
  .ant-input {
    padding: 0px 13px;
  }
  button.ant-btn {
    min-width: 56px;
  }
  .ant-modal-footer {
    border-top: none;
  }
  .ant-form-item {
    margin: 0 0 8px;
    height: 24px;
  }
  .ant-form-item-label {
    text-align: left;
  }

  .rule-title {
    min-width: 84px;
    margin-right: 9px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
    align-items: center;
  }
  .rule-title-en {
    min-width: 104px;
  }
  .err-input {
    border: 1px solid var(--kw-error-color) !important;
  }
  .footer-box {
    padding: 12px 0px 0px;
    justify-content: right;
    Button {
      height: 24px;
    }
    button.ant-btn {
      padding: 0px 12px;
    }
  }
}
