.node-edges-modal {
  .ant-empty-image {
    height: 50px;
  }

  .table {
    margin: 20px 0 0 0;
    height: 362px;

    .table-head {
      display: flex;
      height: 42px;
      background: rgba(250, 250, 250, 1);
      margin: 0 20px;

      .title {
        height: 22px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: var(--ad-heading-color);
      }

      .tilte-1 {
        width: 290px;
        padding: 13px 12px;
      }

      .title-2 {
        width: 288px;
        padding: 13px 12px;
      }

      .title-3 {
        width: 280px;
        padding: 13px 12px;
      }

      .title-right {
        width: 100px;
        height: 22px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: var(--ad-heading-color);
        text-align: center;
        padding: 13px 12px;
      }
    }

    .content-box {
      height: 414px;
      margin: 0 20px;
      overflow-y: auto;
      padding: 16px 0 20px 0;

      .table-content {
        display: flex;
        padding: 0 0;

        .select-box {
          .select-name {
            width: 244px;
            height: 34px;
          }

          .input-relation {
            width: 296px;
            height: 34px;
          }
        }

        .select-box-error {
          .select-name {
            width: 244px;
            height: 34px;
          }

          .input-relation {
            width: 296px;
            height: 34px;
          }

          .ant-select-selector {
            border: 1px solid var(--ad-error-color) !important;
          }

          .ant-input {
            border: 1px solid var(--ad-error-color) !important;
          }
        }

        .icon-box {
          margin: 6px 13px;

          .icon {
            // color: #fff;
            font-size: 20px;
            transform: rotate(90deg);
          }
        }

        .tool {
          .icon-copy {
            cursor: pointer;
            margin: 8px 10px;
            font-size: 12px;
          }

          .set {
            color: rgba(230, 230, 230, 1);
          }

          .icon-delete {
            cursor: pointer;
            margin: 8px 10px;
            font-size: 14px;
          }
        }
      }

      .add-edge {
        width: 72px;
        height: 32px;
        margin: 10px 0 0 0;
        background: var(--ad-primary-color);
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 32px;
        padding: 0 12px;
        cursor: pointer;

        .icon {
          margin: 0 5px 0 0;
          font-size: 14px;
        }
      }

      .add-edge:hover {
        background: var(--ad-primary-color-hover);
      }

      .error-word {
        min-height: 22px;
        max-width: 288px;
        font-size: 12px;
        color: var(--ad-error-color);
      }
    }

    .bottom-button {
      padding: 14px 12px;
      border-top: 1px solid rgba(238, 238, 238, 1);
      text-align: right;

      .save {
        height: 36px;
        margin: 0 12px 0 10px;
      }

      .cancel {
        height: 36px;
      }
    }
  }
}