.createFunctionRoot {
  .drawerContent {
    height: calc(100% - 64px);
    padding: 24px 0 0;
    overflow-y: auto;
  }

  .ant-drawer-body {
    padding: 0;
  }

  .ant-drawer-header {
    height: 48px;
    padding: 16px 0px 16px 24px;
    .ant-drawer-header-title {
      font-size: 16px;
      font-weight: 600;
      .ant-drawer-title {
        font-weight: 600;
        line-height: 16px;
        color: #000;
      }
    }
    .ant-drawer-extra {
      display: block;
      width: 48px;
      height: 48px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.65);
      font-style: normal;
      line-height: 48px;
      text-align: center;
      text-transform: none;
      text-rendering: auto;
    }
  }

  .drawerFooter {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 12px 24px;
    height: 56px;
    text-align: right;
    background: #fff;
    border-top: 1px solid var(--kw-line-color);
    .ant-btn {
      min-width: 72px;
      margin-left: 10px;
    }

    .disabledColor {
      color: var(--kw-disabled-color);
      cursor: not-allowed;
    }
  }
}
