.create-index-modal {
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-content {
    .ant-modal-title {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
      color: #000000;
    }

    .createIndex-modal-body {
      padding: 24px 24px 10px;

      .index-form {
        .form-row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 6px;

          .ant-form-item {
            width: calc(50% - 10px);
          }
        }
      }
    }

    .createIndex-modal-footer {
      height: 64px;
      text-align: right;
      padding: 14px 24px 14px 0;
      border-top: 1px solid var(--ad-line-color);

      .btn-cancel {
        min-width: 80px;
        height: 32px;
        margin-right: 12px;
      }

      .btn-ok {
        width: 80px;
        height: 32px;
      }
    }
  }
}
