.time-task-config-by-time {
  .time {
    color: var(--ad-heading-color);
    font-weight: 500;
    font-size: 16px;
    margin: 32px 0 0 0;
  }

  .time-pick {
    width: 394px;
    margin: 16px 0 0 0;

    .time-box {
      width: 100%;
    }
  }
}
