.nodesListRoot {
  height: 100%;
  min-height: 520px;
  position: relative;
  padding-bottom: 56px;

  .empty {
    display: flex;
    padding: 88px 12px;
    align-items: center;
    flex-direction: column;
  }

  .row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    height: 48px;
    padding-left: 12px;

    .point {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin: 0 10px 0 0;
      border-radius: 50%;
      //text-align: center;
      //line-height: 26px;

      .icon-svg {
        font-size: 14px;
        color: #fff;
      }
    }
  }

  .pagination {
    right: 0px;
    bottom: 0px;
    position: absolute;
  }
}
