.path-exploration {
  padding: 0 20px;

  .exploration-title {
    height: 52px;
    line-height: 52px;
    color: var(--ad-heading-color);
    font-size: 600;
    font-size: 16px;
    border-bottom: 1px solid var(--ad-line-color);
  }

  .select-path-type {
    margin-top: 20px;
  }

  .select-node-box {
    width: 360px;
    height: 97px;
    margin-top: 16px;
    background: rgba(245, 248, 250, 0.5000);
    border-radius: 3px;

    .startpoint {
      height: 46px;
      line-height: 46px;
      margin: 0 20px;
      border-bottom: 1px dashed var(--ad-line-color);
    }

    .endpoint {
      height: 46px;
      line-height: 46px;
      margin: 0 20px;
    }
  }

  .expore-btn-box {
    margin-top: 20px;

    .expore-btn {
      width: 360px;
      height: 32px;
    }
  }

  .replore-result {
    margin-top: 24px;
    font-size: 14px;

    .result-title {
      display: flex;
      justify-content: space-between;
    }
  }
}