.custom-param-box-root {
  border-bottom: 1px solid var(--kw-line-color);

  .c-param-editor {
    height: calc(100% - 40px);

    .CodeMirror {
      border: none;
    }

    .CodeMirror-gutters {
      border-color: var(--kw-line-color);
    }
  }

  .tabs-box {
    border-left: 1px solid var(--kw-line-color);

    .ant-tabs,
    .ant-tabs-content-holder,
    .ant-tabs-content,
    .ant-tabs-tabpane {
      height: 100%;
    }

    .ant-tabs-tabpane {
      overflow: auto;
    }

    .ant-tabs-nav {
      width: calc(100% - 24px * 2);
      margin: 0 24px;

      .ant-tabs-tab {
        width: 80px;
        margin: 0;
        padding: 9px 0;

        .ant-tabs-tab-btn {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
