.knw-card-title-input {
  border: 1px solid #d9d9d9;
  border-radius: 3px;

  &:hover,
  &.focused {
    border-color: var(--kw-primary-color-hover);
  }

  .title-label {
    position: relative;
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;

    &::after {
      content: '';
      position: absolute;
      right: 1px;
      top: 7px;
      width: 1px;
      height: 16px;
      background: var(--kw-line-color);
    }
  }
}
