.searchTableList {
  position: relative;
  height: 100%;

  .classIcon {
    height: 16px;
    width: 16px;
    border-radius: 50%;
  }

  .classItem {
    .node-svg {
      font-size: 16px;
      color: #fff;
    }

    &:hover {
      background: var(--kw-hover-bg-color);
    }
  }

  .result-table {
    width: 100%;

    .ant-table-selection-column {
      padding-left: 16px;
      display: inline-block;
      width: 100%;
      min-width: 50px !important;
    }

    th.ant-table-cell:nth-child(2),
    td.ant-table-cell:nth-child(2) {
      padding-left: 24px !important;
    }

    .ant-pagination {
      margin-right: 20px !important;
    }

    .ant-table-tbody > tr.ant-table-row-selected > td {
      background-color: #fff;
    }

    .ant-table-cell-fix-left {
      z-index: 2;
    }

    table tr td.ant-table-selection-column,
    table tr th.ant-table-selection-column {
      text-align: left;
    }
  }

  .pagination-box {
    text-align: right;
  }
}
