.importModelRoot {
  .ant-modal-content {
    width: 480px;
    .ant-form-item:last-child {
      margin: 0px;
    }
  }
  .ant-modal-header {
    height: 48px;
    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .ant-modal-footer {
    padding: 12px 24px;
    height: 56px;
    .ant-btn {
      min-width: 72px;
    }
  }

  .importInput {
    .uploadInput {
      input {
        cursor: pointer;
      }
    }
    .uploadInputRemark {
      color: var(--kw-text-color-secondary);
      &::before {
        content: '';
        width: 6px;
        height: 6px;
        margin-right: 8px;
        border-radius: 6px;
        display: inline-block;
        background-color: var(--kw-text-color-secondary);
      }
    }
    // antd 样式覆盖
    .ant-upload {
      width: 100%;
    }
  }

  .ant-modal-content {
    .m-footer {
      position: unset;
    }
  }
}

.ant-message {
  z-index: 10000;
}
.ant-select-dropdown {
  z-index: 9999;
}
