.admin-menuManagement {
  .admin-menuManagement-title {
    margin-top: 18px;
    margin-left: 24px;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-family: 'PingFangSC-Semibold, sans-serif';
  }
  .admin-menuManagement-operation-area {
    margin-top: 18px;
    margin-left: 24px;
    display: flex;

    .admin-menuManagement-operation-right-area {
      flex: 1;
      text-align: right;
      margin-right: 24px;
      align-items: center;

      .admin-menuManagement-operation-add-btn {
        width: 76px;
        height: 32px;
        font-family: 'PingFangSC-Regular, sans-serif';
      }

      .admin-menuManagement-operation-right-searchInput {
        vertical-align: top;
        margin-right: 12px;
      }
    }
  }
  .admin-menuManagement-table {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;

    .admin-menuManagement-table-column-route {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .admin-operation-edit-btn {
    margin-right: 20px;
  }
  .admin-operation-btn {
    color: #126ee3 !important;
    font-size: 14px !important;
  }
  .admin-operation-btn-edit-disable {
    margin-right: 20px;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25) !important;
  }
  .admin-operation-btn-delete-disable {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25) !important;
  }
}
