.thesaurus-right-content-table-root {
  position: relative;
  // margin: 0 auto;
  // z-index: 1;
  // min-width: 882px;
  // width: calc(100% - 320px);
  height: 100%;
  .thesaurus-content {
    padding: 0px;
    position: relative;
    width: 100%;
    height: calc(100% - 48px);
  }
  .thesaurus-empty {
    width: 100%;
    padding-top: 20%;
    background-color: #fff;
    height: calc(100vh - 64px);

    .empty-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .text-des {
        margin-top: 8px;
        text-align: center;
        cursor: default;
      }
    }
  }
}
