.intention-left-component {
  .ant-upload-list-text .ant-upload-list-item-name {
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 7px;
  }
  .basic-mes {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .input-name {
    font-weight: 500;
  }
  .document-box {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    .document-box-tips::before {
      content: '•';
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      margin-right: 4px;
      color: rgba(0, 0, 0, 0.45);
    }
  }
  .text-area-des {
    min-height: 146px;
  }
  .select-intention {
    width: 100%;
  }
  .doc-name {
    align-items: center;
    margin-top: -20px;
    .edit-show {
      width: 336px;
      margin-right: 12px;
    }
  }
  .doc-name:hover {
    background-color: #fafafa;
  }
}
