.knw-card-config-graph {
  .graph-row {
    height: 40px;
    &:hover {
      background: var(--kw-hover-bg-color);
    }
    &.checked {
      background: var(--kw-select-bg-color);
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.45;
    }
  }
}
