.canvas-reminder-tip-root {
  position: absolute;
  z-index: 1052;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  font-size: 12px;

  .iframe-welcome {
    height: 40px;
    line-height: 40px;
    margin-top: 16px;
    padding: 0 0 0 12px;
    border-radius: 8px;
    background-color: #e6f4ff;
    border: 1px solid #bae0ff;
    font-size: 14px;
  }
}
