.analysis-info {
  width: 100%;
  height: 100%;

  .content-left {
    float: left;
    width: calc(100% - 456px);
    height: 100%;
    min-height: 865px;
  }

  .content-right {
    float: left;
    width: 456px;
    height: 100%;
    min-height: 865px;
  }
}

.compare {
  font-size: 14px;
  white-space: nowrap;
}
