.indexesListRoot {
  padding-top: 24px;
  .indexes {
    border-bottom: 1px solid #f4f4f4;
  }
  .imitationInput {
    width: 100%;
    padding: 14px 10px;
    border-radius: var(--ad-border-radius-base);
    border: 1px solid var(--ad-border-color-base);
    background-color: var(--ad-imitation-input-color);
  }
  .properties {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    .span {
      padding: 0px 8px;
      background-color: var(--ad-line-color);
      border-radius: var(--ad-border-radius-base);
      border: 1px solid var(--ad-border-color-base);
    }
  }
}
