.create-saveOnto-content {
  // .ant-modal-close-x {
  //   display: block;
  //   width: 48px;
  //   height: 48px;
  //   font-size: 12px;
  //   color: rgba(0, 0, 0, 0.65);
  //   font-style: normal;
  //   line-height: 48px;
  //   text-align: center;
  //   text-transform: none;
  //   text-rendering: auto;
  // }

  //.ant-modal-header {
  //  height: 48px;
  //  font-size: 16px;
  //  .ant-modal-title {
  //    font-weight: 600;
  //    line-height: 16px;
  //  }
  //}

  .kw-universal-modal-content {
    min-height: 377px;
  }

  .ant-modal-footer {
    padding: 12px 24px;
    height: 56px;

    .ant-btn {
      min-width: 72px;
    }
  }

  .ant-form-vertical:nth-child(3) {
    .ant-form-item {
      margin: 0px;
    }
  }

  .ant-form-vertical:nth-child(4) {
    .ant-form-item {
      margin: 24px 0px 0px;
    }
  }
}
