@prefixCls: data-board;

.@{prefixCls} {
  &-root {
    position: relative;
    .table-head-btn {
      width: 280px;
    }
    .table-warning {
      justify-content: right;
      align-items: center;
      width: calc(100% - 280px);
      .icon {
        margin-right: 6px;
      }
    }
    .kw-empty-box {
      margin-bottom: 0px !important;
    }
  }
}
