.kw-universal-modal-footer {
  position: static;
  text-align: right;
  width: 100%;
  height: 56px !important;
  padding: 12px 24px;
  border-top: 1px solid var(--kw-line-color);

  button {
    min-width: 72px;
    height: 32px !important;
    margin-left: 10px !important;
  }
}
