.task-test-modal {
  .ant-modal-content {
    min-height: 420px;
    .ant-modal-close {
      top: 2px;
    }
    .ant-modal-close-x {
      line-height: 70px;
    }
    .ant-modal-body {
      padding: 0px;
    }
    .test-modal-title {
      border-bottom: 1px solid var(--kw-line-color);
      .search-input {
        width: 712px;
        height: 34px;
      }
    }
    .test-modal-body {
      max-height: 475px;
      overflow: auto;
      padding: 24px;
      .no-query-box {
        margin-top: 50px;
      }
      .loading {
        text-align: center;
      }
    }
  }
}
