.ar-time-picker-setting-root {
  border-top: 1px solid var(--kw-line-color);
  padding-top: 10px;

  .title-box {
    align-items: center;
    .title::before {
      content: '*';
      color: #f63e47;
      margin-right: 4px;
    }
  }
  .time-picker {
    width: 380px;
  }
}
