.intention-table-box {
  .intention-table {
    .intention-name {
      max-width: 224px;
    }

    .description-color {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45);
    }

    .status-box {
      align-items: center;

      .status-color {
        width: 6px;
        height: 6px;
        border-radius: 6px;
      }
    }

    .creator-style {
      max-width: 160px;
    }

    .operation-btn {
      width: 28px;
    }

    .noData-box {
      margin-top: 56px;
      color: rgba(0, 0, 0, 0.65);
      padding-bottom: 36px;
    }
  }

  .ant-dropdown-menu {
    width: 160px;

    .ant-dropdown-menu-item {
      padding: 7px 20px;
    }
  }
}