.serviceConfigRulesList {
  .hoverChange {
    &:hover {
      color: var(--kw-primary-color);
    }
  }

  .empty-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .errBor {
    .ant-select-selector {
      border-color: var(--kw-error-color);
    }
  }

  .tagSelector {
    width: calc(50% - 108px);
  }

  .nodeTag {
    transform: translateY(3px);
  }

  .edgeTag {
    transform: translateY(-2px);
  }

  .relationSelect {
    background: rgba(18, 110, 227, 0.04);
    color: #126ee3;

    .ant-select-arrow {
      color: #126ee3;
    }
  }

  .classSelect {
    position: relative;

    .errorText {
      position: absolute;
      bottom: -20px;
      left: 142px;
    }
  }

  .dividerVerticalWrapper {
    position: absolute;
    background: #f5f9fe;
    color: #126ee3;
    left: -32px;
    top: 50%;

    .ant-select-arrow {
      color: #126ee3;
    }
  }

  .ruleScrollWrapper {
    height: 300px;
    overflow-y: scroll;
    position: relative;
  }
}
