.IframeDocument-type1 {
  .url-input {
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;

    .url-text {
      flex: 1;
      min-width: 0;
      line-height: 40px;
      padding: 0 12px;
    }

    .copy-btn {
      width: 40px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      border-left: 1px solid #d9d9d9;
    }
  }

  .break-div {
    word-break: break-all;
  }

  .urlBox {
    width: 100%;
    min-height: 38px;
    padding-left: 12px;
    margin-top: 8px;
    background-color: #F5F5F5;
  }
}