.new-search {
  position: relative;
  height: calc(100vh - 52px - 78px - 46px); // 100vh - 顶部 - 图信息 - tabs
  min-height: 600px;

  .canvas-wrap {
    width: 100%;
    height: 100%;
  }

  .hide-graph {
    position: absolute;
    z-index: -9;
    left: -200vw;
    top: -200vh;
    visibility: hidden;

    .bottom-but {
      display: none;
    }
  }
}

.search-graph-head {
  height: 48px;
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 21;
  padding: 8px 0 8px 24px;
  border-bottom: 1px solid var(--ad-line-color);

  .back-btn {
    .back-btn-text {
      margin-left: 0px !important;
    }
  }
}
