.statement-custom-tabs {
  .tab-nav {
    border-bottom: 2px solid var(--kw-line-color);

    &-btn {
      margin-left: 12px;
      padding: 11px 12px;
      cursor: pointer;

      &:hover {
        color: var(--kw-primary-color-hover);
      }
    }

    &-active {
      position: relative;
      color: var(--kw-primary-color) !important;
      text-shadow: 0 0 0.25px currentcolor;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background: var(--kw-primary-color);
      }
    }
  }

  .tab-panel {
    max-height: 415px;
    overflow: auto;
  }
}
