.components-config-Sidebar-One {
  .config-title {
    width: 240px;
    margin-top: 12px;
    height: 22px;
    font-weight: 600;
    position: relative;
    padding-left: 10px;
    &::before {
      content: '';
      width: 3px;
      display: inline-block;
      height: 16px;
      background: #126ee3;
      position: absolute;
      left: 0px;
      top: 3px;
    }
  }
  .config-children-title {
    width: 310px;
    .icon-why {
      opacity: 0.45;
    }
  }
  .setting {
    .line {
      width: 17px;
      height: 1px;
      margin-top: 9px;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .config-children-title-switch {
      width: 280px;
    }
  }
  .config-children-title {
    width: 308px;
  }
  .other-setting {
    margin-left: 20px;
    margin-top: 6px;
    width: 338px;
    border-radius: 2px;
    padding: 9px 15px;
    align-items: center;
  }
  .line-vertical {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
