.custom-config-service-head-root {
  overflow: hidden;
  width: 100%;
  .head-left {
    float: left;
  }
  .head-right {
    float: right;
    width: 800px;
    padding: 0px;
    .select-box {
      width: 18%;
    }
    .tool-btn {
      min-width: 32px;
      padding: 0;

      .sort-icon {
        font-size: 18px;
        transform: translateY(2px);
      }
    }
  }
}
