.create-thesaurus-labels {
  .site-tag-plus {
    background: #fff;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
  }

  .edit-tag {
    user-select: none;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    margin-bottom: 8px;
    border: none;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
  }

  .tag-input {
    width: 159px;
    height: 34px;
    margin-right: 8px;
    border: 1px solid #d9d9d9;
  }

  .errorInput {
    border-color: var(--ant-error-color);
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
  }

  .ant-empty {
    margin: -60px 0 0px 0;

    .ant-empty-description {
      font-size: 12px;
      color: var(--kw-text-color);
    }
  }

  .error {
    border: 1px solid var(--kw-error-color) !important;
    border-radius: 4px;
  }

  .error-text {
    top: 28px;
    display: block;
    color: var(--kw-error-color);
  }

  .labels-select-content {
    width: 160px;
    background: #fff;
    box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 14px;
    min-height: 36px;
    max-height: 200px;
    overflow-y: auto;
  }

  .select-item {
    height: 40px;
    line-height: 40px;
    cursor: pointer;

    &:hover {
      background: var(--kw-hover-bg-color);
    }
  }

  .ant-tag {
    border-radius: 3px;
  }

  .ant-tag-close-icon {
    margin-left: 8px;
  }
}
