.kg-iq-table {
  padding: 15px 24px 24px 24px;
  flex: 1;
  min-width: 690px;
  height: 100%;
  overflow: auto;

  .tool-box {
    margin: 0 24px;
    margin-bottom: 20px;

    .tool-btn {
      min-width: 32px;
      padding: 0;

      .sort-icon {
        font-size: 18px;
        transform: translateY(2px);
      }
    }

    .left-box {
      flex: 1;
      min-width: 150px;
    }

    .permission-tip {
      flex: 1;
      min-width: 0;
    }
  }

  .main-table {
    .IQTable {
      .ant-table-thead tr th {
        height: 48px;
        padding: 0 16px;
      }

      .ant-table-tbody tr td {
        height: 48px;
        padding: 0 16px;
      }
    }

    .c-question-icon {
      color: var(--kw-text-color);
    }

    .name-column {
      &-text {
        width: calc(100% - 38px);
      }

      .g-icon {
        margin-right: 8px;
        font-size: 32px;
        background: #f8f8f8;
        border-radius: 3px;
        border: 1px solid #f0f0f0;
      }

      &:hover {
        .name-column-text {
          color: var(--kw-link-color);
        }
      }
    }

    .op-column {
      justify-content: flex-start;

      button {
        min-width: auto;
        margin-right: 28px;
        padding: 0;
      }
    }
  }
}

.uploadManageModelRoot {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  height: 100%;
  position: fixed;
  background-color: #f0f0f3;
}
