.styleHeaderTabsRoot {
  display: flex;
  cursor: pointer;
  align-items: center;
  .headerItem {
    width: 60px;
    height: 32px;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
  }
  .headerItemSelected {
    background-color: var(--kw-imitation-input-color);
  }
}
