.knw-card-config-header {
  height: 40px;
  width: calc(100% - 24px * 2);
  margin: 0 24px;
  padding: 10px 0;
  line-height: 20px;
  border-bottom: 1px solid var(--kw-line-color);

  .close-mask {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    text-align: center;
    transform: translateX(11px);
    color: var(--kw-text-color-secondary);

    &:hover {
      color: var(--kw-text-color);
    }
  }
}
