.basicInfoRoot {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .content {
    height: 100%;
    overflow-y: auto;
    .header {
      border-bottom: 1px solid #f4f4f4;
    }
    .divider {
      margin: 0px;
      margin-bottom: 20px;
    }
  }
}
