.summary-footer-tool {
  position: relative;
  align-items: center;
  height: 52px;
  padding: 0 24px 0 36px;
  border-top: 1px solid var(--ad-line-color);

  .group-dropdown-content {
    width: 240px;
    max-width: 240px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;

    .list-wrap {
      max-height: 36px * 5;
      overflow: auto;
    }

    .group-item {
      height: 36px;
      padding: 0 8px;

      .g-name {
        display: inline-block;
        max-width: 180px;
      }

      &:hover {
        background: #f5f5f5;
      }
      &.checked {
        background: var(--ad-select-bg-color);
      }
    }
  }

  .f-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 12px;

    &:hover {
      color: var(--ad-primary-color);
    }
  }
}
