.dbapi-container {
  padding: 15px 24px 28px;

  .table-status {
    align-items: center;
    justify-content: left;

    .status-color {
      width: 6px;
      height: 6px;
      border-radius: 6px;
    }
  }

  .filterItem {
    .tool-btn {
      padding: 0;
      min-width: 32px;
      text-align: center;

      &:hover {
        background: rgba(245, 245, 245, 1);
      }
    }
  }

  .api-view:hover {
    color: var(--kw-primary-color) !important;
    text-decoration: underline;
  }

  .noData-text {
    color: var(--kw-disabled-color) !important;
  }

  .noData-box {
    margin: 36px 0;
    text-align: center;

    .noData-text {
      color: rgba(0, 0, 0, 0.65) !important;
    }
  }
}

.relResourcePopoverRow {
  &:nth-child(1) {
    padding-top: 16px;
  }

  &:nth-child(2) {
    padding-bottom: 16px;
  }

  padding: 8px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .myLabel {
    min-width: 64px;
    display: inline-flex;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);

    &.enUs {
      min-width: 132px;
    }
  }

  .myOptionItem {
    .labelItem {
      height: 14px;
      width: 14px;
    }

    .valueItem {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}
