namespace: dip
moduleName: ontology-manager

# 环境变量：语言/时区
env:
  timezone: Asia/Shanghai
  language: en_US.UTF-8

replicaCount: 1

# 节点选择器
nodeSelector: {}

image:
  registry: acr.aishu.cn
  repository: dip/ontology-manager
  tag: tag
  pullPolicy: IfNotPresent

service:
  ontologyManager:
    type: ClusterIP
    port: 13014
    nodePort: 31014
    ingress:
      enabled: true
      interface:
        path:
          - /api/ontology-manager/v1

# 反亲和性设置
antiAffinity:
  enabled: true
  rule: "soft" # 可选参数 hard, soft

# 微服务通信依赖配置
depServices:
  class-443:
    ingressClass: class-443
  rds:
    host: mariadb-mariadb-master.resource.svc.cluster.local.
    port: 3330
    user: root
    password: eisoo.com123
    type: MariaDB
  opensearch:
    host: opensearch-master.resource.svc.cluster.local.
    port: 9200
    protocol: http
    user: admin
    password: eisoo.com123
  mq:
    auth:
      mechanism: PLAIN
      password: eisoo.com123
      username: anyrobot
    mqHost: kafka-headless.resource.svc.cluster.local.
    mqPort: 9097
    mqType: kafka
    protocol: sasl_plaintext
    tenant: default
  authorization-private:
    host: authorization-private
    port: 30920
    protocol: http
  user-management: 
    host: user-management-private
    port:  30980
    protocol: http
  hydra-admin:
    host: hydra-admin
    port: 4445
    protocol: http
  mf-model-manager:
    host: mf-model-manager
    port: 9898
    protocol: http
  mf-model-api:
    host: mf-model-api
    port: 9898
    protocol: http
  data-model:
    host: mdl-data-model-svc
    port: 13020
    protocol: http
  uniquery:
    host: mdl-uniquery-svc
    port: 13011
    protocol: http
  business-system:
    host: business-system-service
    port: 80
    protocol: http

config:
  server:
    runMode: release
    httpPort: 13014
    language: zh-CN
    readTimeOut: 120
    writeTimeOut: 120
    maxConcurrentTasks: 4
    viewDataLimit: 1000
    defaultSmallModelName: embedding
    defaultSmallModelEnabled: true
  log:
    logLevel: info
    developMode: false
    maxAge: 100
    maxBackups: 20
    maxSize: 100
  observability:
    logEnabled: false
    traceEnabled: false
    metricEnabled: false
    logExporter: console
    traceProvider: http
    metricProvider: http
    logLoadInternal: 1
    logLoadMaxLog: 10
    traceMaxQueueSize: 50000
    metricIntervalSecond: 60
    httpLogFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-log/events
    httpTraceFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-trace/events
    httpMetricFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-metric/events
    grpcTraceFeedIngesterUrl: feed-ingester-service:30013
    grpcTraceJobId: dip-o11y-trace-grpc

# 资源配置
resources:
  requests:
    cpu: 0
    memory: 0Gi
  limits:
    cpu: 4
    memory: 8Gi
