.colorSelectRoot {
  .twitterPicker {
    border: none !important;
    box-shadow: none !important;
    & > div:last-child {
      padding: 0px !important;
      margin-bottom: 8px !important;
      & > span {
        display: inline-block;
        & > div {
          width: 18px !important;
          height: 18px !important;
          margin: 0px 14px 6px 0px !important;
          border: 1px solid rgba(0, 0, 0, 0.25) !important;
        }

        // &:nth-of-type(10n) > div {
        //   margin-right: 0 !important;
        // }
      }
      & > div {
        display: none !important;
      }
    }
  }
  .sketchPicker {
    width: 100% !important;
    padding: 0px !important;
    box-shadow: none !important;
    .flexbox-fix:last-child {
      display: none !important;
    }
    & > div:nth-child(1) {
      cursor: pointer;
      padding-bottom: 45% !important;
    }
    & > div:nth-child(2) {
      cursor: pointer;
    }
    & > div:nth-child(3) {
      margin-left: -9px;
      & > div > div {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    input {
      text-align: center;
    }
  }
}
