// antd 样式覆盖
.graphMenu,
.graphMenuSub {
  padding: 8px 0px;
  span {
    font-size: 13px;
  }
  .ant-menu-item {
    height: 32px !important;
    line-height: 32px !important;
    margin: 0px !important;
  }
  .ant-menu-submenu .ant-menu-submenu-title {
    height: 32px !important;
    line-height: 32px !important;
    margin: 0px !important;
  }
}
