.add-netWork-modal {
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-header {
    padding: 16px 24px;
    height: 48px;

    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .ant-modal-close-x {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    font-style: normal;
    line-height: 48px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
  }

  // .m-footer {
  //   height: 56px;
  //   padding: 12px 24px;
  //   border-top: 1px solid var(--kw-line-color);
  //   text-align: right;

  //   .btn {
  //     height: 32px;
  //     min-width: 72px;
  //     margin-left: 8px;
  //   }
  // }

  .add-netWork-content {
    .m-body {
      min-height: 120px;
      max-height: 548px;
      padding: 0;

      .form-label {
        margin-right: 8px;
      }

      .ant-form-item:nth-child(3) {
        margin: 0px;
      }

      .ant-form-item-control {
        width: 592px;
      }

      .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
      }

      .des-input {
        height: 96px;
      }

      .box {
        border: none;
      }

      .ant-radio-group-outline {
        border: none;
      }

      .ant-radio-button-wrapper:not(:first-child):before {
        display: none;
      }

      .ant-radio-button-wrapper {
        padding: 0 1px 0 15px;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
        box-shadow: none;
      }

      .color-box {
        position: relative;

        .colors {
          display: inline-block;
          width: 24px;
          height: 24px;
          opacity: 0.25;
          border-radius: 17px;
        }

        .selected {
          width: 20px;
          height: 20px;
          border-radius: 16px;
          margin: 2px;
        }

        .checked {
          top: 0px;
          right: 0px;
          width: 24px;
          height: 24px;
          font-size: 16px;
          padding-top: 1px;
          line-height: 24px;
          border: 1px solid;
          text-align: center;
          position: absolute;
          border-radius: 17px;
        }
      }

      .color-icon {
        width: 44px;
        height: 44px;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          border-color: var(--kw-border-color-base);
        }

        &-selected {
          border-color: rgba(0, 0, 0, 0.65);
        }
      }
    }
  }
}
