.flow3-pro-list {
  .attr-th-box {
    padding-left: 28px;
    font-size: 12px;
    color: var(--kw-text-color-secondary);

    .th-name,
    .th-alias {
      flex: 1;
      min-width: 0;
    }

    .th-type {
      width: 100px;
    }

    .th-index {
      width: 68px;
      padding-left: 19px;
    }

    .th-vector {
      width: 50px;
    }

    .th-merge {
      width: 105px;
    }

    &.edge {
      .th-index {
        width: 124px;
        padding-left: 19px;
      }
    }
  }

  .attr-th-box-readonly {
    font-size: 12px;
    color: var(--kw-text-color-secondary);

    .th-name,
    .th-alias {
      flex: 1;
      min-width: 0;
    }

    .th-type {
      width: 100px;
    }

    .th-index {
      width: 68px;
      padding-left: 19px;
    }

    .th-vector {
      width: 50px;
    }

    .th-merge {
      width: 105px - 36px;
    }

    &.edge {
      .th-index {
        width: 88px;
        padding-left: 20px;
      }
    }
  }

  .attr-rows {
    width: 100%;

    .del-icon {
      flex-shrink: 0;
      height: 30px;
      line-height: 34px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.25);

      &.disabled {
        color: rgba(0, 0, 0, 0.1);
        cursor: not-allowed;
        display: none;
      }
    }

    .attr-select {
      width: 100px;
    }

    .ant-btn[disabled] {
      background: none;
    }
  }

  .err-input {
    border: 1px solid var(--kw-error-color) !important;
  }

  .err-check {
    .ant-checkbox-inner {
      border-color: var(--kw-error-color) !important;
    }
  }

  .attr-input,
  .alias-input {
    flex: 1;
    min-width: 0;
  }

  .error-content {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: var(--kw-error-color);
  }
}

.propCard {
  padding: 0;

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner {
    border-radius: 4px;
  }

  .ant-popover-inner-content {
    padding: 0;
  }
}
