.edge-class-detail {
  .ant-table-row .ant-table-cell {
    padding: 12px 0px 8px 18px;
    border: none;
  }
}

.edge-synonyms-title {
  color: rgba(0, 0, 0, 0.85);
}

.edge-relations-title {
  color: rgba(0, 0, 0, 0.85);
}

.add-relation-none {
  display: none;
}

.add-sys-none {
  display: none;
}

.group-sel-edge {
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 8px;
}
