.result-panel-root {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0 24px;
  background-color: #fff;

  .flex-box {
    display: flex;
    flex-direction: column;
  }

  .res-header {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--kw-line-color);
  }

  .res-title {
    button {
      min-width: 0;
      padding: 0;
    }
  }

  .res-list-box {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .res-footer-box {
    width: 100%;
    height: 48px;
    padding-top: 12px;

    button {
      height: 36px;
      width: calc((100% - 8px) / 2);
    }
  }
}
