.modalExportRoot {
  .alertMessage {
    min-height: 40px;
    display: flex;
    padding: 8px 16px 8px 0px;
    align-items: center;
    // background-color: #fffaeb;
    // border-bottom: 1px solid #fff1b8;
    margin: 0px 0px 8px 0px;

    .alertIcon {
      transform: translateY(1px);
      font-size: 14px;
      color: #126ee3;
      margin-top: -2px;
      margin-right: 8px;
    }
  }

  .searchInput {
    width: 100%;
    margin-bottom: 15px;

    .prefix {
      color: rgba(0, 0, 0, 0.25);
      margin-right: 8px;
    }
  }

  .graphContent {
    width: 100%;
    display: flex;
    min-height: 215px;
    align-items: center;
    justify-content: center;

    .noDataBox {
      margin-top: -100px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: var(--kw-text-color);
    }

    .tableContainer {
      display: flex;
      min-height: 215px;
      flex-direction: column;
      justify-content: space-between;
      .ant-table-thead tr th {
        height: 32px;
        padding: 0px 8px;
        font-size: 13px;
      }
      .ant-table-tbody tr td {
        height: 36px;
        padding: 0 8px;
      }
    }
  }

  // antd 样式
  .ant-modal-title {
    font-weight: 600;
  }

  .ant-table-thead .ant-table-cell {
    font-weight: 600;
  }
}
