.onto-size-selector {
  //
}

.onto-size-selector-drowdown {
  .sizeContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-right: 40px;

    .sign {
      background-color: var(--kw-disabled-color);
    }
  }
}
