.knw-card-config-nodes {
  overflow: hidden;

  .iconStyle {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .t-icon {
    .iconStyle();
    width: 16px;
    height: 16px;
    line-height: 10px;
    text-align: center;
    transform: translateY(-1px);
    & > div {
      .iconStyle();
      width: 10px;
      height: 10px;
    }
  }
  .node-row {
    height: 40px;
    &:hover {
      background: var(--kw-hover-bg-color);
    }
    &.checked {
      background: var(--kw-select-bg-color);
    }
    .node-icon {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #e5e5e5;
      transform: translateY(1px);
    }

    .node-name {
      line-height: 40px;
    }
  }
}
