.labelRoot {
  height: 100%;
  display: flex;
  .labelNavigation {
    width: 80px;
    height: 100%;
    border-right: 1px solid var(--kw-border-color-base);
    .navigationItem {
      height: 40px;
      display: flex;
      cursor: pointer;
      min-width: 80px;
      padding-left: 12px;
      align-items: center;
    }
    .selected {
      background-color: var(--kw-imitation-input-color);
    }
  }
  .labelContent {
    width: calc(100% - 80px);
    height: 100%;
    padding-left: 20px;
    .contentItems {
      overflow: auto;
      height: calc(100% - 52px);
      .item {
        height: 40px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.labelMoreRoot {
  .colorSelectContainer {
    width: 280px;
    height: 34px;
    display: flex;
    cursor: pointer;
    padding: 0px 16px;
    position: relative;
    border-radius: 4px;
    align-items: center;
    border: 1px solid #d9d9d9;
    justify-content: space-between;
    .demo {
      width: 18px;
      height: 18px;
      margin-right: 8px;
      border-radius: 3px;
    }
    .box {
      top: 35px;
      left: 0px;
      z-index: 10;
      padding: 8px;
      height: 230px;
      overflow-y: auto;
      position: absolute;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    }
  }
}
