.flow-3-right-menu {
  width: 160px;
  padding: 2px 0;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  z-index: 10;

  .menu-item {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    color: var(--kw-heading-color);

    &:hover {
      background: var(--kw-hover-bg-color);
    }
  }
}
