.language-modal {
  .ant-modal-header {
    height: 48px;
    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .ant-modal-content {
    width: 480px;
    min-width: 480px;

    .ant-modal-body {
      padding: 0;
      .modal-body {
        width: 100%;
        padding-top: 20px;
        display: inline-block;
        line-height: 22px;
        color: var(--kw-text-color);
        .ant-select {
          width: 100%;
        }
      }

      .modal-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.06);
        margin-top: 40px;
        padding: 12px 24px 12px 0;
        text-align: right;

        .cancel {
          width: 64px;
          height: 36px;
          margin: 0 10px 0 0;
        }

        .ok {
          width: 64px;
          height: 36px;
        }
      }
    }
  }
}
