.c-template-modal {
  &.c-template-modal-fullScreen {
    height: 100%;
    padding: 24px;
    margin: 0;
    top: 0;
    max-width: unset;

    .ant-modal-content {
      height: 100%;

      .ant-modal-body {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;

        .m-footer {
          position: unset;
        }
      }
    }
  }

  .ant-modal-content {
    position: relative;
  }

  .ant-modal-body {
    padding: 0;
  }

  .m-header {
    height: 46px;
    border-bottom: 1px solid var(--kw-line-color);
  }

  .m-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    padding: 12px 24px;
    border-top: 1px solid var(--kw-line-color);

    button {
      height: 32px;
    }
  }
}
