@header-height: 64px; // 顶部工具栏高度

.kg-search-res-content {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;

  .hide {
    display: none;
  }

  .res-scroll-wrap {
    flex: 1;
    min-width: 0;
    height: 100%;
    padding: 0px 24px;

    // json界面样式调整
    &.json {
      padding: 0 24px 0 24px;

      .res-info {
        padding: 0 0px 10px 16px;
      }

      .res-wrapper::after {
        top: 0;
        left: 0;
        width: 100%;
        background: #d9d9d9;
      }
    }
  }

  .path-seize {
    flex-shrink: 0;
    width: 560px;
    padding: 0 20px 0 24px;

    .search-path {
      height: 100%;

      .path-title {
        position: relative;
        padding: 0 0 8px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: var(--kw-heading-color);
        line-height: 22px;
      }

      .path-scroll-wrap {
        height: calc(100% - 30px);
      }

      .path-canvas {
        width: 496px;
        height: 390px;
        border-radius: 3px;
        border: 1px solid #d9d9d9;
      }

      .node-legend {
        padding: 12px 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .legend-item {
          width: calc((100% - 32px * 2) / 3);
          height: 22px;
          line-height: 22px;
          margin-right: 32px;
          margin-bottom: 16px;

          &:nth-child(3n) {
            margin-right: 0;
          }
        }

        .node-icon {
          display: inline-block;
          vertical-align: middle;
          width: 8px;
          height: 8px;
          margin-right: 8px;
          border-radius: 50%;
        }

        .node-name {
          display: inline-block;
          vertical-align: middle;
          width: calc((100% - 16px));
        }
      }
    }
  }

  .res-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 34px;
    padding: 0 0 10px 16px;
    background-color: #fff;

    .res-count {
      font-size: 12px;
      color: var(--kw-text-color-secondary);
      white-space: pre;
      transform: translateY(2px);

      .number {
        color: var(--kw-error-color);
        padding: 0 4px;
      }
    }

    .view-btn {
      .label-text {
        display: inline-block;
        vertical-align: middle;
        height: 22px;
        line-height: 22px;
        color: var(--kw-heading-color);
        cursor: pointer;

        &:hover {
          color: var(--kw-primary-color);
        }
      }
    }
  }

  .res-wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 34px);
    background-color: #fff;
    overflow-y: auto;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 16px;
      width: calc(100% - 16px);
      height: 1px;
      background: var(--kw-line-color);
    }

    .res-scroll .kw-custom-scroll-thumb-y {
      opacity: 0;
    }

    &:hover {
      .res-scroll .kw-custom-scroll-thumb-y {
        opacity: 1;
      }
    }

    .pagination-box {
      padding: 20px;
    }
  }
}

.search-result-drawer {
  .drawer-line {
    border: 1px solid rgba(0, 0, 0, 0.06);
    height: 2px;
    width: 100%;
  }
  .ant-drawer-content {
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    .ant-drawer-header {
      border-bottom: none;
      width: 100%;
      min-width: 1060px;
      height: 52px;
    }
    .ant-drawer-body {
      padding: 0px;
      overflow: hidden;
      min-width: 1060px;
    }
  }
  .title-modal {
    width: 296px;
  }
}
