.childGraphRoot {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  position: relative;

  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .topNumber {
    text-align: right;
    padding-right: 12px;
    .ant-divider-vertical {
      margin: 0px 16px;
    }
  }

  .childGraphContainer {
    width: 100%;
    height: calc(100% - 44px);
    position: relative;
  }

  .g6-tooltip {
    padding: 5px;
    max-width: 340px;
    height: auto;
    font-size: 14px;
    color: white;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
      0px 3px 6px -4px rgba(0, 0, 0, 0.12);
    user-select: none;
  }
}
