.onto-pro-viewer {
  padding: 0;

  &.forceHide {
    display: none;
  }

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner {
    border-radius: 4px;
  }

  .ant-popover-inner-content {
    padding: 0;
  }

  .node-title {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid var(--kw-line-color);

    .t-icon {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }

  .pro-view-list {
    width: 320px;
    padding: 8px 20px;

    .p-rows {
      line-height: 40px;
    }

    .p-label,
    .p-value {
      width: 50%;
    }
  }
}
