.graph-operation-help-tips {
  position: absolute;
  z-index: 9;
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 456px;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  background: #edf5ff;
  border: 1px solid #97c3ff;
  box-shadow: none;
  border-radius: 4px;
  user-select: none;
}
