.simpleLayoutChangeRoot {
  right: 32px;
  bottom: 32px;
  display: flex;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
  .layoutIcon {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-width: 0px;
    align-items: center;
    justify-content: center;

    .iconBox {
      width: 34px;
      border: 0px;
      height: 34px;
      display: flex;
      min-width: 0px;
      border-radius: 3px;
      align-items: center;
      justify-content: center;
      button {
        width: 33px;
        border: none;
        padding: 0px;
        min-width: 0px;
        pointer-events: none;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
    .iconBoxSelected {
      background-color: rgba(var(--kw-primary-color-rgb), 0.06);
      span {
        color: rgb(18, 110, 227);
      }
    }
  }
  .triangularSubscript {
    position: relative;
    &::after {
      content: '';
      width: 0;
      height: 0;
      right: 5px;
      bottom: 5px;
      position: absolute;
      transform: rotate(45deg);
      border-left: 4px solid rgba(0, 0, 0, 0.7);
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }
  }
  .selected {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.simpleLayoutDropdownMenus {
  bottom: 0px;
  right: 48px;
  width: 160px;
  box-shadow: none;
  user-select: none;
  border-radius: 4px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.06);

  .menusTitle {
    height: 30px;
    font-size: 12px;
    padding: 0px 12px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.45);
  }

  // antd 样式
  .ant-dropdown-menu-item-selected {
    background-color: rgba(var(--kw-primary-color-rgb), 0.06);
    .anticon,
    .menuLabel {
      color: rgb(18, 110, 227);
    }
  }
}
