.graph-group-op-modal {
  .ant-modal-content {
    min-width: 480px;
    // height: 260px;
    .m-footer {
      position: unset;
    }
  }

  .form-wrap {
    // padding: 32px 72px 0;
    transform: translateY(50%);

    .ant-form-item-label {
      margin-right: 8px;
    }
  }
}
