.netWork {
  max-width: 1920px;
  flex: 1;
  height: 0;
  overflow-y: hidden;

  .sort-btn {
    min-width: 32px;
    padding: 0;

    .sort-icon {
      font-size: 19px;
      transform: translateY(1px);
    }
  }

  .table-box {
    //padding-bottom: 40px;
    overflow: auto;

    .netWork-card-wrapper {
      display: flex;
      flex-wrap: wrap;

      .netWork-card-item {
        height: 152px;
        border-radius: 2px;
        border: 1px solid var(--kw-border-color-base);
        margin-right: 16px;
        margin-bottom: 16px;
      }

      @media screen and(min-width: 1025px) {
        .netWork-card-item {
          width: calc((100% - 48px) / 4);

          &:nth-child(4n) {
            margin-right: 0;
          }
        }
      }
      @media screen and (min-width: 769px) and (max-width: 1024px) {
        .netWork-card-item {
          width: calc((100% - 32px) / 3);

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }

      @media screen and(max-width: 768px) {
        .netWork-card-item {
          width: calc((100% - 16px) / 2);

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }

    .graphListTable {
      .ant-table-thead tr th {
        height: 48px;
        padding: 0 16px;
      }

      .ant-table-tbody tr td {
        height: 64px;
        padding: 0 16px;
      }
    }

    .columnKnwName {
      display: flex;
      cursor: pointer;
      font-family: PingFangSC-Regular, PingFang SC;
      align-items: center;

      .name-text {
        margin-left: 12px;

        .name {
          width: 190px;
          height: 22px;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.85);

          &:hover {
            cursor: pointer;
          }
        }

        .des {
          width: 190px;
          height: 22px;
          font-size: 12px;
          font-weight: 400;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.45);
        }

        .des-null {
          font-size: 12px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.25);
        }
      }
    }

    .creator-box {
      font-family: PingFangSC-Regular, PingFang SC;

      .name {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
      }

      .email {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
      }
    }

    .columnOp {
      button {
        padding: 0;
        min-width: 30px;
        margin-right: 32px;
      }
    }

    .nodata-box {
      height: 380px;
      padding-top: 80px;

      .nodata-text {
        margin-top: 8px;
        font-size: 14px;
        color: var(--kw-text-color);
        cursor: default;
      }
    }

    // 选中行
    .selectRow {
      .ant-table-cell {
        background-color: var(--kw-select-bg-color) !important;
      }
    }

    .ant-table-row:hover {
      .ant-table-cell {
        background-color: var(--kw-hover-bg-color);
      }
    }
  }
}

.uploadManageModelRoot {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  height: 100%;
  position: fixed;
  background-color: #f0f0f3;
}
