.new-summary {
  margin: 0 auto;
  width: 360px;

  .new-summary-title {
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--ad-line-color);
  }

  .summaryinfo-header {
    height: 40px;
    background: white;
    overflow: hidden;
    position: absolute;
    z-index: 1;

    .left-border {
      border-radius: 3px 0px 0px 3px;
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1px solid transparent;
    }

    .right-border {
      border-radius: 0px 3px 3px 0px;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-left: 1px solid transparent;
    }

    .summaryinfo-header-box {
      width: 180px;
      float: left;
      text-align: center;
      line-height: 36px;
      font-weight: 400;
      color: var(--ad-heading-color);
      font-size: 14px;
      cursor: pointer;
    }

    .summaryinfo-header-box-checked {
      width: 180px;
      float: left;
      text-align: center;
      line-height: 36px;
      font-weight: 400;
      color: var(--ad-primary-color);
      background-color: #f1f7fe;
      border: 1px solid rgba(var(--ad-primary-color-rgb), 0.45);
      font-size: 14px;
      cursor: pointer;
    }
  }

  .list-data {
    position: relative;
    top: 58px;
    margin: 0 0 20px 0;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;

    .line {
      display: flex;

      .type-node {
        width: 14px;
        height: 14px;
        border-radius: 10px;
        border: 1px solid #e5e5e5;
        margin: 18px 10px 15px;
      }

      .type-edge {
        width: 14px;
        height: 2px;
        margin: 24px 10px 15px;
      }

      .text {
        display: flex;
        font-size: 14px;
        line-height: 50px;

        .name {
          max-width: 258px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: var(--ad-heading-color);
        }

        .number {
          margin: 0 0 0 10px;
          color: var(--ad-text-color-secondary);
        }
      }
    }

    .ant-list-item {
      border-bottom: 1px solid #f4f4f4;
      padding: 1.5px 12px;
    }

    .ant-list-item:hover {
      background: var(--ad-hover-bg-color);
    }
  }

  .ant-empty-image {
    height: auto;
    margin: 130px 0 8px 0;

    img {
      width: 144px;
      height: auto;
    }
  }

  .ant-empty-description {
    font-size: 14px;
    color: var(--ad-text-color);
  }
}