@prefixCls: add-data-file;

.@{prefixCls} {
  &-modal {
    .ant-modal-content {
      .ant-modal-close-x {
        height: 48px;
        line-height: 48px;
      }

      .m-header {
        height: 48px;
        display: flex;
        align-items: center;

        > .kw-format-text {
          margin-top: 0 !important;
        }
      }
    }
  }
}
