.kg-save-strategy-modal {
  .ant-modal-body {
    padding: 0;
  }

  .m-header {
    height: 56px;
    padding: 0 24px;
    color: var(--ad-heading-color);
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    line-height: 56px;
    border-bottom: 1px solid var(--ad-line-color);
  }

  .m-content {
    min-height: 137px;
    padding: 40px 72px;

    .m-flex {
      display: flex;

      .strategy-name {
        padding-right: 20px;
        line-height: 32px;
        color: var(--ad-heading-color);
      }

      .input-box {
        flex: 1;
      }

      .err-msg {
        font-size: 12px;
        color: var(--ad-error-color);
        line-height: 24px;
      }

      .err {
        border-color: var(--ad-error-color);
      }
    }
  }

  .m-footer {
    height: 64px;
    padding: 14px 24px;
    text-align: right;
    border-top: 1px solid var(--ad-line-color);

    button {
      height: 36px;
      margin-left: 8px;
    }
  }
}
