.full-text-qa-first-wrapper {
  padding: 32px 0 0;
  flex-flow: column;
  .graphqa-first-wrapper {
    h3 {
      height: 34px;
      line-height: 34px;
      strong {
        color: rgba(245, 34, 45, 0.85);
      }
    }
    .input-number {
      width: 240px;
      height: 32px;
    }
  }
  .graphqa-row1 {
    margin-bottom: 20px;
  }
  .footer-box {
    padding: 14px 24px;
    justify-content: right;
  }
}
