.add-netWork-modal {
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-header {
    padding: 14px 24px;
  }

  .add-netWork-content {
    .m-body {
      padding: 20px 24px 4px;

      &.EN {
        .ant-form-item-label {
          width: calc(100% - 380px);
        }
      }

      .ant-form-item-label {
        width: calc(100% - 420px);
      }

      .form-label {
        margin-right: 8px;
      }

      .ant-form-item-control {
        width: 592px;
      }

      .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;
      }

      .des-input {
        height: 96px;
      }

      .box {
        border: none;
      }

      .ant-radio-group-outline {
        border: none;
      }

      .ant-radio-button-wrapper:not(:first-child):before {
        display: none;
      }

      .ant-radio-button-wrapper {
        padding: 0 1px 0 15px;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
        box-shadow: none;
      }

      .color-box {
        position: relative;

        .colors {
          display: inline-block;
          width: 24px;
          height: 24px;
          opacity: 0.25;
          border-radius: 17px;
        }

        .selected {
          width: 20px;
          height: 20px;
          border-radius: 16px;
          margin: 2px;
        }

        .checked {
          top: 0px;
          right: 0px;
          width: 24px;
          height: 24px;
          font-size: 16px;
          padding-top: 3px;
          line-height: 24px;
          border: 1px solid;
          text-align: center;
          position: absolute;
          border-radius: 17px;
        }
      }
    }

    .m-footer {
      height: 64px;
      padding: 14px 24px;
      border-top: 1px solid var(--ad-line-color);
      text-align: right;

      .btn {
        height: 36px;
        margin-left: 10px;
      }
    }
  }
}
