.export-modal {
  display: flex;

  .side-bar {
    width: 228px;
    height: 602px;
    border-right: 1px solid rgba(230, 230, 230, 1);

    .left-mark {
      width: 3px;
      height: 40px;
      background: var(--ad-primary-color);
      float: left;
      margin: -10px 0 0 -24px;
    }

    .tag {
      width: 228px;
      height: 40px;
      padding: 10px 0 0 24px;
      cursor: pointer;
    }

    .tag-selected {
      background: var(--ad-select-bg-color) !important;
    }

    .tag:hover {
      background: var(--ad-hover-bg-color);
    }
  }

  .content {
    width: 772px;
    padding: 0 10px 0 0;

    .title {
      width: 709px;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--ad-heading-color);
      border-bottom: 1px solid rgba(230, 230, 230, 1);
      padding: 8px 0;
    }

    .srcoll-box {
      max-height: 510px;
      padding-left: 40px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.add-modal-create-entity-model {
  .ant-modal-body {
    position: relative;
    padding: 20px 0;
  }

  .ant-modal-content {
    width: 1000px;
  }

  .m-footer {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.loading-4qwaqq {
  width: 1000px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(240, 244, 250, 0.6);
  position: absolute;

  .icon {
    font-size: 40px;
    color: var(--ad-primary-color);
    position: absolute;
    left: 48%;
    top: 50%;
  }
}
