.uploadRecordManageRoot {
  height: 100%;
  background-color: #f0f0f3;

  .ant-table-thead tr th {
    height: 54px;
    padding: 8px 16px;
  }

  .ant-table-tbody tr td {
    height: 54px;
    padding: 8px 16px;
  }

  .uploadRecordContent {
    position: relative;
    height: calc(100% - 104px);
    overflow: auto;
    margin: 24px;
    background: #fff;
  }
}
