.source-tree-wrapper {
  .knInfoDropdownItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    height: 20px;
    max-width: 220px;
  }
}

.tree-wrapper {
  height: calc(100% - 40px);
  padding: 12px 0px 0 0;
  width: 100%;
  position: relative;

  .loadingBox {
    background: #fff;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 98%;
  }

  .ant-tree {
    white-space: nowrap;
    color: var(--kw-header-color);

    .ant-tree-title {
      display: block;
      width: 100%;
      height: 100%;
    }

    .titleWrapper {
      height: 24px;
      font-size: 14px;
      width: 100%;

      .source-icon {
        width: 14px;
        height: 14px;
      }

      .searchIcon {
        margin-left: 4px;
        color: var(--kw-header-color);
        display: none;
      }

      .sourceName {
        display: inline-block;
        flex: 1;
        min-width: 0;
      }

      &:hover {
        .searchIcon {
          display: inline-block;
        }
      }
    }
  }

  .ant-tree-switcher-noop {
    display: none !important;
  }

  .ant-tree-treenode {
    padding-bottom: 0;
  }

  .ant-tree-treenode-leaf-last {
    //display: none;
    height: 0; //最后的空节点不显示 只是为了加竖线
  }

  .ant-tree.ant-tree-block-node .ant-tree-node-content-wrapper {
    flex: 1;
    min-width: 0;
    padding-right: 10px;
    align-items: center;
  }

  .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: var(--kw-select-bg-color);
  }
}
