.MultipleFileTree {
  &-tooltip {
    .ant-tooltip-arrow {
      display: none;
    }

    .ant-tooltip-inner {
      max-height: 160px;
      width: 300px;
      padding: 8px;
      overflow: auto;
      background-color: #fff;
      word-break: break-all;
    }
  }

  .kw-universal-modal-content {
    overflow: auto;
  }
}
