

.auth-as7 {
  width: 100%;
  height: 100vh;
  min-width: 1200px;
  min-height: 680px;
  position: relative;

  .auth-as7-box {
    width: 480px;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -240px;
    margin-top: -120px;

    .icon-success {
      font-size: 64px;
      color: var(--ad-primary-color);
    }

    .icon-error {
      font-size: 64px;
      color: var(--ad-error-color);
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      color: var(--ad-heading-color);
      line-height: 28px;
      margin-top: 25px;
    }

    .text {
      font-size: 14px;
      font-weight: 400;
      color: var(--ad-text-color-secondary);
      line-height: 22px;

      margin: 16px 0;
    }
  }
}
