.classify-right-head-box {
  overflow: hidden;
  padding: 12px 24px 20px;
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
    align-items: center;
  }
  .search-input {
    width: 272px;
  }
  .f-icon {
    opacity: 0.25;
  }
  .tool-btn {
    min-width: 32px;
    max-width: 32px;
    padding: 0px;
    padding: 3px 0px 0px 2px;
    .sort-icon {
      font-size: 20px;
    }
  }
}
