.canvas-add-type-selector {
  &.lay-horizontal {
    display: flex;
    align-items: center;

    .ant-select {
      flex: 1;
      width: 170px;
      min-width: 0;
      max-width: 170px;
    }
  }
}
