.new-knowledge-map {
  @other-height: 54px + 24px + 100px; // 页眉 + padding + 页脚
  @min-screen-height: 768px; // 文档中声明的最小分辨率1366 * 768

  margin: 0 auto;
  display: flex;
  height: calc(100vh - @other-height);
  min-height: 768px;
  max-height: calc(1080px - @other-height);
  margin-bottom: 80px;

  .class-muster {
    width: 21.4%;
    min-width: 398px;
    background: #ffffff;
  }

  .info {
    width: 57.2%;
    min-width: 760px;
    background: #ffffff;
    border-left: 1px solid var(--ad-line-color);
    border-right: 1px solid var(--ad-line-color);
  }

  .rule-list {
    width: 21.4%;
    min-width: 387px;
    background: #ffffff;
  }
  .anticon-caret-right {
    color: #364576;
  }
}
