.kw-tip-modal {
  .ant-modal-content {
    border-radius: 4px;
  }

  .ant-modal-body {
    position: relative;
    min-height: 192px;
    padding: 32px 32px 24px;
  }

  .m-title {
    display: flex;

    .icon-box {
      flex-shrink: 0;
      width: 40px;
      line-height: 22px;
      font-size: 22px;
    }

    .err-icon {
      color: var(--kw-error-color);
    }
    .warn-icon {
      color: var(--kw-warning-color);
    }

    .t-text {
      font-size: 16px;
      font-family: PingFangSC-Medium;
      font-weight: 600;
      color: var(--kw-heading-color);
      line-height: 24px;
    }
  }

  .m-body {
    padding: 12px 0 40px 40px;
    line-height: 22px;

    .error-span {
      color: var(--kw-error-color);
    }
  }

  .m-footer {
    height: auto !important;
    padding: 0px;
    border-top: none;
  }
}

.kw-tip-modal-function {
  .err-icon {
    color: var(--kw-error-color) !important;
  }

  .ant-modal-body {
    position: relative;
    min-height: 192px;

    .ant-modal-confirm-body-wrapper {
      height: 100%;
    }

    .ant-modal-confirm-title {
      height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Medium;
      font-weight: 600;
      color: var(--kw-heading-color);
      line-height: 22px;
    }

    .ant-modal-confirm-content {
      margin-top: 12px;
      line-height: 22px;
      color: var(--kw-text-color);

      & > span {
        display: inline-block;
        margin-bottom: 32px;
      }

      .error-span {
        color: var(--kw-error-color);
      }
    }

    .ant-modal-confirm-btns {
      position: absolute;
      float: none;
      bottom: 24px;
      right: 32px;
    }
  }
}

.kw-know-modal-function {
  .ant-modal-confirm-title {
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 600;
    color: var(--kw-heading-color);
  }

  .ant-modal-confirm-content {
    color: var(--kw-text-color);
  }

  .ant-modal-body {
    min-height: 192px;
  }

  .err-icon {
    color: var(--kw-error-color) !important;
  }

  .ant-modal-confirm-btns {
    position: absolute;
    right: 32px;
    bottom: 24px;
  }
}
