.displayModalRoot {
  .modalMoveBar {
    left: 190px;
    height: 50px;
    cursor: move;
    z-index: 1053;
    position: absolute;
    width: calc(100% - 190px);
  }
  // antd
  .ant-modal-header {
    padding: 0px;
  }
  .ant-modal-body {
    height: 496px;
    padding: 0px 24px;
    .ant-tabs {
      height: 100%;
      .ant-tabs-nav {
        height: 50px;
      }
      .ant-tabs-content {
        height: 100%;
      }
    }
  }
}
