.cognitive-service-root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .l-layout {
    flex: 1;
    min-height: 0;
    min-width: 1048px;
    overflow: hidden;

    .l-main {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
