// 组件 IconButton
.iconButtonRoot {
  .item {
    width: 50px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 4px;
    &:hover {
      border-radius: 0px 4px 4px 0px;
      background-color: rgba(145, 151, 169, 0.2);
    }
  }
  .selected {
    position: relative;
    border-radius: 0px 4px 4px 0px;
    background-color: rgba(145, 151, 169, 0.2);
    span {
      color: var(--kw-primary-color) !important;
    }
    &::before {
      top: 0px;
      left: 0px;
      width: 3px;
      content: '';
      height: 40px;
      position: absolute;
      background-color: var(--kw-primary-color);
    }
  }
}
