.modelLibraryRoot {
  padding: 15px 24px 24px;
  height: 100%;
  .modelOperation {
    .operationButton {
      margin: 0px;
      padding: 0px;
      min-width: 0px;
      margin-right: 20px;
    }
  }
  .tags {
    height: 34px;
    padding: 6px 8px;
    max-width: 80px;
    margin-right: 8px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.04);
  }
  .moreTag {
    width: 34px;
    height: 34px;
    display: flex;
    cursor: pointer;
    min-width: 34px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.04);
  }
}
