.TaskDetail {
  position: relative;

  .TaskDetail-count {
    position: absolute;
    top: 20px;
    right: 24px;
    z-index: 10;

    .TaskDetail-statictis-btn {
      width: 28px;
      height: 28px;
      border-radius: 2px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }

  .x6-split-box-horizontal > .x6-split-box-resizer {
    border-top: 1px solid var(--kw-border-color-base);
  }

  &-table {
    padding: 16px 24px 24px 24px;
    height: 100%;

    .menus {
      .menusItem {
        height: 40px;
        font-size: 14px;
        padding: 5px 20px;

        .ant-dropdown-menu-title-content {
          display: flex;
          align-items: center;
        }

        &:hover {
          background-color: var(--kw-imitation-input-color);
        }
      }

      .selected {
        background-color: var(--kw-select-bg-color);
      }

      .icon {
        width: 24px;
      }

      .direction {
        transform: rotate(180deg);
      }
    }
  }

  .TaskDetail-status {
    width: 6px;
    height: 6px;
    border-radius: 3px;

    &.normal {
      background-color: var(--kw-success-color);
    }

    &.stop {
      background-color: #f5222d;
    }

    &.running {
      background-color: var(--kw-warning-color);
    }

    &.waiting {
      background-color: rgba(0, 0, 0, 0.45);
    }

    &.failed {
      background-color: var(--kw-error-color);
    }

    &-text {
      margin-left: 10px;
    }
  }
}
