@kw-font: PingFangSC-Regular, 'PingFang SC', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica,
  Arial, 'Hiragino Sans GB', 'Source Han Sans', 'Noto Sans CJK Sc', 'Microsoft YaHei', 'Microsoft Jhenghei', sans-serif;

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

[hidefocus],
summary {
  outline: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}

sup,
sub {
  font-size: 83%;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
}

q:before,
q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
  word-break: keep-all;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 Arial, \5b8b\4f53;
  font-family: @kw-font;
  outline: 0;
}

a {
  color: var(--kw-line-color);
}

a:hover {
  color: var(--kw-link-hover-color);
}

body {
  font-family: @kw-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: var(--kw-text-color);
  font-size: 14px;
}

.hidden-scroll {
  overflow: hidden;
}

.ant-tooltip {
  max-width: 340px;
  z-index: 10000;
}

button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}

.ant-select-selector,
.ant-select-item-option,
.ant-select-selection-item {
  font-family: @kw-font;
}

::-webkit-scrollbar {
  width: 8px;
  /*对垂直流动条有效*/
  height: 8px;
  /*对水平流动条有效*/
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgb(184, 184, 184);
}

::selection {
  color: #fff;
  background-color: var(--kw-primary-color);
}

.create-span {
  cursor: pointer;
  color: var(--kw-link-color);
  user-select: none;
}

.ellipsis-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rc-virtual-list .rc-virtual-list-scrollbar-thumb {
  background: rgb(184, 184, 184) !important;
}

.modal-multlist-anlys {
  height: calc(100% - 40px);
  margin: -80px auto 0 auto !important;

  .ant-modal-header {
    height: 56px;

    .left-title {
      width: 500px;
      float: left;
    }

    .right-title {
      float: right;
      margin: 0 346px 0 0;
    }
  }

  .ant-modal-content {
    width: calc(100% - 40px);
    max-width: 1874px;
    min-width: 1316px;
    height: 100%;
    min-height: 920px;
    margin: 10px auto;
  }

  .ant-modal-body {
    height: calc(100% - 55px);
    margin: 0;
    padding: 0;
  }

  .ant-modal-footer {
    padding: 0;
  }
}

.controlled-pagination {
  &.infinite {
    .ant-pagination-jump-next + .ant-pagination-item {
      display: none;
    }
  }

  &.show {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.ant-modal-title {
  color: var(--kw-heading-color);
  font-weight: 600;
}

.ant-message .ant-message-notice .ant-message-notice-content {
  max-width: 800px !important;
}
