.graph-test-info-subgraph-modal-root {
  .graphInfo-wrapper {
    width: 338px;
    height: 224px;
    position: relative;
    overflow: hidden;
    .graph-operate-icon {
      height: 484px;
      flex-flow: column;
      position: absolute;
      right: 0px;
      top: 290px;
      .icon-box {
        width: 24px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        text-align: center;
        .icon-img {
          opacity: 0.65;
        }
      }
      .add-reduce-box {
        width: 24px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        text-align: center;
        .add-box {
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }
        .icon-img {
          opacity: 0.65;
        }
      }
    }
    &.graphInfo-wrapper-preview {
      width: 100%;
      height: 378px;
    }
    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .graphContainer {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
  .operation-wrapper {
    background: #ffffff;
    padding: 12px 0 0 0px;
    > h3 {
      width: 100%;
      height: 14px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
      line-height: 14px;
    }
    > p {
      width: 100%;
      height: 12px;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.45);
      line-height: 12px;
    }

    .cursor-disable {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
