.storage-delete-modal {
  .ant-modal-content {
    width: 480px;
    height: auto;

    .ant-modal-body {
      padding: 0;

      .delete-modal-body {
        display: inline-block;
        padding: 24px 48px 56px;
        line-height: 22px;
        color: var(--ad-text-color-secondary);

        .input-label {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.85);
          margin-bottom: 10px;
        }

        .input {
          display: inline-block;
          width: 384px;
          height: 34px;
        }

        .error {
          margin-top: 4px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #f5222d;
        }
      }

      .delete-modal-footer {
        height: 64px;
        border-top: 1px solid var(--ad-line-color);
        padding: 14px 24px;
        text-align: right;

        .delete-cancel {
          width: 80px;
          height: 36px;
          margin: 0 10px 0 0;
        }

        .delete-ok {
          width: 64px;
          height: 36px;
          background: #f5222d;
          border: none;
        }
      }
    }
  }
}
