.uploadSettingErrorModal {
  .errorDes {
    height: 68px;
  }

  .graphName {
    height: 54px;
    background: #FAFAFA;
  }

  .dataItem {
    height: 80px;
  }

  .graphImg {
    height: 40px;
    width: 40px;

    .icon {
      font-size: 40px;
    }
  }

  .ant-modal-content {
    .m-footer {
      position: unset;
    }
  }
}
