.modelSnapshotsRoot {
  width: 280px;
  max-height: 556px;
  padding: 12px 0px;

  .snapshotsLineRoot {
    height: 40px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    padding: 0px 16px;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: space-between;
    &:hover {
      background-color: var(--kw-imitation-input-color);
      .lineIcon {
        display: inline-block;
      }
    }
    .lineText {
      height: 100%;
      flex-grow: 1;
      overflow: hidden;
      padding: 10px 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .lineIcon {
      display: none;
      padding-left: 12px;
    }

    // antd
    .ant-popconfirm {
      left: 65px;
      width: 200px;
      .ant-popover-arrow {
        top: unset;
        bottom: 0px;
        transform: rotate(180deg);
      }
      .ant-popover-inner {
        padding: 12px;
      }
    }
  }
  .paginationCommon {
    right: 4px;
    bottom: 16px;
    position: absolute;
  }
}
