@prefixCls: kw-x6-relation-node;

.@{prefixCls} {
  &-header {
    .@{prefixCls}-icon {
      width: 20px;
      height: 3px;
      background-color: #000;
    }
  }

  &-td-hover {
    background: rgba(18, 110, 227, 0.05);
  }

  .ant-table-cell {
    padding: 0 !important;
  }
}
