.modalOntoImportRoot {
  .ant-modal-footer {
    padding: 12px 20px;

    button {
      height: 36px;
    }
  }

  .FileSelResultRoot {
    width: 576px;
  }

  .fileExtra {
    position: relative;
    padding-left: 10px;
    font-size: 12px;

    &::after {
      content: '•';
      position: absolute;
      display: inline-block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      //width: 6px;
      //height: 6px;
      //border-radius: 50%;
      //background: var(--kw-text-color-secondary);
    }
  }

  .kw-mb-1:nth-child(4) {
    margin: 0px !important;
  }

  // antd 样式
  .ant-modal-title {
    font-weight: 600;
  }

  .ant-modal-header {
    height: 48px;

    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .ant-modal-body {
    // padding: 24px 24px 32px 24px;
    min-height: 120px;
    max-height: 548px;
  }

  .ant-modal-footer {
    padding: 12px 24px;
    height: 56px;

    .ant-btn {
      min-width: 72px;
      height: 32px;
    }
  }

  .FileSelResultRoot {
    width: 432px;
  }

  .ant-form-item-label > label {
    height: 28px;
  }
}
