.mf-prompt-variable-modal {
  .kw-universal-modal-content {
    padding-bottom: 4px;
    padding-right: 4px;
  }

  .ant-input-number-handler-wrap {
    opacity: 1;
  }

  .variable-radio-item {
    width: calc((100% - 12px * 3) / 4);
    height: 64px;
    border: 1px solid var(--kw-line-color);
    border-radius: 2px;
    user-select: none;

    &.checked {
      color: var(--kw-primary-color-hover);
      border-color: var(--kw-primary-color-hover);
      background: rgba(var(--kw-primary-color-rgb), 0.06);
    }
  }

  .options-list {
    .option-row {
      align-items: flex-start;

      &:last-of-type {
        margin-bottom: 0 !important;
      }

      .del-icon {
        flex-shrink: 0;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.25);

        &.disabled {
          color: rgba(0, 0, 0, 0.1);
          cursor: not-allowed;
          display: none;
        }
      }

      .input-wrap {
        flex: 1;
        width: 100%;
      }

      .err-msg {
        line-height: 18px;
        color: var(--kw-error-color);
      }

      .error-border {
        border-color: var(--kw-error-color) !important;
      }
    }
  }
}
