.thesaurus-mode-create-graph-header-root {
  overflow: hidden;
  .thesaurus-left {
    float: left;
    width: 100px;
  }
  .thesaurus-right {
    float: right;
    width: calc(100% - 100px);
    align-items: center;
    justify-content: right;
    .ant-select-item {
      padding: 9px 12px;
    }

    .ant-select-selection-item {
      .icon-box {
        display: none;
        font-size: 16px;
      }
    }
    .ant-select-item-option-content {
      display: flex;
      align-items: center;
      .select-graph-name {
        align-items: center;
        .icon-box {
          font-size: 16px;
          height: 16px;
        }
      }
    }
    .thesaurus-select {
      width: 200px;
    }
    .thesaurus-search {
      width: 272px;
    }
  }
}
