@prefixCls: kw-x6-toolBar;

.@{prefixCls} {
  position: absolute;

  &-button {
    width: 28px;
    height: 28px;
    display: flex;
    cursor: pointer;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid var(--kw-disabled-color);

    &-add {
      font-size: 14px;
      margin-top: 15px;
      border-radius: 2px 2px 0px 0px;
    }

    &-reduce {
      font-size: 14px;
      border-top: 0px;
      border-radius: 0px 0px 2px 2px;
    }
  }
}
