.colorSelectRoot {
  position: relative;

  .ant-radio-inner {
    transition: none !important;
  }

  .color-label {
    width: 136px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--kw-line-color);
  }

  .color-icon {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
  }

  .color-select-picker {
    margin: 5px 0 0 0;
    position: absolute;
    z-index: 1;

    .cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .color-plate {
      width: 220px !important;
    }
  }
}
