@border:1px solid var(--kw-line-color);
.ThesaurusInfo-box {
  border-left: @border;
  overflow: auto;
  overflow-x: hidden;

  .border-style {
    overflow: hidden;
    border-bottom: @border;
    .info-box-title {
      float: left;
    }
    .close-box {
      float: right;
      width: 12px;
    }
  }

  .all-resource-name-box {
    .resource-icon-box {
      width: 20px;
      // height: 20px;
      // border: @border;
      // border-radius: 3px;
    }
    .resource-name {
      max-width: 252px;
    }
  }

  .ant-popover-inner-content {
    padding: 8px 8px 16px 16px;

    .popover-content-wrap {
      height: 22px;
    }
  }

  .more-labels {
    width: 34px;
    height: 34px;
    border-radius: 3px;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .divider-style {
    margin: 0 0 16px 0;
  }

  .text-line {
    height: 20px;
    line-height: 20px;
  }
}
