.serviceDescriptionRoot {
  overflow-y: auto;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  height: calc(100% - 52px);
  position: fixed;
  background-color: #fff;

  .serviceDesHeader {
    padding: 0 24px;
    height: 54px;
    background: #fff;
    position: fixed;
    width: 100%;
  }

  .serviceDesContent {
    padding: 36px;
    width: 800px;
    margin: 54px auto 0;
  }

  .app-key {
    width: 100%;
    max-width: 1190px;
    min-height: 528px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 12px 14px;
    color: rgba(0, 0, 0, 0.85);
    overflow: auto;
  }

  .black-color {
    color: rgba(0, 0, 0, 0.85);
  }

  .grey-color {
    color: #c1c1c1;
  }

  .go-border {
    border-right: 2px solid #c8c8c8;
  }

  .java-border {
    border-left: 2px solid #c8c8c8;
  }

  .key-title {
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }

  .key-example {
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 40px;
  }

  .key-algorithm {
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 25px;
  }

  .serviceTitle {
    font-size: 20px;
    color: var(--kw-heading-color);
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
  }
}
