.work-flow-data-source-box {
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: #fff;

  .ds-button-tip-line {
    border-bottom: 1px dashed #fff;
    position: relative;
    top: 12px;
  }
}
