.llm-operate-modal-root {
  .kw-universal-modal-content {
    padding-bottom: 4px;
    overflow: auto;
  }

  .llm-operate-modal-content {
    min-height: 200px;
  }

  .model-selector {
    .ant-select-item {
      padding: 8px 12px;
    }
    .llm-model-icon-root {
      width: 24px !important;
      height: 24px !important;
    }
  }

  .url-form-item {
    align-items: flex-start;
  }

  .ant-input[disabled] {
    text-overflow: ellipsis;
  }
}
