.relatedDocument1Root {
  padding: 12px 24px;
  .componentTitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.85);
  }
  .documentSpace {
    .documentItem {
      height: 32px;
      max-width: 100%;
      cursor: pointer;
      pointer-events: all;
      align-items: center;
      display: inline-flex;
    }
  }
  .moreProduce {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    .moreButton {
      margin: 0px;
      height: 20px;
      padding: 0px;
      min-width: 0px;
      font-size: 13px;
      pointer-events: all;
    }
  }
}
