.resizeLayoutRoot {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  .mask {
    width: 100%;
    height: 100%;
  }
  .maskEventsNone {
    pointer-events: none;
  }
  .maskEventsAuto {
    cursor: col-resize;
    pointer-events: auto;
  }
  .content {
    z-index: 10;
    position: absolute;
    pointer-events: auto;
    background-color: #fff;
    border-left: 2px solid var(--kw-line-color);
  }
  .operatingBar {
    cursor: col-resize;
    position: absolute;
  }
}
