.ad-format-input { min-width: 10px !important; }

.ad-format-input-large { 
  font-size: 14px; height: 40px; padding: 0px 12px !important;
}
.ad-format-input-middle { 
  font-size: 14px; height: 34px; padding: 0px 12px !important;
}
.ad-format-input-small { 
  font-size: 12px; height: 32px; padding: 0px 12px !important; 
}