.pathExploreModal {
  font-size: 13px;
  .tipTitle {
    height: 32px;
    padding: 0px 20px;
  }

  .pathItem {
    height: 32px;
    padding: 0px 20px;
    cursor: pointer;

    &:hover {
      background: var(--kw-hover-bg-color);
    }
  }

  .more-op {
    height: 32px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background: var(--kw-hover-bg-color);
    }
  }
}
