.second-step-classification {
  width: 100%;

  .right-resource-for-classify-box {
    width: calc(100% - 400px);
    .file-title {
      align-items: center;
      padding: 26px 24px 0px;
      .file-icon {
        width: 24px;
        height: 20px;
      }
      .right-format-title {
        font-weight: 600;
        max-width: 240px;
        color: #333333;
      }
    }
  }
}
