.graph-analysis-basicInfo {
  right: 0;
  top: 86px;
  width: 400px;
  z-index: 5;
  padding: 0 20px;
  position: absolute;
  background: #fff;
  height: calc(100% - 86px);
  border-left: 1px solid var(--kw-line-color);

  .title {
    height: 48px;
    border-bottom: 1px solid var(--kw-line-color);
  }

  .content {
    height: calc(100% - 72px);

    .lineBox {
      user-select: text !important;
    }

    .propertyValue {
      overflow-y: auto;
      max-height: 220px;
      word-wrap: break-word;
      word-break: break-all;
      display: -webkit-box !important;
      user-select: text !important;
    }
  }
}
