.networkContentRoot {
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  min-width: 980px;
  position: relative;
  padding-left: 296px;
  background-color: #fff;

  .content-box {
    .main-tabs {
      & > .ant-tabs-nav {
        padding-left: 40px;
      }
      .ant-tabs-tab {
        width: 80px;
        justify-content: center;
      }
      & > .ant-tabs-nav {
        margin: 0;
      }
      .ant-tabs-nav:before {
        margin: 0px 40px;
      }
    }
  }

  .empty-box {
    width: 100%;
    height: calc(100vh - 48px);
    padding-top: 200px;
    text-align: center;
    background-color: #f8f8f8;

    .text-des {
      margin-top: 8px;
      text-align: center;
      cursor: default;
    }
  }
}
