.mf-prompt-variable-input {
  height: 100%;
  border: 1px solid var(--kw-line-color);
  border-radius: 3px;
  background: #fff;

  .ant-input-number-handler-wrap {
    opacity: 1;
  }

  .btn-line {
    border-top: 1px solid var(--kw-line-color);
  }

  .resize-textarea {
    resize: vertical;
    word-break: break-all;
  }
}
