.relatedLabelRoot {
  padding: 12px 24px;
  .componentTitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.85);
  }
  .mainProductSpace {
    .ant-space-item {
      max-width: 100%;
    }
    .mainProductItem {
      padding: 4px 8px;
      cursor: pointer;
      max-width: 100%;
      font-weight: 500;
      width: fit-content;
      border-radius: 4px;
      pointer-events: all;
    }
  }
  .moreProduce {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    .moreButton {
      margin: 0px;
      height: 20px;
      padding: 0px;
      min-width: 0px;
      font-size: 13px;
      pointer-events: all;
    }
  }
}
