@border:1px solid var(--kw-line-color);
.sqlExtractModal {
  height: 100%;
  padding: 24px;
  margin: 0;
  top: 0;
  max-width: unset;

  .ant-modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1025px;
    overflow-x: auto;

    .ant-modal-close-x {
      height: 48px;
      line-height: 48px;
    }

    .ant-modal-header {
      padding: 0 24px;

      > .ant-modal-title {
        height: 48px;
        line-height: 48px;
      }
    }

    .ant-modal-body {
      flex: 1;
      height: 0;
      padding: 0;
    }
  }

  &-container {
    width: 100%;
    height: 100%;
    .left-list {
      width: 418px;
      border-right: @border;
    }
  }

  &-form {
    flex-flow: column;
    width: calc(100% - 400px);
    position: relative;
    .dragLine {
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      width: calc(100% - 48px);
      height: 10px;
      background: transparent;
      cursor: row-resize;
    }

    .CodeMirror {
      border-radius: 0 !important;
    }

    .sql-name-input {
      width: 368px;
    }
    .source-icon {
      width: 20px;
      height: 19px;
    }
    .ant-select-selector {
      .source-icon {
        transform: translateY(-15px);
        width: 20px;
        height: 19px;
      }
    }

    .right-sql-title-and-btn {
      align-items: center;
      border: 1px solid #d9d9d9;
      border-bottom: none;
      .sql-title-left {
        width: 150px;
        align-items: center;
      }
      .sql-title-right {
        width: calc(100% - 150px);
        align-items: center;
        justify-content: right;
      }
    }

    .sqlExtractModal-codeEditor {
      .ant-form-item-explain {
        display: none;
        position: absolute;
        bottom: -27px;
        left: 2px;
      }

      .ant-form-item-label {
        label {
          width: 100%;
        }
      }

      .ant-form-item-control {
        flex: 1;
        height: 0;

        .ant-form-item-control-input {
          height: 100%;

          .ant-form-item-control-input-content {
            height: 100%;

            .c-param-editor {
              height: 100%;
            }
          }
        }
      }

      &.ant-form-item-has-error {
        .CodeMirror {
          border-color: var(--ant-error-color);
        }
      }
    }

    .ant-form-item {
      margin: 0;
    }
  }

  &-result {
    flex: 1;
    position: relative;
  }

  &-footer {
    width: 100%;
    height: 64px;
    padding: 14px 24px;
    border-top: @border;
    text-align: center;

    button {
      height: 36px;
    }
  }
}
