.headerRootC {
  height: 52px;
  width: 100vw;
  color: #fff;
  padding: 0px 24px;
  position: relative;
  background-color: #0a0744;

  .logo {
    height: 36px;
    margin: 8px 0;
    margin-right: 12px;
  }

  .operation {
    color: #fff;
    padding: 0 6px;
    min-width: auto;
    margin: 0px 4px;
    border-radius: 4px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
