.graphDetailRoot {
  background: url("../../../../../assets/images/background_point.png") no-repeat;

  .graphBox {
    width: 100%;
    height: 100%;
    position: relative;

    .empty {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}
