@border:1px solid var(--kw-line-color);
.classify-config-setting-modal-root {
  .ant-modal-close-x {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    font-style: normal;
    line-height: 48px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
  }
  .ant-modal-header {
    height: 48px;
    .ant-modal-title {
      line-height: 16px;
    }
  }
  .ant-modal-body {
    padding: 0px;
  }
  .classify-config-modal-root {
    .config-title {
      padding: 0;
      .name-length-limit {
        max-width: 210px;
      }
    }
    .all-classify {
      border: @border;
      border-radius: 2px;
      height: 356px;
      margin: 16px 0 0;
      .classify-search {
        padding: 0px 12px;
      }
      .input-first-left {
        width: 100%;
        border: none;
        border-bottom: @border;
      }
      .each-classify {
        padding: 10px 12px;
        align-items: center;
        .classify-name {
          max-width: 365px;
        }
      }
      .each-classify:hover {
        background-color: #f5f5f5;
      }
      .classify-data {
        max-height: 307px;
        overflow-y: auto;
      }
      .no-data {
        margin-top: 41px;
        flex-flow: column;
        .no-data-img {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}
