.normal-search-result-list {
  padding: 0 2px 0 24px;
  background-color: #fff;

  .res-scroll .ad-custom-scroll-thumb-y {
    opacity: 0;
  }

  &:hover {
    .res-scroll .ad-custom-scroll-thumb-y {
      opacity: 1;
    }
  }

  .scroll-wrapper {
    padding-right: 22px;
  }

  .row {
    display: flex;
    padding: 12px 0 8px 0;
    border-bottom: 1px solid var(--ad-line-color);

    &:hover {
      background: var(--ad-hover-bg-color);
    }

    &.checked {
      background: var(--ad-select-bg-color);
    }

    .check-col {
      width: 56px;
      padding: 0 20px;
    }

    .info-row {
      flex: 1;
      min-width: 0;

      .title {
        display: inline-block;
        max-width: 85%;
        height: 22px;
        margin-bottom: 6px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        line-height: 22px;
        cursor: pointer;

        &:hover {
          color: var(--ad-link-color);
          text-decoration: none;
        }
      }

      .pro-tags {
        min-height: 26px;
        max-height: 64px;
        overflow: hidden;
      }

      .pro-tag {
        display: inline-block;
        vertical-align: middle;
        height: 26px;
        max-width: 200px;
        margin: 0 8px 6px 0;
        padding: 0 8px;
        font-size: 12px;
        line-height: 26px;
        background: rgba(0, 0, 0, 0.06);
        border-radius: 2px;

        .circle-span {
          display: inline-block;
          vertical-align: middle;
          width: 12px;
          height: 12px;
          margin-right: 4px;
          border-radius: 50%;
          border: 1px solid #fff;
          line-height: 1;
          transform: translateY(-1px);
        }
      }

      .operation-box {
        height: 20px;
        line-height: 20px;

        .op-item {
          margin-right: 30px;
          cursor: default;
        }

        .detail-btn {
          color: var(--ad-primary-color);
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }

  .pagination-box {
    margin-bottom: 20px;

    .ant-pagination {
      margin-top: 32px;
    }
  }
}
