.reset-password-content {
  .box {
    .info {
      .title {
        // width: 92px;
        height: 36px;
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: var(--ad-text-color);
        line-height: 36px;
      }

      .des {
        width: fit-content;
        text-align: left;
        margin: 20px 0 10px;
        height: auto;
        line-height: 24px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: var(--ad-text-color-secondary);
      }

      .ant-input {
        background: #edf0f6;
      }

      .ant-input-affix-wrapper {
        padding: 5px 16px;
        border: 1px solid #edf0f6 !important;
        background: #edf0f6;
        border-radius: 4px;
        height: 32px;
      }

      .ant-input-affix-wrapper:hover,
      .ant-input:hover {
        background: #edf0f6;
      }

      .change-pass-name {
        text-align: left;
        margin-left: 16px;
        margin-bottom: 13px;
      }

      .ant-input-affix-wrapper-disabled {
        color: rgba(0, 0, 0, 0.25);
        padding: 10px 16px 0;
        background-color: #fff;
        border: none;
        box-shadow: none;
        cursor: default;
        opacity: 1;
      }

      .ant-input-disabled {
        cursor: default;
        background: #fff !important;
      }

      .ant-form-item {
        margin-bottom: 16px;
      }

      .input-icon {
        margin-right: 12px;
      }

      .username-icon {
        margin-right: 16px;
      }

      .ant-input-affix-wrapper-focused {
        border: 1px solid #779eea !important;
        box-shadow: 0 0 0 2px rgba(119, 158, 234, 0.35) !important;
      }

      .ant-input-affix-wrapper:hover {
        border: 1px solid #779eea !important;
      }

      .error-text {
        text-align: left;
        color: #f5222d;
        height: 44px;
        font-size: 12px;
        margin-top: -8px;
      }

      .ant-form-item-explain {
        display: none;
        text-align: right;
        font-size: 12px;
        letter-spacing: 0.38px;
      }

      .bottom-button-e {
        float: right;
        margin: 4px 0 0 0;

        .return {
          height: 30px;
          padding: 4px 8px;
        }

        .sure {
          height: 30px;
          margin: 0 8px 0 0px;
        }
      }

      button.ant-btn {
        min-width: 72px;
        padding: 4px 12px;
        box-shadow: none !important;
      }

      .forget {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 76px;
        line-height: 76px;
        text-align: center;

        .text:hover {
          color: var(--ad-link-color);
          cursor: pointer;
        }
      }
    }
  }

  .login-footer {
    position: absolute;
    width: 100%;
    bottom: 24px;
    text-align: center;

    font-size: 12px;
    color: #555555;
    letter-spacing: 0.38px;

    .login-footer-logo {
      width: 77px;
      height: 16px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
