.create-edit-res-modal {
  .ant-input-number {
    width: 100%;
  }
  .ant-select-tree-node-selected {
    background-color: var(--kw-select-bg-color) !important;
  }
  .ant-select-tree-switcher-noop {
    opacity: 0;
  }
  .m-footer {
    background: white;
  }
  .ant-form-item-label > label .ant-form-item-tooltip {
    cursor: pointer;
  }
}
