.replore-result {
  margin-top: 24px;
  font-size: 14px;
  position: relative;
  height: 100%;

  .result-title {
    padding: 0 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .path-number {
      color: rgba(18, 110, 227, 0.85);
    }

    .title-weight {
      font-weight: 600;
    }
  }

  .screen-icon {
    margin-left: 18px;
    font-size: 16px;
    color: var(--kw-heading-color);
  }

  .sort-icon {
    font-size: 16px;
    color: var(--kw-heading-color);
  }

  .disabled {
    color: var(--kw-disabled-color) !important;
  }

  .menu-select {
    .select {
      width: 120px;
      height: 30px;
      display: flex;
      line-height: 30px;
    }
  }

  .menu-selected {
    background: var(--kw-select-bg-color);
  }

  .selected-item {
    background: var(--kw-select-bg-color);
  }

  .path-item {
    padding-top: 10px;
    height: auto;
    // margin-top: 20px;
    cursor: pointer;

    &:hover {
      background: var(--kw-hover-bg-color);
    }

    .path-tag-box {
      padding: 0 20px;

      .item-tag {
        display: inline-block;
        width: auto;
        height: 26px;
        line-height: 26px;
        padding: 0 16px;
        background: rgba(18, 110, 227, 0.05);
        border-radius: 2px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(18, 110, 227, 0.85);
      }
    }

    .path-item-box {
      padding: 0 20px;
      margin: 10px 0 0;
      word-break: break-all;
      position: relative;

      .path-item-node {
        display: inline-block;
        height: 24px;
        line-height: 18px;

        .node {
          display: inline-block;
          max-width: 96px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .icon {
          display: inline-block;
          margin: 0px 8px 5px;
        }
      }

      .open {
        display: inline-block;
        margin-bottom: 8px;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 28px;

        &:hover {
          color: rgba(18, 110, 227, 0.85);
        }
      }

      .close-path {
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: rgba(18, 110, 227, 0.85);
        }
      }
    }

    .listhidden {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical; // 指定box子元素是否按水平或垂直排列
      -webkit-line-clamp: 2; // 此行用于控制从多少行开始，溢出时用省略号替换
    }
  }

  .path-item-selected {
    background: var(--kw-select-bg-color);
  }

  .pathList-pagination {
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 380px;
    white-space: nowrap;
    height: 84px;
    padding: 20px 20px 32px 0;
    background: #fff;
  }

  .path-loading {
    width: 100%;
    right: 0;
    height: 100%;
    text-align: center;
    padding: 130px 0 0 0;
    position: absolute;
    z-index: 300;
    background: #fff;
    opacity: 0.8;

    .icon {
      font-size: 40px;
      color: var(--kw-primary-color);
    }

    .loading-tip {
      color: var(--kw-text-color);
      margin-top: 12px;
    }
  }

  .path-loading-hidden {
    display: none;
  }

  // .ant-pagination-options {
  //   display: none;
  // }

  .empty-box {
    width: 230px;
    margin: 0 auto;

    .ant-empty-image {
      height: 144px;
    }
  }
}
