.onto-synonyms-list {
  .word-row {
    align-items: flex-start;

    &:last-of-type {
      margin-bottom: 0 !important;
    }

    .del-icon {
      flex-shrink: 0;
      height: 32px;
      line-height: 32px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.25);

      &.disabled {
        color: rgba(0, 0, 0, 0.1);
        cursor: not-allowed;
        display: none;
      }
    }

    .input-wrap {
      flex: 1;
      width: 100%;
    }

    .err-msg {
      line-height: 18px;
      color: var(--kw-error-color);
    }

    .error-border {
      border-color: var(--kw-error-color) !important;
    }
  }
}
