.km-tooltip-box {
  justify-content: center;

  &-row {
    align-items: flex-start;
  }

  &-col-left {
    flex-shrink: 1;
    width: 120px;
    text-align: right;
  }

  &-col-right {
    flex: 1;
  }

  &.EN .km-tooltip-box-col-left {
    width: 230px;
  }
}
