.mf-prompt-code-modal {
  .kw-universal-modal-content {
    overflow: auto;
    overflow: overlay;
  }

  .editor-header {
    height: 36px;
    padding: 0 16px;
    color: #c5c5d2;
    background: #353740;
    border-radius: 3px 3px 0 0;
  }

  .CodeMirror {
    border-radius: 0 0 3px 3px;

    pre.CodeMirror-line,
    .CodeMirror-placeholder {
      padding: 0 8px;
    }

    .CodeMirror-linenumber {
      padding: 0 12px;
      text-align: center;
      color: #6e6e80;
    }
  }

  .value-input {
    height: 32px;
    border: 1px solid var(--kw-line-color);
    border-radius: 3px;
  }
}
