.canvas-entity-selector .select-input-wrap {
  height: 32px;
  padding-left: 12px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;

  &:hover,
  &.focused {
    border-color: var(--kw-primary-color-hover);
  }

  .c-input {
    flex: 1;
    min-width: 0;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    background-image: none;
  }

  .clear-icon {
    color: var(--kw-disabled-color);

    &:hover {
      color: var(--kw-text-color-secondary);
    }
  }
}
