.task-run-overlay {
  width: 140px;

  .run {
    width: 88px;
    margin: 0 8px 0 0;
  }

  .ant-dropdown-menu-item {
    padding: 5px 20px !important;
    height: 40px;
  }
}

.ant-modal-close-x {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  font-style: normal;
  line-height: 48px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}

.title-header {
  padding: 16px 24px;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
  height: 48px;
  // font-weight: bold;
}