.knw-card-g6-tooltip {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 320px;
  max-height: 500px;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  overflow: auto;

  .text-right {
    text-align: right;
  }

  .kw-flex > div {
    line-height: 20px;
  }

  .indexesListRoot {
    padding-top: 0;
  }
}
