@prefixCls: kw-split-panel;

.@{prefixCls} {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  &-vertical {
    flex-direction: column;

    .@{prefixCls}-item {
      background-color: #fff;
    }

    > .@{prefixCls}-top-item {
      width: 100%;
      height: 50px;
    }

    > .@{prefixCls}-bottom-item {
      flex: 1;
    }

    > .@{prefixCls}-resizes {
      width: 100%;
      margin: -5px 0;
      height: 11px;
      background-color: var(--kw-line-color);
      cursor: row-resize;
      border-top: 5px solid rgba(255, 255, 255, 0);
      border-bottom: 5px solid rgba(255, 255, 255, 0);
      transition: all 0.5s ease;
      z-index: 1;
      box-sizing: border-box;
      background-clip: padding-box;
      opacity: 0.2;
    }
  }

  &-horizontal {
    .@{prefixCls}-item {
      background-color: #fff;
      position: absolute;
      overflow: hidden;
    }

    > .@{prefixCls}-left-item {
      //width: 50px;
      height: 100%;
      left: 0;
      bottom: 0;
    }

    > .@{prefixCls}-right-item {
      flex: 1;
    }

    > .@{prefixCls}-resizes {
      position: absolute;
      width: 11px;
      margin: 0 -5px;
      height: 100%;
      background-color: var(--kw-line-color);
      cursor: col-resize;
      border-left: 6px solid rgba(255, 255, 255, 0);
      border-right: 5px solid rgba(255, 255, 255, 0);
      z-index: 1;
      box-sizing: border-box;
      background-clip: padding-box;
    }
  }
}
