.sliced-op-modal {
  .main-content {
    // min-height: 382px;

    .type-row .ant-form-item-label {
      padding: 0;
    }
  }
  
  .m-footer {
    position: unset;
  }

  .ant-form-item:last-child {
    margin: 0px;
  }
}

