.path-exploration {
  height: 100%;
  position: relative;

  .path-exploration-top {
    padding: 0 20px;
  }

  .exploration-title {
    height: 52px;
    line-height: 52px;
    color: var(--kw-heading-color);
    font-size: 600;
    font-size: 16px;
    border-bottom: 1px solid var(--kw-line-color);
  }

  .select-path-type {
    margin-top: 20px;

    & p {
      margin-bottom: 8px;
    }
  }

  .label-style {
    color: var(--kw-text-color-secondary);
  }

  .path-loading-data {
    width: 100%;
    height: 376px;
    text-align: center;
    padding: 130px 0 0 0;

    .icon {
      font-size: 40px;
      color: var(--kw-primary-color);
    }

    .loading-tip {
      margin-top: 12px;
      color: var(--kw-text-color);
    }
  }
}
