.intention-table-list {
  .intention-head {
    overflow: hidden;
    .intention-head-right {
      float: right;
      display: flex;
      align-items: center;
      .tool-btn {
        max-width: 32px;
        min-width: 32px;
        padding: 0px;
        .sort-icon {
          // font-size: 18px;
          transform: translateY(2px);
        }
        .div-icon {
          width: 30px;
          height: 24px;
        }
        .icon-refresh {
          animation: turn 0.5s linear infinite;
        }
        @keyframes turn {
          100% {
            transform: rotateZ(1turn);
          }
        }
      }
      .intention-select {
        width: 190px;
      }
      .div-icon-box {
        padding-top: 3px;
      }
    }
  }
  // .ant-dropdown-menu {
  //   width: 160px;
  //   .ant-dropdown-menu-item {
  //     padding: 7px 20px;
  //   }
  // }
}

.intention-select {
  width: 190px;
}
