.knowledgeNetworkSideBarRoot {
  &-iqCard {
    width: 100%;
    //padding: 0 16px;
    text-align: center;

    &-content {
      border-radius: 2px;
      height: 64px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        border-color: rgba(0, 0, 0, .2);
      }
    }
  }
}
