.propertyListRoot {
  max-height: 420px;
  position: relative;

  .properties {
    border-bottom: 1px solid #f4f4f4;
  }

  .imitationInput {
  }

  // antd 样式覆盖
  .ant-pagination {
    li {
      height: 28px;
      min-width: 28px;
      line-height: 28px;
      margin-bottom: 8px;
    }
  }
}
