.upload-record-detail {
  position: relative;
  height: 456px;
  height: auto;
  padding: 24px 30px 40px;

  .info-box {
    width: 100%;
    border: 1px solid var(--kw-line-color);

    span {
      display: inline-block;
      vertical-align: middle;
      height: 54px;
    }

    .row:first-of-type {
      border-bottom: 1px solid var(--kw-line-color);
    }

    .name-label {
      width: 130px;
      padding: 16px 4px;
      line-height: 22px;
      color: var(--kw-heading-color);
      text-align: center;
      background-color: #fafafa;
      border-right: 1px solid var(--kw-line-color);
    }

    .info-text {
      width: calc(100% - 130px);
      padding: 16px 80px 16px 16px;
      line-height: 22px;
    }
  }

  .ant-steps-label-vertical .ant-steps-item-content {
    position: absolute;
    width: 116px;
    top: -38px;
    text-align: left;
    left: 30px;
  }

  .steps-box {
    min-height: 200px;
  }

  .progress-steps {
    padding: 80px 0 0;
    width: 96%;

    .ant-steps-item-tail:after {
      height: 2px;
    }

    .dashed-step .ant-steps-item-tail:after {
      background: linear-gradient(to right, var(--kw-primary-color) 50%, #fff 50%);
      background-size: 8px 100%;
    }

    .error-step .ant-steps-item-tail:after {
      background: linear-gradient(to right, var(--kw-error-color) 50%, #fff 50%);
      background-size: 8px 100%;
    }

    .ant-steps-item-icon {
      height: 32px;
      border-width: 2px;
    }

    .ant-steps-item-title {
      font-size: 14px;
    }

    .ant-steps-item-description {
      position: absolute;
      right: 184px;
      transform: translateY(50px);
      display: inline-block;
      color: var(--kw-primary-color) !important;
      font-size: 14px;
      line-height: 32px;
    }

    .ellipsis-wrap {
      width: 32px;
      height: 32px;
      border: 2px solid var(--kw-primary-color);
      border-radius: 50%;
      background-color: #fff;
      line-height: 28px;

      .ellipsis-icon {
        color: var(--kw-primary-color);
      }
    }

    .step-wait-icon {
      display: inline-block;
      vertical-align: top;
      width: 32px;
      height: 32px;
      border: 2px solid rgba(0, 0, 0, 0.25);
      border-radius: 50%;
    }
  }

  .error-box {
    max-height: 260px;
    overflow-y: auto;
  }

  .scrollWrapper {
    min-height: 50px !important;
  }

  .m-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    padding: 0 20px;
    line-height: 64px;
    border-top: 1px solid var(--kw-line-color);
    text-align: right;

    button {
      height: 36px;
    }
  }
}
