.associated {
  display: flex;
  height: 56px;

  .associated-start {
    width: 30%;
    line-height: 56px;
    display: flex;

    .node-title {
      min-width: 84px;
    }

    .word {
      max-width: 56%;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--ad-text-color);
      cursor: pointer;

      .icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: 20px;
        margin-right: 8px;
        border-radius: 10px;
        border: 1px solid #e5e5e5;
      }

      .word-name {
        display: inline-block;
        max-width: 75%;
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        .word-name {
          color: var(--ad-link-color);
          border-bottom: 1px solid var(--ad-link-color);
        }
      }
    }
  }

  .line {
    display: inline-block;
    margin-right: 12px;
    line-height: 16px;
    width: 1px;
    height: 16px;
    margin-top: 20px;
    border: 1px solid var(--ad-line-color);
  }

  .associated-edges {
    width: 40%;
    height: 56px;
    line-height: 56px;
    display: flex;

    .edges-name {
      display: inline-block;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .edges-icon {
      display: inline-block;
      width: 14px;
      height: 2px;
      margin-top: 28px;
      margin-right: 8px;
    }

    .edges-word {
      display: inline-block;
      margin-bottom: 20px;
    }
  }

  .associated-end {
    width: 30%;
    display: flex;
    height: 56px;
    line-height: 56px;

    .node-title {
      min-width: 84px;
    }

    .word {
      max-width: 56%;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--ad-text-color);
      cursor: pointer;

      .icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: 20px;
        margin-right: 8px;
        border-radius: 10px;
        border: 1px solid #e5e5e5;
      }

      .word-name {
        display: inline-block;
        max-width: 75%;
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        .word-name {
          color: var(--ad-link-color);
          border-bottom: 1px solid var(--ad-link-color);
        }
      }
    }
  }
}
