.card-view-list {
  width: 320px;
  padding: 8px 20px;

  .card-rows {
    padding-top: 6px;
    line-height: 30px;
    .card-label {
      font-size: 14px;
    }
  }

  .card-value {
    padding-top: 6px;
    // padding-bottom: 6px;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: rgba(0, 0, 0, 0.85);
  }
}

.card-edit {
  height: 40px;
  border-top: 1px solid rgba(244, 244, 244, 1);
  display: flex;

  .card-edit-btn {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.card-edit-none {
  display: none;
}
