.source-import-rabbitmq {
  margin: 25px 0 0 0;

  .basic-info {
    width: 689px;
    height: 80px;
    border-radius: 3px;
    border: 1px solid rgba(230, 230, 230, 1);

    .head {
      width: 686px;
      height: 36px;
      background: rgba(250, 250, 250, 1);
      border-radius: 3px 3px 0px 0px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--ad-heading-color);
      padding: 6px 20px;
    }

    .info {
      width: 686px;
      height: 42px;
      border-radius: 3px 3px 0px 0px;

      .line {
        float: left;
        width: 330px;
        padding: 10px 0 0 20px;

        .start {
          display: inline-block;
          vertical-align: middle;
          color: var(--ad-heading-color);
        }

        .tent {
          display: inline-block;
          vertical-align: middle;
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .preview {
    margin: 0 0 0 0;

    .title-pre {
      height: 36px;
      padding: 8px 20px;
      line-height: 20px;
      background: rgba(249, 249, 249, 1);

      .big {
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: var(--ad-heading-color);
      }

      .little {
        font-size: 12px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: var(--ad-text-color-secondary);
      }
    }

    .content-pre {
      width: 690px;
      min-height: 330px;
      margin: 20px 0 0 0;
      background: #fff;
      border-radius: 3px;
      border: 1px solid rgba(230, 230, 230, 1);

      .text-area {
        width: 100%;
        padding: 10px 20px;
        background-color: #fff;
        border-color: transparent;
        color: var(--ad-text-color);
        -webkit-text-fill-color: var(--ad-text-color) !important;
        cursor: auto;
      }
    }
  }
}