.shapeNodeRoot,
.shapeEdgeRoot {
  display: flex;
  align-items: center;
  .type {
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .selected {
    background-color: var(--kw-imitation-input-color);
  }
  .circle {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid var(--kw-heading-color);
  }
  .rect {
    width: 32px;
    height: 24px;
    border-radius: 2px;
    border: 2px solid var(--kw-heading-color);
  }
  .line {
    width: 32px;
    height: 2px;
    background-color: var(--kw-heading-color);
  }
  .polyline {
    width: 20px;
    height: 16px;
    display: flex;
    .polyline1 {
      width: 7px;
      height: 100%;
      border-top: 2px solid var(--kw-heading-color);
    }
    .polyline2 {
      width: 2px;
      height: 100%;
      background-color: var(--kw-heading-color);
    }
    .polyline3 {
      width: 7px;
      height: 100%;
      border-bottom: 2px solid var(--kw-heading-color);
    }
  }
  .cubic {
    width: 32px;
    height: 13px;
    display: flex;
    .cubic1 {
      width: 16px;
      height: 16px;
      position: relative;
      border-radius: 16px;
      border-top: 2px solid var(--kw-heading-color);
    }
    .cubic2 {
      width: 16px;
      height: 16px;
      position: relative;
      border-radius: 16px;
      border-bottom: 2px solid var(--kw-heading-color);
    }
  }
}
