.uploadingSetRoot {
  .openBtn {
    padding: 0 12px;

    span {
      margin-left: 0;
    }

    .check-icon {
      transform: translateY(3px);
    }
  }

  .graphImg {
    height: 40px;
    width: 40px;

    .icon {
      font-size: 40px;
    }
  }
}