

.entity-import {
  .title-ontolog-name {
    margin: 12px 0 0 0;
  }

  .ant-empty-image {
    height: 50px;
    margin: 20px 0 8px 0;
  }

  // .select-true {
  //   .ant-select:hover:not(.ant-select-disabled) .ant-select-selector {
  //     border-color: rgba(84, 99, 156, 1) !important;
  //   }

  //   .ant-select-focused .ant-select-selector {
  //     border-color: rgba(84, 99, 156, 1) !important;
  //     box-shadow: none !important;
  //   }
  // }

  .select-false {
    .ant-select-selector {
      border-color: var(--ad-error-color) !important;
    }

    .ant-select:hover:not(.ant-select-disabled) .ant-select-selector {
      border-color: var(--ad-error-color) !important;
    }

    .ant-select-focused .ant-select-selector {
      border-color: var(--ad-error-color) !important;
      box-shadow: none !important;
    }
  }

  .entity-select {
    width: 692px;
    height: 34px;
    margin: 20px 0 0 0;
    background: rgba(255, 255, 255, 1);
  }

  .preview {
    margin: 20px 0 0 0;

    .content {
      width: 692px;
      height: 397px;
      background: rgba(249, 249, 249, 1);
      border-radius: 3px;
      border: 1px solid rgba(230, 230, 230, 1);
      padding: 0;
    }
  }
}
