.configureRulesModal {
  min-height: 700px;
  min-width: 1000px;

  .m-footer {
    background: #fff;
    position: unset;
  }

  .configureRules-content {
    // min-height: 497px;
    // max-height: 497px;
    // min-height: 455px;

    .ruleNameInput {
      width: 336px;
    }

    .err {
      border-color: var(--kw-error-color);
    }

    .err-msg {
      display: block;
      min-height: 20px;
      line-height: 20px;
      color: var(--kw-error-color);
      font-size: 12px;
    }

    // .ruleListWrapper {
    //   max-height: 526px;
    //   overflow-y: auto;
    // }
  }
}
