.node-info {
  .scrollbar-box {
    margin-right: 40px;
  }

  .title {
    display: flex;
    padding: 0 0 12px 0;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--ad-heading-color);
    border-bottom: 1px solid var(--ad-line-color);
    margin-right: 40px;
  }

  .etntiy-select {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;

    .entity-name {
      width: calc(50% - 20px);
      font-size: 14px;
      margin: 0 0 0 40px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: var(--ad-text-color);
    }

    .unique {
      width: calc(50% - 20px);
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: var(--ad-text-color);

      .icon {
        position: absolute;
        margin: 0 0 0 10px;
        font-size: 14px;
        color: #333;
      }

      .icon:hover {
        color: rgba(84, 99, 156, 1);
      }
    }

    .select {
      width: 100%;
      margin: 8px 0 0 0;
    }
  }

  .property-map {
    margin: 30px 0 0 0;
    padding: 0 0 12px 0;
    border-bottom: 1px solid var(--ad-line-color);

    .des {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
    }

    .icon {
      margin: 0 0 0 10px;
      font-size: 14px;
      color: #333333;
    }

    .icon:hover {
      color: rgba(84, 99, 156, 1);
    }

    .clear {
      float: right;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: var(--ad-text-color);
      cursor: pointer;
    }

    .disable-click {
      color: #999999;
      float: right;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .node-content {
    padding: 20px 0 0 0;
    min-height: 400px;

    .select-title {
      display: flex;
      margin: 0 0 8px 0;

      .line-left {
        width: calc(50% - 20px);
        margin: 0 40px 0 0;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: var(--ad-text-color);
      }

      .line {
        width: calc(50% - 20px);
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: var(--ad-text-color);
      }
    }

    .value {
      display: flex;
      margin: 0 0 20px 0;

      .box {
        width: calc(50% - 20px);

        .select {
          width: 100%;
        }
      }

      .other {
        margin: 0 0 0 40px;
      }
    }

    // .back-btn {
    //   width: 64px;
    //   padding: 4px;
    //   border-color: #d9d9d9;
    //   border-radius: 3px;
    //   color: #333;
    // }
  }

  // .ant-select-selector {
  //   font-family: PingFangSC-Regular, PingFang SC;
  // }

  // .ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  //   border-color: #54639c;
  //   -webkit-box-shadow: 0 0 0 0 rgba(84, 99, 156, 0.2);
  //   box-shadow: 0 0 0 0 rgba(84, 99, 156, 0.2);
  // }

  // .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  //   border-color: #54639c;
  //   -webkit-box-shadow: 0 0 0 0 rgba(84, 99, 156, 0.2);
  //   box-shadow: 0 0 0 0 rgba(84, 99, 156, 0.2);
  // }

  // .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  //   width: 100%;
  //   height: 34px;
  //   padding: 0 11px;
  // }

  .has-errors {
    .ant-select-selector {
      border: 1px solid var(--ad-error-color) !important;
      outline: 0;
    }
  }
}
