.not-found-childPage {
  height: 100%;
  z-index: -100;
  position: relative;

  .not-found-childPage-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .not-found-childPage-msg {
      display: grid;
      margin-top: 16px;
      place-items: center;
      font-size: 16px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      color: #000000;
      line-height: 23px;
    }
  }
}
