.LoopDetection {
  &-path-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #4caf51;
    border-radius: 50%;
    &-start {
      border-color: #4caf51;
    }

    &-end {
      border-color: #f5222d;
    }
  }
  &-node {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: var(--kw-white);
  }
}
