.admin-dictManagement-leftComponent-content {
  height: 100%;

  .admin-dictManagement-leftComponent-content-searchInput {
    width: 316px;
    height: 32px;
    margin-top: 16px;
    margin-left: 24px;
  }

  .admin-dictManagement-leftComponent-content-titleRefresh {
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .admin-dictManagement-leftComponent-content-title {
      flex: 1;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      font-family: 'PingFangSC, PingFang SC';
      font-weight: 600;
      color: rgba(0, 0, 0, 0.85);
    }

    .admin-dictManagement-leftComponent-content-refresh {
      width: 32px;
      height: 32px;
    }
  }

  .admin-dictManagement-table {
    .admin-dictManagement-table-row {
      background-color: rgba(18, 110, 227, 0.06);
    }
    .ant-table-tbody > tr > td {
      padding: 0 !important;
      border-bottom: none !important;
    }
    .left-name-sel {
      padding-left: 24px;
      background: rgba(18, 110, 227, 0.06);
      .name {
        padding-top: 8px;
        font-size: 13px;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
      }
      .type {
        padding-top: 3px;
        padding-bottom: 8px;
        font-size: 14px;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
      }
    }
    .left-name {
      padding-left: 24px;
      .name {
        padding-top: 8px;
        font-size: 13px;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
      }
      .type {
        padding-top: 3px;
        padding-bottom: 8px;
        font-size: 14px;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
      }
    }
    .operate {
      float: right;
      margin-right: 24px;
    }
    .ad-btn-icon {
      &:hover {
        background: white !important;
      }
    }
  }
}
