:root[theme='dark'] {
  --ad-primary-color:         #000000;
  --ad-primary-color-rgb:     18, 110, 227;
  --ad-link-color:            #3461ec;
  --ad-success-color:         #52c41a;
  --ad-success-color-rgb:     82, 196, 26;
  --ad-warning-color:         #faad14;
  --ad-warning-color-rgb:     250, 173, 20;
  --ad-error-color:           #f5222d;
  --ad-error-color-rgb:       245, 34, 45;
  --ad-info-color:            #126ee3;
  --ad-info-color-rgb:        18, 110, 227;
  --ad-primary-color-hover:   #3a8ff0;
  --ad-heading-color:         rgba(0, 0, 0, 0.85);
  --ad-text-color:            rgba(0, 0, 0, 0.65);
  --ad-text-color-secondary:  rgba(0, 0, 0, 0.45);
  --ad-disabled-color:        rgba(0, 0, 0, 0.25);
  --ad-border-color-base:     rgba(0, 0, 0, 0.15);
  --ad-line-color:            rgba(0, 0, 0, 0.06);
  --ad-imitation-input-color: rgba(0, 0, 0, 0.04);
  --ad-hover-bg-color:        #f5f5f5;
  --ad-select-bg-color:       #f1f7fe;
  --ad-border-radius-base:    3px;
  --ad-border:                1px solid rgba(0, 0, 0, .06);
  --ad-box-shadow-base: 
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
