@import './theme/them_default.less';
@import './theme/them_dark.less';

body > iframe {
  display: none !important;
}

/* Color */
.kw-c-white {
  color: var(--kw-white)
}

.kw-c-black {
  color: var(--kw-black)
}

.kw-c-primary {
  color: var(--kw-primary-color) !important;
}

.kw-c-link {
  color: var(--kw-link-color) !important;
}

.kw-c-success {
  color: var(--kw-success-color) !important;
}

.kw-c-warning {
  color: var(--kw-warning-color) !important;
}

.kw-c-error {
  color: var(--kw-error-color) !important;
}

.kw-c-header {
  color: var(--kw-heading-color) !important;
}

.kw-c-text {
  color: var(--kw-text-color);
}

.kw-c-text-lower {
  color: var(--kw-text-color-lower);
}

.kw-c-subtext {
  color: var(--kw-text-color-secondary) !important;
}

.kw-c-watermark {
  color: var(--kw-disabled-color) !important;
}

.kw-c-text-link {
  cursor: pointer;
  color: var(--kw-text-color);
  transition: color .3s;

  &:hover {
    color: var(--kw-link-color) !important;
  }
}

.kw-c-border {
  color: var(--kw-border-color-base) !important;
}

.kw-c-line {
  color: var(--kw-line-color) !important;
}

.kw-c-input {
  color: var(--kw-imitation-input-color) !important;
}



.kw-c-shadow {
  box-shadow: var(--kw-box-shadow-base);
}

.kw-bg-white {
  background: var(--kw-white)
}

.kw-bg-primary {
  background: var(--kw-primary-color);
}

.kw-bg-link {
  background: var(--kw-link-color);
}

.kw-bg-success {
  background: var(--kw-success-color);
}

.kw-bg-warning {
  background: var(--kw-warning-color);
}

.kw-bg-error {
  background: var(--kw-error-color);
}

.kw-bg-header {
  background: var(--kw-heading-color);
}

.kw-bg-text {
  background: var(--kw-text-color);
}

.kw-bg-subtext {
  background: var(--kw-text-color-secondary);
}

.kw-bg-watermark {
  background: var(--kw-disabled-color);
}

.kw-bg-selected {
  background: var(--kw-select-bg-color);
}

.kw-bg-border {
  background: var(--kw-border-color-base);
}

.kw-border {
  border: var(--kw-border);
}

.kw-border-t {
  border-top: var(--kw-border);
}

.kw-border-r {
  border-right: var(--kw-border);
}

.kw-border-b {
  border-bottom: var(--kw-border);
}

.kw-border-l {
  border-left: var(--kw-border);
}

.kw-border-form-item {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.kw-pointer {
  cursor: pointer;
}
.kw-not-allowed {
  cursor: not-allowed;
}

.kw-required::before {
  content: "*";
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun,sans-serif;
  line-height: 1;
}

/* 透明度 */
.kw-opacity-06 {
  opacity: .06;
}

.kw-opacity-10 {
  opacity: 0.1;
}

.kw-opacity-15 {
  opacity: .15;
}

.kw-opacity-20 {
  opacity: 0.2;
}

.kw-opacity-25 {
  opacity: .25;
}

.kw-opacity-30 {
  opacity: 0.3;
}

.kw-opacity-35 {
  opacity: 0.35;
}

.kw-opacity-40 {
  opacity: 0.4;
}

.kw-opacity-45 {
  opacity: .45;
}

.kw-opacity-50 {
  opacity: 0.5;
}

.kw-opacity-60 {
  opacity: 0.6;
}

.kw-opacity-65 {
  opacity: .65;
}

.kw-opacity-70 {
  opacity: 0.7;
}

.kw-opacity-80 {
  opacity: 0.8;
}

.kw-opacity-85 {
  opacity: .85;
}

.kw-opacity-90 {
  opacity: 0.9;
}

/* 超长展示... */
.kw-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.kw-ellipsis-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: auto !important;
  overflow: hidden;
  display: -webkit-box !important;
}

.kw-ellipsis-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: auto !important;
  overflow: hidden;
  display: -webkit-box !important;
}

.kw-ellipsis-4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: auto !important;
  overflow: hidden;
  display: -webkit-box !important;
}

.kw-ellipsis-5 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: auto !important;
  overflow: hidden;
  display: -webkit-box !important;
}

.kw-ellipsis-6 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: auto !important;
  overflow: hidden;
  display: -webkit-box !important;
}

/* display */
.kw-flex {
  display: flex;
}

.kw-flex-column {
  display: flex;
  flex-direction: column;
}

.kw-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kw-column-center {
  .kw-flex-column();
  .kw-center();
}

.kw-align-center {
  display: flex;
  align-items: center;
}

.kw-content-center {
  display: flex;
  justify-content: center;
}

.kw-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kw-flex-item-full-height {
  flex: 1;
  min-height: 0;
}

.kw-flex-item-full-width {
  flex: 1;
  min-width: 0;
}

/* 缺醒图片 */
.kw-tip-img {
  width: 144px;
  height: auto;
}

/* 宽度 */
.kw-w-10 {
  width: 10%;
}

.kw-w-25 {
  width: 25%;
}

.kw-w-30 {
  width: 30%;
}

.kw-w-35 {
  width: 35%;
}

.kw-w-40 {
  width: 40%;
}

.kw-w-45 {
  width: 45%;
}

.kw-w-50 {
  width: 50%;
}

.kw-w-55 {
  width: 55%;
}

.kw-w-60 {
  width: 60%;
}

.kw-w-65 {
  width: 65%;
}

.kw-w-70 {
  width: 70%;
}

.kw-w-75 {
  width: 75%;
}

.kw-w-80 {
  width: 80%;
}

.kw-w-85 {
  width: 85%;
}

.kw-w-90 {
  width: 90%;
}

.kw-w-95 {
  width: 89%;
}

.kw-w-100 {
  width: 100%;
}

/* 高度 */
.kw-h-10 {
  height: 10%;
}

.kw-h-25 {
  height: 25%;
}

.kw-h-30 {
  height: 30%;
}

.kw-h-35 {
  height: 35%;
}

.kw-h-40 {
  height: 40%;
}

.kw-h-45 {
  height: 45%;
}

.kw-h-50 {
  height: 50%;
}

.kw-h-55 {
  height: 55%;
}

.kw-h-60 {
  height: 60%;
}

.kw-h-65 {
  height: 65%;
}

.kw-h-70 {
  height: 70%;
}

.kw-h-75 {
  height: 75%;
}

.kw-h-80 {
  height: 80%;
}

.kw-h-85 {
  height: 85%;
}

.kw-h-90 {
  height: 90%;
}

.kw-h-95 {
  height: 89%;
}

.kw-h-100 {
  height: 100%;
}

/* padding和margin */
.kw-p-0 {
  padding: 0px;
}

.kw-p-1 {
  padding: 4px !important
}

.kw-p-2 {
  padding: 8px !important
}

.kw-p-3 {
  padding: 12px !important
}

.kw-p-4 {
  padding: 16px !important
}

.kw-p-5 {
  padding: 20px !important
}

.kw-p-6 {
  padding: 24px !important
}

.kw-p-7 {
  padding: 28px !important
}

.kw-p-8 {
  padding: 32px !important
}

.kw-p-9 {
  padding: 36px !important
}

.kw-pt-0 {
  padding-top: 0px !important
}

.kw-pt-1 {
  padding-top: 4px !important
}

.kw-pt-2 {
  padding-top: 8px !important
}

.kw-pt-3 {
  padding-top: 12px !important
}

.kw-pt-4 {
  padding-top: 16px !important
}

.kw-pt-5 {
  padding-top: 20px !important
}

.kw-pt-6 {
  padding-top: 24px !important
}

.kw-pt-7 {
  padding-top: 28px !important
}

.kw-pt-8 {
  padding-top: 32px !important
}

.kw-pt-9 {
  padding-top: 36px !important
}

.kw-pb-0 {
  padding-bottom: 0px !important
}

.kw-pb-1 {
  padding-bottom: 4px !important
}

.kw-pb-2 {
  padding-bottom: 8px !important
}

.kw-pb-3 {
  padding-bottom: 12px !important
}

.kw-pb-4 {
  padding-bottom: 16px !important
}

.kw-pb-5 {
  padding-bottom: 20px !important
}

.kw-pb-6 {
  padding-bottom: 24px !important
}

.kw-pb-7 {
  padding-bottom: 28px !important
}

.kw-pb-8 {
  padding-bottom: 32px !important
}

.kw-pb-9 {
  padding-bottom: 36px !important
}

.kw-pl-0 {
  padding-left: 0px !important
}

.kw-pl-1 {
  padding-left: 4px !important
}

.kw-pl-2 {
  padding-left: 8px !important
}

.kw-pl-3 {
  padding-left: 12px !important
}

.kw-pl-4 {
  padding-left: 16px !important
}

.kw-pl-5 {
  padding-left: 20px !important
}

.kw-pl-6 {
  padding-left: 24px !important
}

.kw-pl-7 {
  padding-left: 28px !important
}

.kw-pl-8 {
  padding-left: 32px !important
}

.kw-pl-9 {
  padding-left: 36px !important
}

.kw-pr-0 {
  padding-right: 0px !important
}

.kw-pr-1 {
  padding-right: 4px !important
}

.kw-pr-2 {
  padding-right: 8px !important
}

.kw-pr-3 {
  padding-right: 12px !important
}

.kw-pr-4 {
  padding-right: 16px !important
}

.kw-pr-5 {
  padding-right: 20px !important
}

.kw-pr-6 {
  padding-right: 24px !important
}

.kw-pr-7 {
  padding-right: 28px !important
}

.kw-pr-8 {
  padding-right: 32px !important
}

.kw-pr-9 {
  padding-right: 36px !important
}

.kw-m-0 {
  margin: 0px !important
}

.kw-m-1 {
  margin: 4px !important
}

.kw-m-2 {
  margin: 8px !important
}

.kw-m-3 {
  margin: 12px !important
}

.kw-m-4 {
  margin: 16px !important
}

.kw-m-5 {
  margin: 20px !important
}

.kw-m-6 {
  margin: 24px !important
}

.kw-m-7 {
  margin: 28px !important
}

.kw-m-8 {
  margin: 32px !important
}

.kw-m-9 {
  margin: 36px !important
}

.kw-mt-0 {
  margin-top: 0px !important
}

.kw-mt-1 {
  margin-top: 4px !important
}

.kw-mt-2 {
  margin-top: 8px !important
}

.kw-mt-3 {
  margin-top: 12px !important
}

.kw-mt-4 {
  margin-top: 16px !important
}

.kw-mt-5 {
  margin-top: 20px !important
}

.kw-mt-6 {
  margin-top: 24px !important
}

.kw-mt-7 {
  margin-top: 28px !important
}

.kw-mt-8 {
  margin-top: 32px !important
}

.kw-mt-9 {
  margin-top: 36px !important
}

.kw-mb-0 {
  margin-bottom: 0px !important
}

.kw-mb-1 {
  margin-bottom: 4px !important
}

.kw-mb-2 {
  margin-bottom: 8px !important
}

.kw-mb-3 {
  margin-bottom: 12px !important
}

.kw-mb-4 {
  margin-bottom: 16px !important
}

.kw-mb-5 {
  margin-bottom: 20px !important
}

.kw-mb-6 {
  margin-bottom: 24px !important
}

.kw-mb-7 {
  margin-bottom: 28px !important
}

.kw-mb-8 {
  margin-bottom: 32px !important
}

.kw-mb-9 {
  margin-bottom: 36px !important
}

.kw-ml-0 {
  margin-left: 0px !important
}

.kw-ml-1 {
  margin-left: 4px !important
}

.kw-ml-2 {
  margin-left: 8px !important
}

.kw-ml-3 {
  margin-left: 12px !important
}

.kw-ml-4 {
  margin-left: 16px !important
}

.kw-ml-5 {
  margin-left: 20px !important
}

.kw-ml-6 {
  margin-left: 24px !important
}

.kw-ml-7 {
  margin-left: 28px !important
}

.kw-ml-8 {
  margin-left: 32px !important
}

.kw-ml-9 {
  margin-left: 36px !important
}

.kw-mr-0 {
  margin-right: 0px !important
}

.kw-mr-1 {
  margin-right: 4px !important
}

.kw-mr-2 {
  margin-right: 8px !important
}

.kw-mr-3 {
  margin-right: 12px !important
}

.kw-mr-4 {
  margin-right: 16px !important
}

.kw-mr-5 {
  margin-right: 20px !important
}

.kw-mr-6 {
  margin-right: 24px !important
}

.kw-mr-7 {
  margin-right: 28px !important
}

.kw-mr-8 {
  margin-right: 32px !important
}

.kw-mr-9 {
  margin-right: 36px !important
}


.kw-rich-text-wrap {
  h3, h2, h1 {
    margin: 0 !important;
    font-weight: bold;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    margin: 0 !important;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  em {
    font-weight: normal;
    font-style: italic;
  }
}