

.source-import {
  .ant-empty-image {
    height: 50px;
  }

  .source-name {
    width: 692px;

    .source-title {
      margin: 12px 0 0 0;
    }

    .source-select {
      width: 688px;
      height: 34px;
      margin: 20px 0 0 0;
      background: rgba(255, 255, 255, 1);
      z-index: 10000;

      .ant-select-selection-item {
        .select-style {
          display: flex;

          .image {
            width: 20px;
            height: auto;
            margin: 0 6px 0 0;

            .icon-ti {
              width: 20px;
              height: auto;
            }
          }

          .word {
            margin: 1px 0 0 0;

            .line-one {
              font-size: 14px;
              font-weight: 400;
              color: var(--ad-heading-color);
            }

            .line-two {
              font-size: 12px;
              font-weight: 400;
              color: var(--ad-text-color-secondary);
            }
          }
        }
      }
      .ant-select-item-option-content {
        .select-style {
          display: flex;

          .image {
            margin: 0 12px 0 0;
            padding: 10px 0 0 0;

            .icon-ti {
              width: 20px;
              height: auto;
            }
          }

          .word {
            .line-one {
              font-size: 14px;
              font-weight: 400;
              color: var(--ad-heading-color);
            }

            .line-two {
              font-size: 12px;
              font-weight: 400;
              color: var(--ad-text-color-secondary);
            }
          }
        }
      }
    }
  }
}
