.mf-model-parameter-config {
  &-popover {
    padding: 0;
    .ant-popover-arrow {
      display: none;
    }
    .ant-popover-inner-content {
      width: 480px;
      padding: 0 24px 16px;
    }
  }

  .parameter-header {
    height: 48px;
    border-bottom: 1px solid var(--kw-line-color);
  }

  .ant-progress-bg {
    background-color: var(--kw-primary-color) !important;
  }
  .ant-slider-track {
    background-color: var(--kw-primary-color) !important;
  }
  .ant-slider-handle {
    border-color: var(--kw-primary-color) !important;
  }

  .ant-input-number-handler-wrap {
    opacity: 1;
  }

  .token-alert {
    align-items: flex-start;
    padding: 8px;
    background-color: '#fffbe6';
    border-color: '#fffbe6';

    .ant-alert-icon {
      margin-top: 4px;
    }
  }
}
