@prefixCls: kw-x6-relation-start-end-node;

.@{prefixCls} {
  &-header {
  }

  &-select {
    .ant-select-selection-item {
      font-size: 14px;
      //font-weight: 600;
      color: var(--kw-heading-color);
    }

    &-hover {
      background: rgba(18, 110, 227, 0.05);
    }
  }
}
