@border:1px solid var(--kw-line-color);
.thesaurus-mode-create-content-root {
  height: 100%;
  flex-flow: column;
  .content-table {
    height: 100%;
  }
  .footer-box {
    border-top: @border;
  }
  .ant-tabs-tab {
    padding: 0px 20px 12px;
  }
}
