.analysisTableRoot {
  .analysisTable {
    .ant-table-thead tr th {
      height: 48px;
      padding: 0 16px;
    }
    .ant-table-tbody tr td {
      height: 48px;
      padding: 0 16px;
    }
  }
  .select-name {
    width: 252px;
  }
  .dropdown {
    width: 32px;
    height: 32px;
    display: flex;
    cursor: pointer;
    margin-left: 12px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgba(145, 151, 169, 0.2);
    }
  }

  .text-content {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
  }

  .graphName {
    user-select: all;
    cursor: pointer;
  }

  .graphColor {
    user-select: all;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
  }

  .op-column {
    button.ant-btn {
      min-width: 60px;
    }
    Button {
      text-align: left;
      padding: 4px 32px 4px 0px;
    }
  }
  .no-description {
    color: rgba(0, 0, 0, 0.25);
  }

  .copyBox {
    text-align: center;
    line-height: 20px;
    width: 50px;
    height: 20px;
    position: fixed;
    background: #999;
    border: 1px solid var(--kw-line-color);
    cursor: pointer;
  }

  .analysis-menu-select {
    .ant-dropdown-menu-item {
      padding: 5px 20px !important;
      height: 40px;
    }

    .menuItem {
      height: 40px;
    }

    .icon {
      width: 24px;
    }

    .direction {
      transform: rotate(180deg);
    }

    .menu-selected {
      background: var(--kw-select-bg-color);
    }
  }
  .popover-icon {
    cursor: pointer;
  }
  .usertooltip {
    min-width: 256px !important;

    .ant-popover-arrow {
      display: none !important;
    }

    .userIcon {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid var(--kw-line-color);
    }
  }
  .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: #fff;
  }
}
