.analysis-import-modal-root {
  .ant-modal-close-x {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    font-style: normal;
    line-height: 48px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
  }
  .ant-modal-header {
    height: 48px;
    .ant-modal-title {
      line-height: 16px;
    }
  }
  .ant-modal-body {
    padding: 0px;
    position: relative;
    .close-icon {
      display: none;
      width: 12px;
      position: absolute;
      top: 33%;
      right: 40px;
      z-index: 10;
      &.show {
        display: block;
      }
    }
  }
  .title-tips {
    align-items: center;
    .kw-format-text-21 {
      font-size: 16px;
      line-height: 16px;
      height: 16px;
    }
  }
  .import-modal-content {
    .ant-form {
      height: 84px;
    }
    .ant-form-vertical .ant-form-item {
      flex-flow: column;
    }
    // .import-file {
    //   padding: 24px 24px 32px;
    // }
    .ant-upload.ant-upload-select {
      width: 100%;
      position: relative;
    }
    .importWords-extraBox {
      .fileExtra {
        font-size: 12px;
        align-items: center;
        .tip-point {
          line-height: 18px;
          font-size: 18px;
        }
      }
    }
    .footer-btn {
      justify-content: right;
      border-top: var(--kw-border);
      padding: 12px 24px;
    }
  }
}
