.c-template-modal {
  .ant-modal-content {
    position: relative;
  }

  .ant-modal-body {
    padding: 0;
  }

  .m-header {
    height: 52px;
    border-bottom: 1px solid var(--ad-line-color);
  }

  .m-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    padding: 14px 24px;
    text-align: right;
    border-top: 1px solid var(--ad-line-color);

    button {
      height: 36px;
    }
  }
}
