.qa-adv-config-empty-add-large-data-root {
  flex-flow: column;
  .empty-box {
    flex-flow: column;
    height: calc(100% - 56px);
    margin-top: 200px;
  }
  .footer-box {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid var(--kw-line-color);
  }
}
