.SubgraphIframe-root {
  position: relative;
  height: 100vh;

  .graph-analysis-summary,
  .graph-analysis-basicInfo {
    top: 39px;
    height: calc(100% - 39px);
  }

  canvas {
    display: block;
  }
}
