.thesaurus-right-word-table-root {
  // height: calc(100% - 225px);

  .small-table {
    flex: 1;
    // margin-right: 20px;
    width: calc(100% - 320px - 20px);
    .wordsList-op {
      padding: 0px 24px;

      .box-height {
        height: 32px !important;
      }

      .selected {
        background: var(--kw-hover-bg-color);
      }

      .delete-btn {
        height: 32px;
        padding: 4px 12px !important;
      }
    }
  }
  .ant-table-pagination.ant-pagination {
    margin-top: 16px;
  }

  .ant-table-tbody > tr.ant-table-row-selected > td {
    background: rgba(var(--kw-primary-color-rgb), 0.06);
  }
  .wordsList-table {
    // border: 1px solid red;
    height: 100%;
    .ant-table-body {
      height: 774px;
    }
    .ant-table:not(.ant-table-bordered) .ant-table-thead > tr > th {
      background-color: #fff;
      border-top: none;
    }

    .opButton {
      margin: 0;
      padding: 0;
      min-width: 30px;
    }

    .noWords-box {
      // width: 400px;
      width: 100%;
      margin: auto;
      margin-top: 116px;
      text-align: center;

      .cursorStyle {
        cursor: pointer;
      }
    }

    .ant-table-empty .ant-table-tbody > tr > td {
      border-bottom: none;
    }
  }
  .thesaurus-info-box {
    // position: absolute;
    right: 0;
    top: 0;
    // z-index: 1000;
    background: #fff;
    height: 100%;
    width: 320px;
  }
}
