.intention-recognition-modal-table {
  padding: 10px 14px 0px 12px;
  .ant-form-item .ant-select {
    width: 400px;
    max-width: 400px;
  }

  .loading-mask {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;

    &.spinning {
      display: block;
    }

    .kw-spin {
      position: absolute;
      top: 30%;
      left: 50%;
    }
  }
}

.intention-recognition-us-table {
  padding: 14px 14px 0px;
  .ant-form-item .ant-select {
    width: 400px;
    max-width: 400px;
  }

  .loading-mask {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;

    &.spinning {
      display: block;
    }

    .kw-spin {
      position: absolute;
      top: 30%;
      left: 50%;
    }
  }
  .intention-select {
    width: 400px;
  }
}
