.sizeNodeRoot {
  .sizeRadioGroup {
    display: flex;
    flex-direction: column;
    .sizeRadio {
      margin: 0px;
      padding: 0px 14px;
      border-radius: 3px;
      .sizeContent {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sign {
          background-color: var(--kw-disabled-color);
        }
      }
    }

    // antd 样式覆盖
    .ant-radio-wrapper {
      & > span:last-child {
        width: 100%;
      }
    }
    .ant-radio-wrapper-checked {
      background-color: var(--kw-imitation-input-color);
    }
  }
}
