.modal-branch-task {
  // height: 828px;

  .ant-modal,
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-content {
    min-width: 900px;
  }

  .ant-modal-header {
    height: 52px;
  }

  .top-mode-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid var(--ad-line-color);
    font-weight: 400;
  }

  .modal-content {
    display: flex;
    height: 536px;

    .child-list {
      width: 320px;
      padding: 14px 0px 14px 30px;
      border-right: 1px solid var(--ad-line-color);

      .search-input {
        width: 280px;
        margin: 0 20px 30px 0;
      }

      .subgraph-item {
        height: 46px;
        padding: 0 8px;
        cursor: pointer;

        &:hover {
          background: var(--ad-hover-bg-color);
        }

        .subgraph-name {
          width: 168px;
        }
      }

      .selected-bg {
        background: var(--ad-select-bg-color);
      }

      .disabled-sub {
        color: var(--ad-disabled-color);
      }
    }

    .graph-box {
      width: 680px;
    }

    .search-none {
      padding: 90px 0 0 0;
      text-align: center;

      .word {
        font-size: 14px;
        font-weight: 400;
        color: var(--ad-text-color);
        line-height: 20px;
      }
    }
  }

  .modal-footer {
    height: 64px;
    padding: 14px 24px;
    border-top: 1px solid var(--ad-line-color);
    text-align: right;

    .btn {
      height: 36px;
    }

    .ok-btn {
      margin-left: 8px;
    }
  }
}