.prompt-operate-modal-root {
  .kw-universal-modal-content {
    padding-bottom: 4px;
    overflow: auto;
  }

  .disabled {
    .type-checkbox {
      cursor: not-allowed !important;

      &.checked {
        border-color: #d9d9d9 !important;
        background: #f5f5f5 !important;
      }
    }
  }

  .icon-radio-item {
    position: relative;
    &.checked::after {
      content: '';
      position: absolute;
      left: -6px;
      right: -6px;
      top: -6px;
      bottom: -6px;
      border: 1px solid rgba(0, 0, 0, 0.65);
      border-radius: 4px;
    }
  }

  .type-checkbox {
    width: calc((100% - 20px) / 2);
    min-height: 95px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;

    &.checked {
      border-color: var(--kw-primary-color-hover);
      background: rgba(var(--kw-primary-color-rgb), 0.06);
    }
  }

  .ant-tree-select-dropdown {
    padding: 8px 0px;
  }

  .prompt-category-selector-menu {
    .ant-select-tree-node-content-wrapper {
      flex: 1 !important;
      align-items: center;
      min-width: 0;
    }
    .ant-select-tree-title {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .ant-select-tree-node-selected {
      background-color: var(--kw-select-bg-color);
    }
    .project-node-wrap {
      display: block;
      height: 100%;
    }
    .ant-select-tree-list-holder {
      overscroll-behavior: contain;
    }
    .ant-select-tree-indent {
      display: none;
    }
    .ant-select-tree-switcher-noop {
      .ant-select-tree-indent();
    }
    .ant-select-tree-node-content-wrapper-normal {
      padding: 4px 32px;
    }
  }
}
