.cognitive-path-graph {
  position: relative;
  width: 1100px;
  min-width: 1060px;
  height: calc(100%);
  background-color: #f8f8f8;

  .node-box {
    min-width: 1100px;
    padding: 25px 32px;
    position: fixed;
    background: url('../../../../../assets/images/background_point.png');
    .node-message {
      flex-wrap: wrap;
      justify-content: left;
      align-items: center;

      .node-name-show {
        height: 24px;
        max-width: 85px;
        display: inline-block;
      }
    }
  }

  .hide {
    display: none;
  }

  .view-tool {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;

    .tool-item {
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      background: #fff;
      border: 1px solid #d9d9d9;
      user-select: none;
      cursor: pointer;
    }

    .move-wrap {
      margin-bottom: 8px;
      border-radius: 2px;
      font-size: 18px;
    }

    .add-icon {
      border-bottom: none;
      border-radius: 2px 2px 0 0;
      font-size: 24px;
      color: var(--kw-text-color-secondary);
    }

    .reduce-icon {
      border-radius: 0 0 2px 2px;
      font-size: 24px;
      line-height: 24px;
      color: var(--kw-text-color-secondary);
    }
  }

  .g6-tooltip {
    max-width: 250px;
    padding: 4px;
    height: auto;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
      0px 3px 6px -4px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    color: #fff;
    word-wrap: break-word;
    user-select: none;
  }
}
