.pageRankRoot {
  height: 100%;
  .tip {
    display: flex;
    margin: 0px -24px;
    padding: 9px 20px 9px 13px;
    color: rgba(0, 0, 0, 0.88);
    border: 1px solid #fff1b8;
    background-color: #fffbe6;
    font-family: PingFangSC-Regular, PingFang SC;
    .tipIcon {
      font-size: 16px;
      margin-top: 4px;
      color: #faad14;
      margin-right: 8px;
    }
  }

  .pageRankResultRoot {
    height: 100%;
    .pageRankStatistics {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .statisticsItem {
        width: 190px;
        height: 77px;
        padding: 16px;
        .statisticsItemTitle {
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 8px;
          color: rgba(0, 0, 0, 0.45);
        }
        .statisticsItemNumber {
          display: flex;
          font-size: 14px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.85);
          .subTitle {
            width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .operationIcon {
      width: 30px;
      height: 30px;
      display: flex;
      cursor: pointer;
      margin-left: 8px;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--kw-border-color-base);
      &:hover {
        background-color: var(--kw-hover-bg-color);
      }
    }
    .optionalColumTablePopover {
      z-index: 1052;

      // antd 样式覆盖
      .ant-popover-arrow {
        display: none;
      }
      .ant-popover-inner-content {
        padding: 12px 0px;
      }
    }
  }

  // antd 样式覆盖
  .ant-select,
  .ant-input-number {
    width: 100%;
  }
}
