.headerRoot {
  display: flex;
  padding: 25px 24px 13px 24px;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    .titleIcon {
      font-size: 40px;
      margin-right: 15px;
    }
    .status {
      margin-left: 20px;
      padding: 6px 22px;
      border-radius: 3px;
      background-color: rgba(var(--ad-success-color-rgb), 0.06);
    }
  }
  .right {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    .button {
      width: 100px;
    }
  }
}
