@border:1px solid var(--kw-line-color);
.thesaurus-header-wrap {
  display: flex;
  height: 48px;
  justify-content: space-between;
  .ant-btn[disabled] {
    background-color: transparent;
  }
  .ant-btn > .anticon + span {
    margin-left: 0px;
  }

  .thesaurus-info {
    overflow: hidden;
    width: 100%;
    border-bottom: @border;
    padding: 8px 20px;
    height: 48px;
    line-height: 32px;
    align-items: center;
    .thesaurus-head-info-left {
      float: left;
      align-items: center;
      color: rgba(0, 0, 0, 0.85);
      .thesaurusName {
        max-width: 520px;
        font-weight: 400;
        max-width: 174px;
      }
      .line {
        color: rgba(0, 0, 0, 0.1);
        padding-left: 12px;
      }
      .thesaurus-status {
        width: 6px;
        height: 6px;
        border-radius: 50%;
      }

      .thesaurus-icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f8f8f8;
        border-radius: 3px;
        font-size: 12px;
        border: 1px solid rgba(151, 151, 151, 0.15);
      }
    }
    .thesaurus-op {
      float: right;
      .icon {
        font-size: 16px;
      }
      .btn {
        border: none;
      }
      .btn:hover {
        background-color: transparent;
      }
      .ant-dropdown {
        min-width: 110px;
      }

      .ant-dropdown-menu-item {
        height: 40px;
      }

      .button {
        width: 100px;
      }

      .more-btn {
        width: 36px;
        padding: 7px 10px !important;
      }
    }
  }
}
