.intention-cognitive-modal-table {
  position: relative;
  height: 372px;
  padding: 0px 12px;

  .ant-table-thead > tr > th {
    padding: 14px 16px;
  }
  .ant-table-tbody > tr > td {
    padding: 14px 16px;
  }

  .loading-mask {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;

    &.spinning {
      display: block;
    }

    .kw-spin {
      position: absolute;
      top: 30%;
      left: 50%;
    }
  }
  .search-intention-slot-table-root {
    padding-bottom: 22px;
    max-height: 370px;
    overflow-y: auto;
  }

  .name-length {
    max-width: 220px;
  }
  .intention-over-length {
    max-width: 180px;
  }
}
