.kw-format-inputNumber { min-width: 10px !important; }

.kw-format-inputNumber-large { 
  font-size: 14px; height: 40px; padding: 0px 12px !important;
}
.kw-format-inputNumber-middle { 
  font-size: 14px; height: 34px; padding: 0px 12px !important;
}
.kw-format-inputNumber-small { 
  font-size: 12px; height: 32px; padding: 0px 12px !important; 
}