.knw-card-weight-sorting {
  .c-question-icon {
    font-size: 14px;
  }

  .m-header {
    height: 48px;
    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .m-content {
    min-height: 176px;
    max-height: 604px;
    padding: 24px 24px 32px;
  }

  .m-footer {
    position: unset;
    height: 56px;
    padding: 12px 24px;
    text-align: right;
    background-color: #fff;
    border-top: 1px solid var(--kw-line-color);

    .btn {
      height: 32px;
      margin-left: 8px;
      min-width: 72px;
    }
  }
}
