.TextInfoContainer {
  width: 100%;
  // height: 790px;
  // height: 100%;
  padding: 16px;
  &.previewInfo {
    border-radius: 2px;
    z-index: 1;
  }
  .qa-title-box {
    overflow: hidden;
    height: 40px;
    .qa-title {
      width: 322px;
      height: 28px;
      font-size: 20px;
      font-weight: 400;
      color: #000000;
      line-height: 28px;
    }
    .qa-subgraph {
      flex-shrink: 0;
      margin-top: 4px;
    }
  }

  .InfoContent {
    width: 100%;
    height: 120px;
    // height: 680px;
    // min-height: 120px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 20px;
    margin-bottom: 4px;
    // overflow-y: scroll;
    // overflow-x: hidden;
  }
  .res-scroll .kw-custom-scroll-thumb-y {
    opacity: 0;
  }
  // .res-scroll {
  //   height: calc(100% - 70px) !important;
  // }

  &:hover {
    .res-scroll .kw-custom-scroll-thumb-y {
      opacity: 1;
    }
  }

  .InfoExtra {
    align-items: center;
    .info-extra-left {
      width: 790px;
      height: 40px;
      align-items: center;

      i {
        color: #52c41a;
      }
      .tagSep {
        color: rgba(0, 0, 0, 0.1);
        border-radius: 3px;
      }

      .result-from {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: rgba(0, 0, 0, 0.65);
        .from {
          display: inline-block;
          max-width: 126px;
        }
      }
    }
  }
}
