.flow-3-entity-Panel {
  display: flex;
  flex-direction: column;

  .p-title {
    padding-bottom: 8px;
    font-size: 14px;
    // border-bottom: 1px solid var(--kw-line-color);
  }

  .preview-box {
    flex: 1;
    min-height: 0;
    background: #f9f9f9;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
  }

  .err-border .ant-select-selector {
    border: 1px solid var(--kw-error-color) !important;
  }
}
