.upload-knowledge-network-modal {
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-content {
    min-width: 640px;
  }

  .m-title {
    height: 52px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 600;
    color: var(--kw-heading-color);
    line-height: 24px;
    border-bottom: 1px solid var(--kw-line-color);
  }

  .main {
    .addr-selector {
      min-height: 96px;
      margin: 24px 24px 0;
      // border-bottom: 1px solid var(--kw-line-color);

      .ant-select-selector {
        height: 34px;

        input {
          height: 32px;
          line-height: 32px;
        }
      }
    }

    .flex-box {
      display: flex;
      flex-direction: column;
      height: 484px;
    }

    .kg-info {
      flex-shrink: 0;
      display: flex;
      min-height: 100px;
      margin: 0 24px;
      padding: 20px 0;
      border-bottom: 1px solid var(--kw-line-color);

      .icon-box {
        width: 58px;
        font-size: 42px;

        .file-icon {
          vertical-align: top;
        }

        .name-Icon {
          width: 32px;
          height: 32px;
          text-align: center;
          border-radius: 3px;
          padding: 6px;
          line-height: 16px;
          font-size: 16px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
        }
      }

      .info-box {
        width: 480px;

        .kg-name {
          display: inline-block;
          vertical-align: top;
          height: 22px;
          max-width: 400px;
          margin-bottom: 4px;
          font-size: 14px;
          font-family: PingFangSC-Medium, PingFang SC;
          color: var(--kw-heading-color);
          line-height: 22px;
        }

        .id-span {
          display: inline-block;
          vertical-align: top;
          max-width: 80px;
          line-height: 22px;
          font-size: 12px;
          color: var(--kw-text-color-secondary);
        }

        .kg-desc {
          max-height: 88px;
          font-size: 14px;
          color: var(--kw-text-color-secondary);
          line-height: 22px;
          overflow-y: auto;
        }
      }
    }

    .g-box {
      flex: 1;
      min-height: 100px;
      padding: 0 24px;

      .s-input {
        width: 100%;
        margin: 8px 0 16px;
      }

      // .g-header {
      //   height: 54px;
      //   padding: 0 20px;
      //   line-height: 54px;
      //   background: #fafafa;

      //   h2 {
      //     display: inline-block;
      //     vertical-align: middle;
      //     height: 20px;
      //     margin-left: 8px;
      //     font-size: 14px;
      //     color: var(--kw-heading-color);
      //     line-height: 20px;
      //   }
      // }

      .scroll-wrap {
        position: relative;
        height: calc(100% - 68px - 54px);
        overflow: hidden;
      }

      .v-list .rc-virtual-list-scrollbar-show {
        display: block !important;
      }

      .li-item {
        width: 100%;
        height: 68px;
        border-bottom: 1px solid #f4f4f4;

        .img {
          width: 40px;
          height: 40px;

          .icon {
            font-size: 40px;
          }
        }

        .g-name {
          display: inline-block;
          vertical-align: middle;
          height: 20px;
          width: calc(100% - 32px);
          line-height: 20px;
          color: var(--kw-heading-color);
        }

        .g-check {
          display: inline-block;
          vertical-align: top;
          margin-right: 8px;
        }
      }
    }
  }

  .m-footer {
    height: 64px;
    padding: 14px 24px;
    border-top: 1px solid var(--kw-line-color);
    text-align: right;

    button {
      height: 36px;
      margin-left: 10px;
    }
  }

  .loading-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 110px;
    font-size: 14px;
    color: rgba(204, 204, 204, 1);

    .loading-icon {
      font-size: 24px;
      color: var(--kw-primary-color);
    }
  }

  .select-empty {
    margin-bottom: 36px;
    font-size: 14px;
    color: var(--kw-text-color);
  }

  .g-loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);

    .l-icon {
      position: absolute;
      left: 48%;
      top: 45%;
      font-size: 24px;
      color: var(--kw-primary-color);
    }
  }

  .nodata-box {
    min-height: 200px;
    padding-top: 30px;
    text-align: center;

    .create-span {
      margin: 0 4px;
    }

    .nodata-img {
      width: 144px;
      height: auto;
    }

    .nodata-text {
      margin: 8px auto 0;
      font-size: 14px;
      color: var(--kw-text-color);
      // line-height: 20px;
      text-align: center;
      cursor: default;
    }
  }
}
