.flow3-canvasG6G6Root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .graphContainer {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid var(--kw-line-color);

    canvas {
      display: block;
    }
  }
}
