.not-found {
  height: 100vh;
  min-height: 768px;
  z-index: -100;
  position: relative;

  .notfound-bgi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .login-footer {
    position: absolute;
    width: 100%;
    bottom: 24px;
    text-align: center;
    font-size: 12px;
    color: #555555;
    letter-spacing: 0.38px;

    .login-footer-logo {
      width: 77px;
      height: 16px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
