.prompt-modal-view-left-info-root {
  .prompt-ellipsis {
    max-width: 248px;
    min-height: 40px;
    padding: 9px 0px;
  }
  .prompt-desc {
    padding-top: 9px;
  }
  .view-info-height {
    padding: 9px 0px;
  }
}
