.mf-prompt-preview-root {
  position: relative;

  .content-scroll-wrap {
    position: relative;

    .generate {
      overflow: auto;
      max-height: calc(100% - 56px);
    }
  }
  .chat {
    overflow: auto;
  }

  .ask-input {
    height: 72px;
    padding: 12px 24px;

    &-inner {
      height: 100%;
      padding: 0 8px;
      background: #fff;
      border: 1px solid var(--kw-line-color);
      border-radius: 2px;
    }

    .ant-input-affix-wrapper {
      padding-left: 0;
    }

    .ask-btn {
      min-width: 32px;
      padding: 4px;
      border-color: transparent;
      background: #fafafa;
    }
  }

  .highlightRoot > p {
    margin: 0;
  }

  .fixed-stop-btn {
    position: absolute;
    z-index: 9;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .static-stop-btn {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 24px;
  }
}
