.leftDrawerRoot {
  top: 0;
  z-index: 1052;
  width: 440px;
  height: 100%;
  position: absolute;
  background: #fff;
  border-right: 1px solid var(--kw-line-color);

  .dragLine {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 10px;
    background: transparent;
    cursor: col-resize;
  }
}
