.kw-tab {
  padding: 8px 0;
  .ant-tabs-tab {
    padding: 0px 20px 12px;
  }
  .ant-tabs-nav {
    margin-bottom: 8px;
  }
  .ant-tabs-tab {
    padding: 0px 20px 12px;
    min-width: 72px;
  }
  .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 16px;
  }
}
