.sliced-preview-graph-root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .top-tools {
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid var(--kw-line-color);

    .disabled {
      color: var(--kw-disabled-color);
      cursor: not-allowed;
    }
  }

  .container-div {
    position: relative;
    width: 100%;
    height: calc(100% - 44px);
    min-height: 260px;
  }
}
