.propertyListRoot {
  max-height: 420px;
  position: relative;
  .properties {
    border-bottom: 1px solid #f4f4f4;
  }
  .imitationInput {
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0px 12px;
    border-radius: var(--ad-border-radius-base);
    border: 1px solid var(--ad-border-color-base);
    background-color: var(--ad-imitation-input-color);
  }
  // antd 样式覆盖
  .ant-pagination {
    li {
      height: 28px;
      min-width: 28px;
      line-height: 28px;
      margin-bottom: 8px;
    }
  }
}
