.glossaryTree {
  width: 100%;

  .glossaryTree-addBtn {
    padding: 0;
    min-width: unset;
    height: auto;
  }

  &-nodeTitle {
    //padding: 0 4px;

    &:hover {
      .glossaryTree-operate {
        display: flex;
      }
    }
  }

  &-operate {
    display: none;
    width: 18px;
    height: 18px;
    background-color: #fff;
  }

  .ant-tree-switcher-noop {
    //display: none !important;
    visibility: hidden;
  }

  .ant-tree .ant-tree-node-content-wrapper {
    display: flex;
    padding: 0;

    .ant-tree-title {
      flex: 1;
      width: 0;
    }
  }

  &-tree {
    .tree-list-title-box {
      overflow: hidden;

      .tree-list-title {
        font-weight: 600;
      }
    }

    .ant-tree.ant-tree-block-node {
      .ant-tree-draggable-icon {
        display: none;
      }

      .ant-tree-node-content-wrapper {
        &.ant-tree-node-selected {
          background-color: var(--kw-select-bg-color);

          &:hover {
            background-color: var(--kw-select-bg-color);
          }
        }
      }

      .ant-tree-indent-unit.ant-tree-indent-unit-end {
        &::before {
          display: block;
          position: absolute;
          top: 0;
          right: 12px;
          bottom: -4px;
          border-right: 1px solid #d9d9d9;
          content: '';
        }
      }

      .ant-tree-treenode.ant-tree-treenode-leaf-last {
        .ant-tree-indent {
          //width: 24px;
        }
      }
    }
  }
}
