.algorithmRoot {
  > .ant-spin-nested-loading {
    height: 100%;
    > .ant-spin-container {
      height: 100%;
    }
  }
}

.algorithmItemLine {
  .item {
    width: 100%;
    height: 38px;
    display: flex;
    cursor: pointer;
    padding: 0px 12px;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: var(--kw-imitation-input-color);
    }
  }
}
