.admin-dictManagement-rightComponent-content {
  .admin-dictManagement-rightComponent-title-bar {
    display: flex;
    height: 49px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .admin-dictManagement-rightComponent-title {
      height: 20px;
      margin-left: 24px;
      font-size: 14px;
      font-family: 'PingFangSC, PingFang SC';
      font-weight: 400;
      color: #000000;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .admin-dictManagement-rightComponent-title-op {
      margin-left: auto;
      margin-right: 20px;
      .admin-dictManagement-rightComponent-title-op-edit {
        width: 44px;
        font-size: 14px;
        .admin-dictManagement-rightComponent-title-op-edit-title {
          margin-left: 4px;
        }
      }
      .admin-dictManagement-rightComponent-title-op-delete {
        margin-left: 13px;
        width: 44px;
        font-size: 14px;
        .admin-dictManagement-rightComponent-title-op-delete-title {
          margin-left: 4px;
        }
      }
    }
  }
  .admin-dictManagement-rightComponent-operation-area {
    margin-top: 21px;
    margin-left: 24px;
    margin-right: 24px;
    .admin-dictManagement-rightComponent-basicInfo {
      height: 22px;
      font-size: 14px;
      font-family: 'PingFangSC, PingFang SC';
      font-weight: 600;
      color: rgba(0, 0, 0, 0.85);
      line-height: 22px;
    }
    .admin-dictManagement-rightComponent-type {
      display: flex;
      margin-top: 15px;
      .admin-dictManagement-rightComponent-type-title {
        width: 70px;
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 20px;
      }
      .admin-dictManagement-rightComponent-type-title-e {
        width: 115px;
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 20px;
      }
      .admin-dictManagement-rightComponent-type-info {
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .admin-dictManagement-rightComponent-desc {
      display: flex;
      margin-top: 4px;
      .admin-dictManagement-rightComponent-desc-title {
        width: 70px;
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 20px;
        flex-shrink: 0;
      }
      .admin-dictManagement-rightComponent-desc-title-e {
        width: 115px;
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 20px;
        flex-shrink: 0;
      }
      .admin-dictManagement-rightComponent-desc-info {
        display: inline-block;
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .admin-dictManagement-rightComponent-desc-info-more {
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 20px;
        white-space: normal;
      }
      .admin-dictManagement-rightComponent-desc-info-empty {
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.25);
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .admin-dictManagement-rightComponent-moreBtn {
        height: 22px;
        color: #126ee3 !important;
        font-size: 14px !important;
      }
      .admin-dictManagement-rightComponent-moreBtn-collapse {
        height: 22px;
        align-self: flex-end;
        color: #126ee3 !important;
        font-size: 14px !important;
      }
    }
    .admin-dictManagement-rightComponent-desc-more {
      display: inline-block;
      margin-top: 4px;
      .admin-dictManagement-rightComponent-desc-title {
        display: inline-block;
        width: 70px;
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 20px;
      }
      .admin-dictManagement-rightComponent-desc-title-e {
        width: 115px;
        display: inline-block;
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 20px;
      }
      .admin-dictManagement-rightComponent-desc-info {
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .admin-dictManagement-rightComponent-desc-info-more {
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        line-height: 20px;
        white-space: normal;
        word-break: break-all;
      }
      .admin-dictManagement-rightComponent-desc-info-empty {
        height: 22px;
        font-size: 14px;
        font-family: 'PingFangSC, PingFang SC';
        font-weight: 400;
        color: rgba(0, 0, 0, 0.25);
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .admin-dictManagement-rightComponent-moreBtn {
        height: 22px;
        color: #126ee3 !important;
        font-size: 14px !important;
      }
      .admin-dictManagement-rightComponent-moreBtn-collapse {
        height: 22px;
        margin-left: 10px;
        color: #126ee3 !important;
        font-size: 14px !important;
      }
    }
    .admin-dictManagement-rightComponent-value {
      margin-top: 32px;
      height: 22px;
      font-size: 14px;
      font-family: PingFangSC, PingFang SC;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.85);
      line-height: 22px;
    }
    .admin-dictManagement-rightComponent-operation-btn {
      display: flex;
      margin-top: 16px;

      .admin-dictManagement-rightComponent-operation-right-area {
        flex: 1;
        text-align: right;
        align-items: center;
        .admin-dictManagement-rightComponent-operation-right-searchInput {
          vertical-align: top;
          margin-right: 12px;
        }
      }
    }
  }
  .admin-dictManagement-rightComponent-table {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    .admin-dictManagement-rightComponent-table-vd {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .admin-dictManagement-rightComponent-table-vd-empty {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgba(0, 0, 0, 0.25);
    }
    .admin-dictManagement-rightComponent-table-vn {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .admin-dictManagement-rightComponent-table-noResult {
      color: rgba(0, 0, 0, 0.65);
    }
  }
  .admin-dictManagement-rightComponent-edit-btn {
    margin-right: 20px;
  }
  .admin-dictManagement-rightComponent-btn {
    color: #126ee3 !important;
    font-size: 14px !important;
  }
}
