.kg-search-card-res {
  flex-shrink: 0;
  width: 320px;
  margin-left: 64px;
  // overflow-y: auto;

  &-lg {
    width: 680px;
    margin-left: 0;
  }

  .card-component-wrap {
    border: 1px solid var(--kw-line-color);
    border-radius: 3px;

    & > div:not(:last-of-type) {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 24px;
        right: 24px;
        height: 1px;
        background: var(--kw-line-color);
      }
    }
  }
}
