.modal-create-thesaurus {

  .ant-modal-body {
    padding: 24px 24px 16px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
  }

  .createThessurus-extraBox {
    margin-top: 10px;

    .fileExtra {
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .down-style {
    cursor: pointer;
  }

  .ant-modal-footer {
    padding: 14px 16px;

    .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
      margin-left: 10px;
    }
  }
}