.testLMallRoot {
  padding: 24px;
  background: rgba(0, 0, 0, 0.02);
  height: 100%;

  .loading {
    height: 100%;
    width: 100%;
  }

  .no-query-box {
    margin-top: 120px;
    flex-direction: column;
  }
}