.source-for-classify-table-wrap {
  padding: 0px 24px;
  width: 100%;

  .ant-table-container table > thead > tr:first-child th:last-child {
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .selectRow {
    .ant-table-cell {
      background-color: #fff;
    }
  }

  .ant-table-tbody > tr.ant-table-row-selected:hover > td {
    background-color: #fafafa;
  }

  .source-name {
    max-width: 210px;
  }

  .source-classify {
    max-width: 197px;
  }

  .disabledRow {
    color: var(--kw-disabled-color);
  }
}
