.path-explore-box {
  width: 160px;
  height: 309px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.0600);
  border: 1px solid var(--ad-line-color);
  position: absolute;
  z-index: 2;
  padding: 20px 0 10px;

  .title {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: var(--ad-text-color-secondary);
    margin: 0px 0 10px 20px;
  }

  .line {
    width: 120px;
    height: 1px;
    background: var(--ad-line-color);
    margin: 10px 20px 10px;
  }

  .dire-item {
    width: 158px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    padding: 0 20px;
    color: var(--ad-heading-color);
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.0400);
    }
  }
}