.layoutRoot {
  background: #f8f8f8;
  .layout {
    display: flex;
    height: calc(100vh - 52px);
    .content {
      width: 100%;
      overflow-y: overlay;
      .main {
        height: 100%;
        padding: 24px;
        min-width: 1000px;
      }
    }
  }
}
