.time-task-config-by-month {
  .time {
    color: var(--kw-heading-color);
    font-weight: 500;
    font-size: 16px;
    margin: 32px 0 0 0;
  }

  .by-month-day-select {
    margin: -2px 0 0 0;

    .by-month-check-box {
      width: 78px;
      margin: 18px 0 0 0;
    }
  }

  .by-month-time {
    width: 280px;
    margin: 16px 0 0 0;
  }

  .ant-picker-panel {
    width: 170px;
  }
}
