.modelServiceRoot {
  padding: 15px 24px 24px;

  .sort-menu-select {
    .ant-dropdown-menu-item {
      padding: 5px 20px !important;
      height: 40px;
    }

    .menuItem {
      height: 40px;
    }

    .icon {
      width: 24px;
    }

    .direction {
      transform: rotate(180deg);
    }

    .menu-selected {
      background: var(--kw-select-bg-color);
    }
  }
}
