// 进度弹框
.task-schedule-modal {
  .ant-modal-content {
    width: 800px;
    height: 400px;

    .ant-modal-header {
      display: none;
    }

    .ant-modal-body {
      padding: 0;

      .schedule-modal-title {
        box-sizing: border-box;
        height: 56px;
        padding: 16px 24px;
        font-size: 18px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: var(--kw-heading-color);
        line-height: 26px;
        border-bottom: 1px solid var(--kw-line-color);

        .schedule-refresh {
          cursor: pointer;
        }

        .schedule-refresh:hover {
          color: var(--kw-primary-color);
        }
      }

      .schedule-modal-body {
        padding: 28px 20px;
        height: 280px;
        overflow: auto;

        .list-box {
          box-sizing: border-box;
          border-top: 1px solid var(--kw-border-color-base);
          border-left: 1px solid var(--kw-border-color-base);
          border-right: 1px solid var(--kw-border-color-base);
          height: 108px;

          .list-item {
            box-sizing: border-box;
            border-bottom: 1px solid var(--kw-border-color-base);
            height: 54px;

            .name-box {
              vertical-align: middle;
              box-sizing: border-box;
              display: inline-block;
              width: 128px;
              height: 54px;
              border-right: 1px solid var(--kw-border-color-base);
              border-bottom: 1px solid var(--kw-border-color-base);
              padding: 16px 0;
              background: #fafafa;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            .name-box:nth-child(3) {
              border-left: 1px solid var(--kw-border-color-base);
            }

            .text-box-big {
              vertical-align: middle;
              display: inline-block;
              box-sizing: border-box;
              width: 610px;
              padding: 16px;
              line-height: 22px;
              overflow: hidden;
            }

            .text-box-small {
              vertical-align: middle;
              display: inline-block;
              box-sizing: border-box;
              width: 241px;
              padding: 16px;
              line-height: 22px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }

        .schedule-step {
          padding: 40px 88px 0 72px;

          .ant-steps-item-process {
            .ant-steps-item-icon {
              margin: 0;
            }
          }

          .ant-steps-item-finish {
            .ant-steps-item-icon {
              margin: 0;
              border-color: var(--kw-primary-color);

              .ant-steps-icon {
                color: var(--kw-primary-color);
              }
            }

            .ant-steps-item-content {
              .ant-steps-item-title::after {
                background-color: var(--kw-primary-color);
              }
            }
          }

          .ant-steps-item-wait {
            .ant-steps-item-icon {
              margin: 0;
            }
          }

          .schedule-loading {
            color: var(--kw-primary-color);
            background-color: #fff;
          }
        }

        .steps-title {
          margin-top: 8px;

          .step-title-item {
            display: inline-block;
            width: 182px;
            text-align: center;
            overflow: hidden; //超出的文本隐藏
            text-overflow: ellipsis; //溢出用省略号显示
            white-space: nowrap; //溢出不换行
          }

          .step-title-item-blod {
            font-weight: bold;
          }
        }
      }

      .schedule-modal-footer {
        box-sizing: border-box;
        height: 64px;
        border-top: 1px solid var(--kw-line-color);
        position: relative;

        .schedule-modal-button {
          position: absolute;
          right: 24px;
          top: 14px;
          height: 36px;
        }
      }
    }
  }
}
