.displayItemsRoot {
  height: 100%;
  padding-top: 24px;
  position: relative;

  .itemLine {
    height: 48px;
    display: flex;
    cursor: pointer;
    padding: 0px 12px;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: var(--kw-imitation-input-color);
      .lineIcon {
        display: inline-block;
      }
    }

    .lineText {
      height: 100%;
      flex-grow: 1;
      display: flex;
      overflow: hidden;
      align-items: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      .signBox {
        display: flex;
        min-width: 14px;
        margin-right: 8px;
        position: relative;
        .signEdge {
          width: 14px;
          height: 2px;
          min-width: 14px;
          display: inline-block;
        }
        .signNode {
          width: 14px;
          height: 14px;
          min-width: 14px;
          border-radius: 14px;
          display: inline-block;
        }
      }
    }
    .lineIcon {
      display: none;
      padding-left: 12px;
    }
  }
  .itemLineSelected {
    background-color: rgba(var(--kw-primary-color-rgb), 0.06);
  }

  .listFooter {
    left: 0px;
    bottom: 16px;
    width: 100%;
    display: flex;
    margin-top: 16px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }
}
