.kw-n-format-text       { display: inline-block; }
.kw-n-format-text-block { display: block; }

.kw-n-format-start    { text-align: start; }
.kw-n-format-center   { text-align: center; }
.kw-n-format-end      { text-align: end; }

.kw-n-format-strong-1 { font-weight: 100; }
.kw-n-format-strong-2 { font-weight: 200; }
.kw-n-format-strong-3 { font-weight: 300; }
.kw-n-format-strong-4 { font-weight: 400; }
.kw-n-format-strong-5 { font-weight: 500; }
.kw-n-format-strong-6 { font-weight: 600; }

.kw-n-format-text-12   { font-size: 12px; height: 16px; line-height: 16px; }
.kw-n-format-text-13   { font-size: 13px; height: 17px; line-height: 17px; }
.kw-n-format-text-14   { font-size: 14px; height: 18px; line-height: 18px; }
.kw-n-format-text-16   { font-size: 16px; height: 20px; line-height: 20px; }
.kw-n-format-text-18   { font-size: 18px; height: 22px; line-height: 22px; }
.kw-n-format-text-20   { font-size: 20px; height: 24px; line-height: 24px; }
.kw-n-format-text-22   { font-size: 22px; height: 26px; line-height: 26px; }
.kw-n-format-text-24   { font-size: 24px; height: 28px; line-height: 28px; }

.kw-n-format-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.kw-n-format-text-line-clamp-1{
  height: auto; overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 1;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}
.kw-n-format-text-line-clamp-2{
  height: auto;overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 2;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}
.kw-n-format-text-line-clamp-3{
  height: auto;overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 3;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}
.kw-n-format-text-line-clamp-4{
  height: auto;overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 4;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}
.kw-n-format-text-line-clamp-5{
  height: auto;overflow: hidden; display: -webkit-box; word-wrap: break-word; -webkit-line-clamp: 5;
  text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: normal !important;
}


