.func-add-param-modal-root {
  .half-row .ant-row {
    width: calc((100% - 16px) / 2);
  }

  .method-row {
    .ant-radio-wrapper {
      color: var(--kw-text-color);
    }

    .required::before {
      content: '*';
      display: inline-block;
      margin-right: 4px;
      color: var(--kw-error-color);
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
    }
  }

  .ant-modal-content {
    width: 800px;
    .m-footer {
      position: unset;
    }
  }

  .ant-modal-close-x {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    font-style: normal;
    line-height: 48px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
  }

  .m-header {
    height: 48px;
    .ant-modal-title {
      font-weight: 600;
      line-height: 16px;
    }
  }

  .m-content {
    // max-height: 608px;
    // width: 800px;
    height: auto;
  }

  .m-footer {
    position: unset;
    padding: 12px 24px;
    height: 56px;
    .ant-btn {
      min-width: 72px;
      height: 32px;
    }
  }
}
