.graphAnalysisConfigRoot {
  height: 100%;

  .config-content {
    height: calc(100% - 56px);
  }

  .config-footer {
    height: 56px;
    width: 100%;
    border-top: 1px solid var(--kw-line-color);
    background: #fff;
  }
}
