.configTreeRoot {
  .slideInput {
    display: flex;
    align-items: center;

    // antd 样式
    .ant-slider {
      flex-grow: 1;
      .ant-slider-track {
        background-color: var(--kw-primary-color);
      }
      .ant-slider-handle {
        border-color: var(--kw-primary-color);
      }
    }
    .ant-input-number {
      width: 70px;
      margin-left: 16px;
    }
  }
}
