.dbapi-config-publish {
  height: 100%;

  .scroll-wrap {
    height: calc(100% - 64px);
    overflow: auto;
    overflow: overlay;
  }

  .form-box {
    max-width: 1000px + 64px;
    margin: 0 auto;
    padding: 32px;

    .align-item {
      min-width: 120px;
    }

    .ant-checkbox-wrapper {
      margin-left: 0;
    }

    .ant-form-item-control-input {
      min-height: 22px !important;
    }
  }

  .footer-box {
    height: 64px;
    border-top: 1px solid var(--kw-line-color);
    text-align: center;
    line-height: 64px;

    button {
      height: 36px;
      margin: 0 8px;
    }
  }
}
