@border: 1px solid var(--kw-line-color);
.view-prompt-modal-root {
  .kw-universal-modal-content {
    padding: 0px;
  }
  .view-prompt-left {
    width: 296px;
    height: 550px;
    border-right: @border;
  }
  .view-prompt-right {
    width: calc(100% - 296px);
    max-height: 552px;
    overflow-y: auto;
    .right-code-mirror {
      border: @border;
      border-radius: 2px;
    }
  }
}
