.new-create-entity-head {
  // min-width: 1326px;
  display: flex;
  height: 64px;
  background: rgba(255, 255, 255, 1);

  .name {
    width: 33.3%;
    display: flex;

    .flow-back {
      width: 24px;
    }

    .back {
      .back-button {
        height: 32px;
        margin: 16px 14px 16px 24px;
      }
    }

    .entity-name {
      max-width: 130px;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--ad-heading-color);
      line-height: 64px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .icon {
      font-size: 14px;
      line-height: 64px;
      cursor: pointer;
      margin: 0 0 0 8px;
      color: var(--ad-text-color-secondary);
    }

    .icon:hover {
      color: var(--ad-primary-color);
    }
  }

  .tool {
    width: 33.3%;
    display: flex;

    .handle {
      width: 105px;
      cursor: pointer;
      text-align: center;

      .icon-box {
        height: 18px;
        margin: 13px 0 0 0;

        .hanle-icon {
          font-size: 18px;
        }
      }

      .word {
        font-size: 12px;
      }

      .word-o {
        margin: 6px 0 0 0;
      }

      .word-t {
        margin: 4px 0 0 0;
      }

      .word-h {
        margin: 6px 0 0 0;
      }

      .word-f {
        margin: 5px 0 0 0;
      }

      .word-k {
        margin: 3px 0 0 0;
      }
    }

    .handle:hover {
      background: var(--ad-hover-bg-color);
    }

    .handle-selected {
      background: var(--ad-select-bg-color);
    }

    .handle-view {
      opacity: 0.5;
      background: rgba(255, 255, 255, 1) !important;
    }

    .set {
      width: 1px;
      height: 42px;
      margin: 12px 0 0 2px;
      background: rgba(240, 240, 240, 1);
    }
  }

  .tool-center {
    justify-content: center;
  }

  .tool-right {
    flex-direction: row-reverse;
  }

  .info {
    width: 33.3%;
    display: flex;
  }
}

.edge-modal-qzdj-true {
  .modalTitle{
    display: flex;
    .title{
      font-size: 16px;
      font-weight: 500;
      margin-right: 12px;
    }
    .tip{
      display: flex; 
      font-size: 12px;
      align-items: center;
      color: rgba(0,0,0,.65);
      .tipIcon{
        color: #faad14;
        margin-right: 8px; 
        font-size: 16px;
      }
    }
  }
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-content {
    min-width: 1000px;
    height: 600px;
  }
}

.add-modal-cancel {
  height: 36px;
}

.add-modal-save {
  height: 36px;
  margin: 0 20px 0 10px;
}

.set-entity-244-edit {
  top: 244px;

  .ant-modal-body {
    padding: 24px 0 0 0;
  }
}
