@border: 1px solid var(--kw-line-color);

.thesaurus-mode-create-graph-table-root {
  height: calc(100% - 56px);
  // .ant-table-body {
  //   height: 700px;
  // }

  .thesaurus-table-root-empty {
    .ant-table-body {
      height: 700px;
    }
  }

  .ant-table-tbody > tr > td:first-child {
    padding-left: 8px;
  }

  .ant-table.ant-table-bordered > .ant-table-title {
    display: none;
  }

  .rowSpan {
    vertical-align: top;
  }

  .ant-table-tbody > tr > td:not(:last-child) {
    border-right: @border;
  }

  .ant-table.ant-table-bordered > .ant-table-container {
    border-left: none;
  }
  .ant-table-thead > tr > th {
    background-color: #fff;
  }
  .error-input {
    border: 1px solid var(--kw-error-color) !important;
  }
  .ant-table:not(.ant-table-bordered) .ant-table-thead > tr > th {
    border-top: none;
  }
  .name {
    max-width: 210px;
  }
  // .noData-box,
  // .no-result-box {
  //   margin-top: 120px;
  // }
  .thesaurus-select {
    width: 100%;
  }
  .separator-box {
    width: 80px;
  }
}
