.manage-mf-prompt-config-root {
  height: calc(100% - 44px);
  flex-flow: column;

  .prompt-config-main {
    height: calc(100% - 50px);
    overflow-y: auto;
    justify-content: center;
    .main-content {
      width: 1000px;
    }
    .ant-tree-select-dropdown {
      padding: 8px 0px;
    }
    .ant-select-tree-node-content-wrapper-normal {
      padding: 4px 32px;
    }
    .ant-select-tree-indent {
      display: none;
    }
    .ant-select-tree-switcher-noop {
      display: none;
    }
    .ant-select-tree-node-selected {
      background-color: var(--kw-select-bg-color) !important;
    }
  }
  .footer-box {
    border-top: 1px solid var(--kw-line-color);
  }
  .icon-radio-item {
    position: relative;
    &.checked::after {
      content: '';
      position: absolute;
      left: -6px;
      right: -6px;
      top: -6px;
      bottom: -6px;
      border: 1px solid rgba(0, 0, 0, 0.65);
      border-radius: 4px;
    }
  }
}
