.pathExplore-select-box {

  .selectOption {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 2px 6px 0 0;
    border-radius: 9px;
  }

  .select-node-box {
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 97px;
    margin-top: 16px;
    background: rgba(245, 248, 250, 0.5000);
    border-radius: 3px;

    .select-box-left {
      width: 97%;
    }

    .startpoint {
      height: 46px;
      line-height: 46px;
      margin: 0 20px;
      border-bottom: 1px dashed var(--ad-line-color);
    }

    .endpoint {
      height: 46px;
      line-height: 46px;
      margin: 0 20px;
    }

    .node-color {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: #DA4454;
      border-radius: 10px;
      border: 1px solid #E5E5E5;
    }

    .change-icon {
      height: 97px;
      line-height: 97px;
      margin-right: 12px;
      cursor: pointer;
    }
  }

  .error-text {
    height: 20px;
    font-size: 12px;
    color: var(--ad-error-color);
  }

  .expore-btn-box {

    .expore-btn {
      width: 360px;
      height: 32px;
    }
  }

  .ant-select-clear {
    top: 40% !important;
  }
}