.editorIntentionRoot {
  .focusBorder {
    border-color: var(--kw-primary-color);
  }

  .errorWrapper {
    height: 32px;
    padding: 4px 12px;
    background: #ffffff;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
}
