.custom-config-service-table-root {
  .name-color {
    max-width: 264px;
  }

  .table-status {
    align-items: center;
    justify-content: left;

    .status-color {
      width: 6px;
      height: 6px;
      border-radius: 6px;
    }
  }

  .text-color {
    color: rgba(0, 0, 0, 0.25);
  }

  .noData-box {
    flex-flow: column;
    align-items: center;
    padding-bottom: 42px;

    .noData-text {
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .desc-color {
    font-size: 12px;
    color: var(--kw-text-color-secondary);
    width: 296px;
  }

  .desc-color {
    font-size: 12px;
    width: 296px;
  }

  .api-view {
    .api-icon {
      font-size: 12px;
    }
  }

  .api-view:hover {
    text-decoration: underline;
  }

  .ant-btn > span + .anticon {
    margin-left: 4px;
  }

  .serviceIdBox {
    .copyIcon {
      display: none;
    }

    &:hover {
      .copyIcon {
        display: block;
      }
    }
  }

  .custom-description {
    .text-show {
      max-width: 210px;
      display: inline-block;
      margin-right: 7px;
    }
  }

  .custom-description:hover {
    color: #126ee3;
  }

  .main-table {
    min-width: 1000px;

    .ant-dropdown-menu-item {
      padding: 4px 22px;
    }
  }

  .ant-dropdown {
    width: 88px;

    .ant-dropdown-menu-item {
      height: 40px;
      padding: 10px 16px;
    }
  }
}

.ant-dropdown-menu-item-disabled {
  color: var(--kw-disabled-color);
}
