.modalImportRoot {
  .formContainer{
    margin-top: -15px;
    .extraBox{
      margin-top: 10px;
      .fileExtra{
        font-size: 12px;
        margin-top: 5px;
      }   
    }
    .methodOption{
      color: rgba(0,0,0,.65)
    }
  }
  // antd 样式
  .ant-modal-title{
    font-weight: 600;
  }
  .ant-form-item-label > label {
    height: 28px;
  }
}
