.kg-cognitive-engine {
  width: 100%;
  min-height: 600px;
  height: calc(100vh - 54px);
  background-color: #fff;

  .menuSelect {
    .selected {
      background-color: rgba(18, 110, 227, 0.06);
    }
  }

}