.iframeDocumentRoot {
  width: 100%;
  height: 100%;
  padding: 32px 0 0;
  position: relative;

  .document-menu {
    position: fixed;
    top: 100px;
    right: calc((100% - 1000px) / 2 - 40px);
    z-index: 10;
    transform: translateX(100%);

    .document-menu-item {
      height: 32px;
      padding-left: 14px;
      line-height: 32px;
      border-left: 1px solid var(--kw-line-color);

      a {
        color: var(--kw-heading-color);
      }
    }

    .menuSelected {
      border-left: 1px solid var(--kw-primary-color);

      a {
        color: var(--kw-primary-color);
      }
    }
  }

  .ant-divider-horizontal.ant-divider-with-text {
    margin: 0 !important;
  }

  .iframeDocumentTop {
    height: 48px;
    width: 1000px;
    margin: 0 auto 24px;

    .name {
      height: 30px;
      font-size: 24px;
      line-height: 28px;
      width: 100%;
    }
  }

  .iframeDocumentContent {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 32px;
    height: calc(100% - 48px - 24px);
    overflow-y: auto;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h2 {
    margin-top: 32px;
    font-weight: 600;
  }

  pre {
    border-radius: 4px;
    padding: 12px 0px 12px 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.04);
  }

  .moduleName {
    margin-top: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  table td {
    padding-left: 8px;
  }

  table th {
    height: 48px;
    padding-left: 8px;
    background-color: #fafafa;
    color: var(--kw-heading-color);
  }

  table th:first-of-type {
    width: 130pt;
  }

  table th:nth-of-type(2) {
    width: 150pt;
  }

  table th:nth-of-type(3) {
    width: 120pt;
  }

  table th:nth-of-type(4) {
    width: 350pt;
  }

  tbody tr {
    height: 48px;
  }

  .event {
    table th:first-of-type {
      width: 152pt;
    }

    table th:nth-of-type(2) {
      width: 600pt;
    }
  }

  .ant-tabs {
    .ant-tabs-tab-btn {
      min-width: 110px;
      text-align: center;
    }

    .ant-tabs-nav {
      margin: 0;
    }
  }
}
